
@{
                /**/

                Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity
@model SiliconValley.InformationSystem.Entity.MyEntity.TeacherNight
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditView</title>
    <link href="~/Scripts/Tangmin_CssAndJs/com_js/MyOrther_tangmin.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .layui-textarea
        {
            width: 130px;
            height: 38px;
            border-radius: 5px;
            min-height: 30px;
        }
    </style>
</head>
<body>
    <div style="margin-top:20px">
        <form class="layui-form" id="Teachernighteditfrom" lay-filter="Teachernighteditfrom">
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">值班老师:</label>
                    <div class="layui-input-block">
                        @Html.HiddenFor(t => t.Id)
                        @Html.DropDownList("Tearcher_Id", ViewBag.teacherlist as List<SelectListItem>, new Dictionary<string, object>() { { "class", "layui-select" } })
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">值班日期:</label>
                    <div class="layui-input-block">
                        <input id="OrwatchDate" name="OrwatchDate" value="@ViewBag.time" class="layui-input" />
                    </div>
                </div>
            </div>

            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">班级:</label>
                    <div class="layui-input-block">
                        <label class="LableCss1">
                            @ViewBag.className
                        </label>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">值班时间:</label>
                    <div class="layui-input-block">
                        @Html.DropDownList("timename", ViewBag.timenamelist as List<SelectListItem>, new Dictionary<string, object>() { { "class", "layui-select" } })
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">校区:</label>
                    <div class="layui-input-block">
                        @Html.DropDownList("SchoolAddress", ViewBag.Schooladdress as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "class", "layui-select" }, { "lay-filter", "schoolAddress" } })
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">其他说明::</label>
                    <div class="layui-input-block">
                        <textarea name="Rmark" id="Rmark" class="layui-textarea">
                        </textarea>
                    </div>
                </div>

            </div>

            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">所在教室:</label>
                    <div class="layui-input-block">
                        <span id="classroom" class="LableCss1">@ViewBag.classroom </span>
                        <input id="ClassRoom_id" name="ClassRoom_id" type="hidden" value="@Model.ClassRoom_id"/>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="LableCss1">选择教室:</label>
                    <div class="layui-input-block">
                        <div id="uldiv">
                            <ul id="ultree"></ul>
                        </div>
                    </div>
                </div>
            </div>
             
            <div class="layui-row layui-form-item" style="margin-top:40px;text-align:center">
                <button class="layui-btn" type="button" lay-submit="" lay-filter="Isture">修改</button>
                <button class="layui-btn" type="button" onclick="Myclose()">取消</button>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use(['form', 'laydate','tree'], function () {
            var form = layui.form;
            var laydate = layui.laydate;
            var tree = layui.tree;
            //日期
            laydate.render({
                elem: '#OrwatchDate',
                format: 'yyyy-MM-dd'
            });

            //获取教室
            //渲染
            function Tree(Successdata) {
                tree.render({
                    elem: '#ultree',
                    data: [{
                        title: '所有空教室',
                        id: "-1",
                        spread: false,
                        children: Successdata
                    }],
                    click: function (obj) {
                        var dataid = obj.data.id; //得到当前点击的节点数据
                        if (dataid != "-1") {
                            $("#classroom")[0].innerText = obj.data.title;
                            $("#ClassRoom_id")[0].value = dataid;
                        } else {
                            layer.msg("请选择有效的教室!!!", { icon: 2 });
                        }

                    }
                });
            }
            form.on('select(schoolAddress)', function (data) {
                if (data.value != "0") {
                    var data1 = form.val("Teachernighteditfrom");
                    var new_data = { "time": data1.OrwatchDate, "timename": data1.timename, "schooladdress": data.value };
                    $.ajax({
                        url: '/Educational/TeacherNight/GetEmtpyClassroom',
                        type: 'POST',
                        data: new_data,
                        success: function (suc) {
                            Tree(suc);
                        }
                    });
                }
            });

            //监听修改
            form.on('submit(Isture)', function (data) {
                var index = layer.load();
                if (data.field.Tearcher_Id == "0") {
                    layer.msg("请选择值班老师！！", { icon: 2 });
                } else if (data.field.OrwatchDate.length <= 0) {
                    layer.msg("请选择值班日期！！", { icon: 2 });
                } else if (data.field.ClassRoom_id.length <= 0) {
                    layer.msg("请选择教室！！", { icon: 2 });
                } else {
                    $.ajax({
                        url: '/Educational/TeacherNight/EditFunction',
                        type: 'POST'
                        , data: data.field
                        , success: function (suda) {
                            if (suda.Success == false) {
                                layer.close(index);
                                layer.msg(suda.Msg, { icon: 2 });

                            } else {
                                layer.close(index);
                                layer.msg(suda.Msg, { icon: 1, shade: 0.8 }, function () {
                                    window.parent.TableFulsh();
                                    Myclose();
                                });
                            }
                        }
                    });
                }
                
                return false;
            });
        });

        //关闭弹出层
        function Myclose() {
            var layer = layui.layer;
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }
    </script>
</body>
</html>
