
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.MyEntity.NetClientRecord
@using SiliconValley.InformationSystem.Entity.MyEntity;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddNetConsultStuinfo</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            height: 120px;
        }
    </style>

</head>
<body>
    <div>
        <form class="layui-form" action="">
            <div class="layui-container">

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">姓名</label>
                        <div class="layui-input-inline">
                            @Html.TextBoxFor(a => a.StuName, new Dictionary<string, object>() { { "lay-verify", "required" }, { "placeholder", "请输入姓名" }, { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">性别</label>
                            <div class="layui-input-block">
                                <input type="radio" name="StuSex" value="False" title="男" checked="">
                                <input type="radio" name="StuSex" value="True" title="女">
                            </div>
                       
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">年龄</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.StuAge, new Dictionary<string, object>() { { "lay-verify", "number" },  { "class", "layui-input " } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">登记者</label>
                        <div class="layui-input-inline">
                            @Html.DropDownListFor(a => a.EmployeeId, ViewBag.nettea as SelectList, new Dictionary<string, object>() { { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.ContactInformation, new Dictionary<string, object>() { { "lay-verify", "required|phone" }, { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">信息来源</label>
                        <div class="layui-input-inline">
                            @Html.TextBoxFor(a => a.InformationSource, new Dictionary<string, object>() { { "class", "layui-input " } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">市场对接老师</label>
                        <div class="layui-input-block">
                            @Html.DropDownListFor(a => a.MarketTeaId, ViewBag.markettea as SelectList, "--请选择--", new Dictionary<string, object>() { { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">学历</label>
                        <div class="layui-input-block">
                            <select name="Education" id="Education">
                                <option value="初中">初中</option>
                                <option value="高中">高中</option>
                                <option value="中专">中专</option>
                                <option value="大专">大专</option>
                                <option value="本科">本科</option>
                                <option value="小学">群众</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">QQ号</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.QQNum, new Dictionary<string, object>() { { "class", "layui-input " } })
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">微信号</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.WeChatNum, new Dictionary<string, object>() { { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">地区</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Region, new Dictionary<string, object>() { { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">是否面咨</label>
                        <div class="layui-input-block">
                            <input type="radio" name="IsFaceConsult" value="False" title="否" checked="">
                            <input type="radio" name="IsFaceConsult" value="True" title="是">
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">入学状态</label>
                             <div class="layui-input-block">
                                <input type="radio" name="IsDel" value="False" title="未入学" checked="">
                                <input type="radio" name="IsDel" value="True" title="已入学">
                            </div>
                    </div>
                    <div class="layui-col-xs8 layui-col-sm8 layui-col-md8">
                        <label class="layui-form-label">回访情况</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(a => a.CallBackCase, new Dictionary<string, object>() {  { "class", "layui-input linu" } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label">第二次回访</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(a => a.SecondCallBack, new Dictionary<string, object>() { { "class", "layui-input linu" } })
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label">第三次回访</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(a => a.ThirdCallBack, new Dictionary<string, object>() { { "class", "layui-input linu" } })
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1" style="margin-left:300px;">立即提交</button>
                    <button class="layui-btn " id="btnclose1">关闭</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            //日期验证
            laydate.render({
                elem: '#NetClientDate',
            });

            //动态绑定岗位属性的下拉框的值
            $.ajax({
                url: '/Market/NetClientRecord/BindPidSelect',
                dataType: 'json',
                type: 'get',
                success: function (data) {
                    console.log(data.data);
                    $.each(data.data, function (index, item) {
                        $('#Pid').append(new Option(item.PositionName, item.Pid));// 下拉菜单里添加元素
                    });
                    layui.form.render("select");
                    //重新渲染 固定写法
                }
            });

            //添加提交
            form.on('submit(demo1)', function (data) {
                console.log('添加提交：'+data);
                $.post("/Market/NetClientRecord/AddNetConsultStuinfo", data.field, function (data) {
                    if (data.Success) {
                        layer.alert("添加成功!", { icon: 1 }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layui.table.reload('mynetinfo');
                            parent.layer.close(index);

                        });
                    } else {
                        layer.alert("添加失败!");
                    }
                });
                return false;
            });


            //关闭添加页面
            $("#btnclose1").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });

        });
    </script>

</body>
</html>