
@{
    Layout = null;
}

<!DOCTYPE html>
@model SiliconValley.InformationSystem.Entity.MyEntity.NetClientRecord
@using SiliconValley.InformationSystem.Entity.MyEntity;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailInfo</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            height: 120px;
        }
    </style>

</head>
<body>
    <div>
        <form class="layui-form" action="" lay-filter="formtest">
            <div class="layui-container">
                <input id="Id" name="Id" type="hidden" value="@ViewBag.Id" />
                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">姓名:</label>
                        <div class="layui-input-inline">
                            @Html.TextBoxFor(a => a.StuName, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">性别:</label>
                        <div class="layui-input-block ">
                            <input type="radio" name="StuSex" readonly value="false" title="男">
                            <input type="radio" name="StuSex" readonly value="true" title="女">
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">年龄:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.StuAge, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "lay-verify", "number" }, { "class", "layui-input " } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">登记者:</label>
                        <div class="layui-input-inline">
                            @Html.DropDownListFor(a => a.EmployeeId, ViewBag.nettea as SelectList, new Dictionary<string, object>() {{ "style", "border:0px" },  { "disabled", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">联系方式:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.ContactInformation, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">信息来源:</label>
                        <div class="layui-input-inline">
                            @Html.TextBoxFor(a => a.InformationSource, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label" style="margin-left:-60px;width:130px;">市场对接老师:</label>
                        <div class="layui-input-block">
                            @Html.DropDownListFor(a => a.MarketTeaId, ViewBag.markettea as SelectList, new Dictionary<string, object>() { { "disabled", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">学历:</label>
                        <div class="layui-input-block " style="border:0px" >
                            <select name="Education" id="Education" disabled>
                                <option value="初中">初中</option>
                                <option value="高中">高中</option>
                                <option value="中专">中专</option>
                                <option value="大专">大专</option>
                                <option value="本科">本科</option>
                                <option value="小学">群众</option>
                            </select>
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">QQ号:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.QQNum, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">微信号:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.WeChatNum, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">地区:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Region, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">是否面咨:</label>
                        <div class="layui-input-block" >
                            <input type="radio" name="IsFaceConsult" readonly value="false" title="否" >
                            <input type="radio" name="IsFaceConsult" readonly value="true" title="是">
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">入学状态:</label>
                        <div class="layui-input-block ">
                            <input type="radio" name="IsDel" readonly value="false" title="未入学">
                            <input type="radio" name="IsDel" readonly value="true" title="已入学">
                        </div>

                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">登记时间:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.NetClientDate, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">回访情况:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.CallBackCase, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label">第二次回访:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.SecondCallBack, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input linu" } })
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label">第三次回访:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.ThirdCallBack, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input linu" } })
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-form-item">
                <div class="layui-input-block" style="margin-left:450px;">
                    <button class="layui-btn " id="btnclose1">关闭</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        $(function () {
            loadnetinfo();// 初始化编辑数据加载
        });
        function loadnetinfo() {
            var id = $("#Id").val();
            console.log(id);
            $.get("/Market/NetClientRecord/GetNetById/" + id, function (data) {
                layui.use(['layer', 'form', 'table'], function () {
                    var form = layui.form;
                    data.StuSex = data.StuSex.toString();
                    data.IsFaceConsult = data.IsFaceConsult.toString();
                    data.IsDel = data.IsDel.toString();
                    data.NetClientDate = changeDateTimeFormat(data.NetClientDate);
                    form.val("formtest", data);

                });
            })
        }

        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

          

            //关闭添加页面
            $("#btnclose1").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layui.table.reload('mynetinfo');
                parent.layer.close(index);
            });

        });


        //格式化时间
        function changeDateTimeFormat(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + ss;
            } else {
                return "";
            }
        }
    </script>
</body>
</html>

