
@{
    Layout = null;
}

<!DOCTYPE html>
@model SiliconValley.InformationSystem.Entity.ViewEntity.NetClientRecordView
@using SiliconValley.InformationSystem.Entity.ViewEntity
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditCallbackInfo</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            height: 120px;
        }

        .LableCss1 {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }
    </style>

</head>
<body>
    <div>
        <form class="layui-form" action="" lay-filter="formtest">
            <div class="layui-container">
                <input id="Id" name="Id" type="hidden" value="@ViewBag.Id" />
                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">姓名:</label>
                        <div class="layui-input-inline">
                            <input type="text" name="StuName" id="StuName" class="layui-input" style="border:0px" readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">性别:</label>
                        <div class="layui-input-block">
                            <input type="text" name="StuSex" id="StuSex" class="layui-input" style="border:0px" readonly="readonly">
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">联系电话:</label>
                        <div class="layui-input-block">
                            <input type="text" name="StuPhone" id="StuPhone" class="layui-input" style="border:0px" readonly="readonly">
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">备案人:</label>
                        <div class="layui-input-block">
                            <input type="text" name="SprEmp" id="SprEmp" class="layui-input" style="border:0px" readonly="readonly">
                        </div>

                    </div>
                </div>
                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                        <label class="layui-form-label">回访次数:</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" readonly="readonly" style="border:0px" value="@ViewBag.Number" />
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <input type="hidden" id="MarketTeaId" name="MarketTeaId" class="layui-input" />
                        <label class="layui-form-label" style="margin-left:-60px;width:140px;">市场对接老师:</label>
                        <div class="layui-input-block">
                            <input type="text" id="Channelemp" name="Channelemp" class="layui-input" style="width:250px;" readonly="readonly" />
                            <i class="layui-icon layui-icon-search" id="iconbtn" style="font-size: 25px; color:lightseagreen;float:left;margin:-28px 250px;"></i>
                        </div>
                    </div>

                </div>

            </div>

        </form>
        <div class="layui-tab" lay-filter="test">
            <ul class="layui-tab-title">
                @{
                    List<NetClientRecordView> list = (ViewBag.ncrlist) as List<NetClientRecordView>;
                    int i = 1;
                    if (list.Count > 0)
                    {
                        foreach (var item in list)
                        {

                            <li id=@item.Id name="@item.Id" class="layui-this">第<span>@i</span>次跟踪</li>

                            i++;
                        }
                    }
                    else
                    {
                        <li class="layui-this">系统温馨提示</li>
                    }
                }
            </ul>
            <div class="layui-tab-content">
                @{
                    if (list.Count > 0)
                    {
                        <form class="layui-form" id="myform" lay-filter="myform">
                            <div class="layui-tab-item layui-show">
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <input type="hidden" id="F_Id" name="F_Id" value="@list[0].Id" />
                                        <input type="hidden" id="EmpId" name="EmpId" value="@list[0].EmpId" />
                                        <label class="layui-form-label">回访人:</label>
                                        <div class="layui-input-block">
                                            <input class="layui-input" id="Empname" name="Empname" disabled="disabled" value="@list[0].Empname" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="layui-form-label">跟踪日期:</label>
                                        <div class="layui-input-block">
                                            <input class="layui-input" id="NetClientDate" name="NetClientDate" disabled="disabled" value="@list[0].NetClientDate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="LableCss1">学生等级:</label>
                                        <div class="layui-input-block">
                                            <input class="layui-input" id="Grade" name="Grade" disabled="disabled" value="@list[0].Grade" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="layui-form-label">跟踪情况:</label>
                                        <div class="layui-input-block">
                                            <textarea class="layui-input linu" id="CallBackCase" name="CallBackCase">
                                                         @list[0].CallBackCase 
                                                    </textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn " lay-submit="" lay-filter="demo" style="margin-left:300px;">立即提交</button>
                                        <button class="layui-btn " id="btnclose1">关闭</button>
                                    </div>
                                </div>

                            </div>
                     
                        </form>
                    }
                    else
                    {
                        <div class="layui-tab-item layui-show">
                            <h3>
                                该学生还没有跟踪信息哟!!!
                            </h3>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="layui-form-item" >
            <div class="layui-input-block">
                <button class="layui-btn " lay-submit="" lay-filter="demo" style="margin-left:300px;">立即提交</button>
                <button class="layui-btn " id="btnclose1">关闭</button>
            </div>
        </div>


    </div>

    <script>
        $(function () {
            loadnetinfo();// 初始化编辑数据加载
        });
        function loadnetinfo() {
            var id = $("#Id").val();
            $.get("/Market/NetClientRecord/GetCallbackInfoById/" + id, function (data) {
                layui.use(['layer', 'form', 'table'], function () {
                    var form = layui.form;
                    var count =@ViewBag.Number;
                    console.log("跟踪数量：" + count);
                    if (count>0) {
                        data.Empname = $("#Empname").val();
                        data.NetClientDate = changeDateTimeFormat($("#NetClientDate").val());
                        data.Grade = $("#Grade").val();
                        data.CallBackCase = $("#CallBackCase").val();
                    }
                    form.val("formtest", data);

                });
            });

        }

        //返回选择的"市场对接老师"对象
        function GetEmpData(Itemnames) {
            $("#MarketTeaId").val(Itemnames.empid);
            $("#Channelemp").val(Itemnames.empname);
            console.log("返回的：" + Itemnames.empid + "," + Itemnames.empname);
            console.log("市场老师编号：" + $("#MarketTeaId").val());
            console.log("市场老师名称：" + $("#Channelemp").val());

        }

        layui.use(['form', 'layedit', 'laydate','element'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , element = layui.element;

            //"市场对接老师"选择
            $("#iconbtn").click(function () {
                console.log("图标点击");
                layer.open({
                    type: 2
                    , area: ["500px", "400px"]
                    , title: "选择员工"
                    , content: '/Market/NetClientRecord/SelectChannelemp'
                    , anim: 2
                });
            });

            //日期验证
            laydate.render({
                elem: '#NetClientDate',
            });

            element.on('tab(test)', function (data) {
                console.log(this); //当前Tab标题所在的原始DOM元素
                console.log("下标："+data.index); //得到当前Tab的所在下标
                console.log(data.elem); //得到当前的Tab大容器
            });

            //添加提交
            form.on('submit(demo)', function (data) {
               
                console.log("改变的情况：" + $("#CallBackCase").val());
                data.field.callbackdata = JSON.stringify(CallBackList());
                console.log("添加的回访数据：" + data.field.callbackdata);
                $.post("/Market/NetClientRecord/EditCallbackInfo", data.field, function (data) {
                    if (data.Success) {
                        layer.alert("编辑成功!", { icon: 1 }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layui.table.reload('mynetinfo');
                            parent.layer.close(index);

                        });
                    } else {
                        layer.alert("编辑失败!");
                    }
                });
                return false;
            });


            //关闭添加页面
            $("#btnclose1").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });

        });

        //给ul中的li注册点击事件
        $(".layui-tab-title li").click(function () {
            var fid = $(this).attr("id");
            $("#F_Id").val(fid);
            console.log("跟踪id:" + fid);
            $.ajax({
                url: '/Market/NetClientRecord/GetCallBackInfoByNid/' + fid,
                type: "GET",
                success: function (SucData) {
                    if (SucData.Success) {
                        layui.use('form', function () {
                            var form = layui.form;
                            console.log("回访人:" + SucData.Data.Empname);
                           
                            $("#Empname").val(SucData.Data.Empname);
                            $("#Grade").val(SucData.Data.Grade);
                            $("#CallBackCase").val(SucData.Data.CallBackCase);
                            $("#NetClientDate").val(changeDateTimeFormat(SucData.Data.NetClientDate));
                            form.render();
                        })

                    } else {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg('系统操作有误，请重试！！！', { icon: 2 });
                        });
                    }
                }
            });
        });

        //循环回访数据，将编辑后的数据存在数组中
        function CallBackList() {
            var arr = new Array();
            $(".layui-tab-title").each(function () {
                $(this).find('li').each(function () {
                    console.log($(this).attr("id"));

                    var obj = { "F_Id": $("#F_Id").val(), "CallBackCase": $("#CallBackCase").val() };
                    console.log(obj);
                    arr.push(obj);
                });
            });
            console.log("arr:"+arr);
            return arr;
        }

        //时间格式转换
        function changeDateTimeFormat(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + ss;
            } else {
                return "";
            }
        }
    </script>
</body>
</html>
