
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.MyEntity.Classroom
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddorEditView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        #but1
        {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

        #but1:hover
            {
                background-color: aqua;
            }

        #Nation
        {
            width: 100px;
        }

        .linu
        {
            width: 200px;
        }

        .mm
        {
            border: 1px solid black;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }

        .TextAreCss1
        {
            height: 80px;
        }

        .butCss1
        {
            float: right;
            margin-right: 100px;
        }

        .butCss2
        {
            border: 0px solid black;
        }

        .layButCss1
        {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            border: 0px solid #C9C9C9;
            background-color: #fff;
            color: #555;
            height: 18px;
            line-height: 18px
        }

        body .demo-class .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }

        body .demo-class2 .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }

        body .demo-class3 .layui-layer-title
        {
            background-color: #c02828;
            color: #fff;
        }

        .layui-unselect
        {
            width: 150px;
        }
    </style>
</head>
<body>
    <form class="layui-form" style="margin-top:30px;">
        <div class="layui-container">
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="layui-form-label">名称:</label>
                    <div class="layui-input-block">
                        @{
                            if (Model != null)
                            {
                                <input type="hidden" id="Id" name="Id" value="@Model.Id" />
                                <input type="text" id="ClassroomName" name="ClassroomName" readonly="readonly" placeholder="名称" class="layui-input linu" style="border:0px" value="@Model.ClassroomName"/>
                            }
                            else
                            {
                                <input type="text" id="ClassroomName" name="ClassroomName" lay-verify="required" placeholder="名称" class="layui-input linu" />
                            }
                        }


                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="layui-form-label">座位个数:</label>
                    <div class="layui-input-block">
                        @Html.TextBoxFor(c => c.Count, new Dictionary<string, object>() { { "lay-verify", "required|number|myisn" }, { "placeholder", "座位个数" }, { "class", "layui-input linu" } })
                    </div>
                </div>
            </div>      
            <div class="layui-row layui-form-item">
                @{
                    if (Model == null)
                    {
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">所属校区:</label>
                            <div class="layui-input-block">
                                @Html.DropDownListFor(c=>c.BaseData_Id, ViewBag.schools as IEnumerable<SelectListItem> , new Dictionary<string, object>() { { "class", "layui-select" } })
                            </div>
                        </div>
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">说明:</label>
                            <div class="layui-input-block">
                                @Html.TextAreaFor(c => c.Rmark, new Dictionary<string, object>() { { "placeholder", "说明" }, { "class", "layui-input TextAreCss1" } })
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="layui-col-xs10 layui-col-sm10 layui-col-md10">
                            <label class="layui-form-label">说明:</label>
                            <div class="layui-input-block">
                                @Html.TextAreaFor(c => c.Rmark, new Dictionary<string, object>() { { "placeholder", "说明" }, { "class", "layui-input TextAreCss1" } })
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <div class="layui-form-item" style="margin-top:80px;">
            <div class="layui-input-block">
                @{
                    if (Model == null)
                    {
                        <button class="layui-btn" lay-submit="" lay-filter="tijiao">添加</button>
                    }
                    else
                    {
                        <button class="layui-btn" lay-submit="" lay-filter="tijiao">编辑</button>
                    }
                }

                <button class="layui-btn butCss1" onclick="MyClose()">取消</button>
            </div>
        </div>
    </form>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        function MyClose() {
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭   
        }
        var mm = "";
        layui.use(['form'], function () {
            var form = layui.form;
            //自定义验证规则
            form.verify({
                myisn: function (value) {
                    if (value <= 0) {
                        return '数量不能为0或负数！！！';
                    }
                }
            });

            //提交
            form.on('submit(tijiao)', function (data) {
                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                $.ajax({
                    url: '/Educational/Classroom/AddorEditFunction',
                    data: data.field,
                    type:'POST',
                    success: function (sucdata) {
                        if (sucdata == "ok") {
                            layer.msg('操作成功！', { icon: 1, shade: 0.8 }, function () {
                                window.parent.tableFulis();
                                MyClose();
                            });
                        } else {
                            layer.msg(sucdata, { icon: 2}, function () {
                                window.parent.tableFulis();
                            });
                        }
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
    </script>
</body>
</html>
