
@{
    Layout = null;
}
@model  SiliconValley.InformationSystem.Entity.MyEntity.EmploymentStaff
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEmployStaff</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>


</head>
<body>

    <div class="layui-container">

        <form class="layui-form" lay-filter="addemploy">
            <fieldset>
                <legend>基本信息</legend>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">员工编号</label>

                        <div class="layui-input-inline">
                            <input type="tel" value="@ViewBag.Emp.EmployeeId" name="EmployeesInfo_Id" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">员工姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" value="@ViewBag.Emp.EmpName" readonly name="Name" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-inline">

                            <input type="radio" name="sex" value="@ViewBag.Emp.Sex" checked title="@ViewBag.Emp.Sex">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">入职时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="inputtime" value="@ViewBag.Emp.EntryTime" readonly id="date"  placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-inline">

                            <input type="text" value="@ViewBag.Emp.Phone" readonly name="Phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">区域分配</label>
                        <div class="layui-input-inline">
                            @Html.DropDownListFor(s => s.AreaID, ViewBag.Area as IEnumerable<SelectListItem>)
                        </div>
                    </div>
                </div>



            </fieldset>

            <fieldset>

                <legend>可添加的信息</legend>
                <input type="hidden" value="@ViewBag.Emp.EmployeeId" name="EmployeesInfo_Id" />
                <div class="layui-form-item layui-form-text">
                    @*@Html.DisplayFor(d => d.AttendClassStyle)*@
                    <label class="layui-form-label">带班经验</label>
                    <div class="layui-input-block">
                        @Html.TextAreaFor(d => d.AttendClassStyle, new { @class = "layui-textarea" })
                    </div>
                </div>



                <div class="layui-form-item layui-form-text">
                    @*@Html.DisplayFor(d => d.TeachingExperience)*@
                    <label class="layui-form-label">就业经验</label>
                    <div class="layui-input-block">

                        @Html.TextAreaFor(d => d.EmployExperience, new { @class = "layui-textarea" })
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    @*@Html.DisplayFor(d => d.WorkExperience)*@
                    <label class="layui-form-label">工作经验</label>
                    <div class="layui-input-block">

                        @Html.TextAreaFor(d => d.WorkExperience, new { @class = "layui-textarea" })
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    @*@Html.DisplayFor(d => d.WorkExperience)*@
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">

                        @Html.TextAreaFor(d => d.Remark, new { @class = "layui-textarea" })
                    </div>
                </div>
                <div style="text-align:center;">
                    <button class="layui-btn" id="submit" lay-submit="" lay-filter="addemploy">提交</button>

                    <button class="layui-btn" id="close" type="button">
                        关闭
                    </button>
                </div>
            </fieldset>
        </form>
    </div>

    <script src="~/Scripts/layui/layui.js"></script>


    <script>
        layui.use(['form', 'layer','table'], function () {

            var form = layui.form;
            var layer = layui.layer;
            var table = layui.table;
            
            form.on('submit(addemploy)', function (data) {
                console.log(data.field)
                //当前容器的全部表单字段，名值对形式：{name: value}
                //阻止表单跳转。如果需要表单跳转，去掉这段即可。


                var loadindex = layer.load(2); //又换了种风格，并且设定最长等待10秒

                $.ajax({
                    url: "/Obtainemployment/EmploymentCommissioner/AddEmployStaff",
                    type: "POST",
                    data: data.field,
                    timeout: 5000,
                    dataType: 'json',
                    success: function (successResult) {
                        console.log(successResult);
                        layer.close(loadindex);

                        layer.msg(
                            successResult.Msg,
                            { icon: 6,time: 1000},
                            function () {

                            //当你在iframe页面关闭自身时
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭

                        });
                    },
                    error: function (errorResult) {
                        console.log(errorResult);
                        layer.close(loadindex);

                        layer.msg("网络连接错误!");

                    }
                });

                return false;
            });

            $(document).keydown(function (event) {

                console.log(event.keyCode);

                if (event.keyCode == 13) {

                    $("#submit").click();

                }

            });

            $("#close").click(function () {
                //当你在iframe页面关闭自身时
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭

            });


        });
    </script>
</body>
</html>
