@{
    Layout = null;
}
@model  SiliconValley.InformationSystem.Entity.MyEntity.EmploymentStaff
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <style>

        #jiben input {
            border: 0px solid #ffffff;
        }
    </style>

</head>
<body>
    <div>

        @*<h1 style="text-align:center;">修改教员信息</h1>*@


        <hr />
        <form class="layui-form" lay-filter="editteacher">
        

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">员工编号</label>

                        <div class="layui-input-inline">
                            <input type="tel" value="@ViewBag.empinfo.EmployeeId" name="Number" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">员工姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" value="@ViewBag.empinfo.EmpName" readonly name="Name" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-inline">

                            <input type="radio" name="sex" value="@ViewBag.empinfo.Sex" checked title="@ViewBag.empinfo.Sex">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">入职时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="inputtime" value="@ViewBag.empinfo.EntryTime" readonly id="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-inline">

                            <input type="text" value="@ViewBag.empinfo.Phone" readonly name="Phone" autocomplete="off" class="layui-input">
                        </div>
                    </div>

                    <div class="layui-inline">
                        <label class="layui-form-label">区域分配</label>
                        <div class="layui-input-inline">
                            @Html.DropDownListFor(s => s.AreaID, ViewBag.Area as IEnumerable<SelectListItem>)
                        </div>
                    </div>
                </div>
       



                @Html.HiddenFor(a => a.ID)

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">带班经验</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容  长度不超过200" maxlength="200" class="layui-textarea" name="AttendClassStyle">@Model.AttendClassStyle</textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">就业经验</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容  长度不超过200" maxlength="200" class="layui-textarea" name="EmployExperience">@Model.EmployExperience</textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">工作经验</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容  长度不超过200" maxlength="200" class="layui-textarea" name="WorkExperience">@Model.WorkExperience</textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">备注</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容  长度不超过200" maxlength="200" class="layui-textarea" name="Remark">@Model.Remark</textarea>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block" style="text-align:center;">
                        <button class="layui-btn" id="submit" lay-submit="" lay-filter="editEmploystaff">确定</button>
                    </div>
                </div>


        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Areas/Teaching/Scripts/Ajax.js"></script>
    <script>

        layui.use(['form', 'layer'], function () {

            var form = layui.form;
            var layer = layui.layer;

            var jointiem = $("#date").val();

            var date = new Date(jointiem);

            var year = date.getFullYear();

            var mouth = date.getMonth() + 1;

            var day = date.getDate();

            $("#date").val(year + '年' + mouth + '月' + day + '日');

            var form = layui.form;
            var laydate = layui.laydate;

            form.on('submit(editEmploystaff)', function (data) {
                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                //阻止表单跳转。如果需要表单跳转，去掉这段即可。

                var loadindex = layer.load(2); //又换了种风格，并且设定最长等待10秒

                $.ajax({
                    url: "/Obtainemployment/EmploymentCommissioner/EditEmployStaff",
                    type: "POST",
                    data: data.field,
                    timeout: 5000,
                    dataType: 'json',
                    success: function (successResult) {
                        console.log(successResult);
                        layer.close(loadindex);
                        layer.msg(
                            successResult.Msg,
                            { icon: 6, time: 1000 },
                            function () {

                                //当你在iframe页面关闭自身时
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭

                            });
                    },
                    error: function (errorResult) {
                        console.log(errorResult);
                        layer.close(loadindex);

                        layer.msg("网络连接错误!");

                    }
                });

                return false;
            });


            $(document).keydown(function (event) {

                console.log(event.keyCode);

                if (event.keyCode == 13) {

                    $("#submit").click();

                }

            });

        });


    </script>

</body>
</html>




