
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.ViewEntity
@model  SiliconValley.InformationSystem.Entity.ViewEntity.PutStudentDataView
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetStudent</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>

        .DivCss{
        width:95%;
        height:100%;
        margin-top:20px;
        margin-left:auto;
        margin-right:auto;
        margin-bottom:auto;
        }

        .inputCss{
          border-top:0px;
          border-left:0px;
          border-right:0px;
          border-bottom:1px dashed black;          
        }
    </style>
</head>
<body>
    <div class="DivCss">
        <form class="layui-form">
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="layui-form-label">学生姓名:</label>
                    <div class="layui-input-block">
                        <input type="text" disabled class="inputCss layui-input" name="StudentName" id="StudentName" value="@Model.StuName"/>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="layui-form-label">所在班级:</label>
                    <div class="layui-input-block">
                        <input type="text" disabled class="inputCss layui-input" name="IntoClass layui-input" id="IntoClass" value="@Model.className"/>
                    </div>
                </div>
            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="layui-form-label">班&nbsp; 主&nbsp;任:</label>
                    <div class="layui-input-block">
                        <input type="text" disabled class="inputCss layui-input" name="heandMaster" id="heandMaster" value="@Model.HearName"/>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="layui-form-label">教学老师:</label>
                    <div class="layui-input-block">
                        <input type="text" disabled class="inputCss layui-input" name="teacherName" id="teacherName" value="@ViewBag.Teacher"/>
                    </div>
                </div>

            </div>
            <div class="layui-row layui-form-item">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="layui-form-label">目前阶段:</label>
                    <div class="layui-input-block">
                        <input type="text" disabled class="inputCss layui-input" name="grandName" id="grandName" value="@Model.GrandName"/>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                    <label class="layui-form-label">所学专业:</label>
                    <div class="layui-input-block">
                        <input type="text" disabled class="inputCss layui-input" name="marginName" id="marginName" value="@Model.SpeciName"/>
                    </div>
                </div> 
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use(['form'], function () {
            var form = layui.form;
        });
    </script>
</body>
</html>
