
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.ViewEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentSomeData</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        #but1
        {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover
            {
                background-color: aqua;
            }

        #Nation
        {
            width: 100px;
        }

        .linu
        {
            width: 150px;
        }

        .mm
        {
            border: 1px solid black;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: left
        }

        .TextAreCss1
        {
            height: 80px;
        }

        .butCss1
        {
            margin-top: 40px;
            float: right;
            margin-right: 100px;
            background-color: #c02828
        }

        .butCss2
        {
            border: 0px solid black;
        }

        .layButCss1
        {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            border: 0px solid #C9C9C9;
            background-color: #fff;
            color: #555;
            height: 18px;
            line-height: 18px
        }

        .TexcleCss
        {
            color: #c02828;
            font-weight: 800;
        }
    </style>
</head>
<body>
    <div class="layui-tab" lay-filter="demo">
        <ul class="layui-tab-title">
            @{
                List<StudentData> sruentdd = ViewBag.Student as List<StudentData>;
                for (int i = 1; i <= sruentdd.Count; i++)
                {
                    if (i == 1)
                    {
                        <li class="layui-this">结果<span>@i</span></li>
                    }
                    else
                    {
                        <li>结果<span>@i</span></li>
                    }
                }
            }
        </ul>
        <div class="layui-tab-content">
            @{
                int index = 0;
                foreach (StudentData item in sruentdd)
                {

                    if (index == 0)
                    {
                        <div class="layui-tab-item layui-show" style="width:90%;margin:0px auto">
                            <form class="layui-form" style="width:95%;margin:0px auto">                             
                                    <div class="layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">姓 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 名:</label>
                                            <div class="layui-input-block">
                                               <input value="@item.StuName" class="layui-input linu TexcleCss" disabled="disabled"/>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">性  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 别:</label>
                                            <div class="layui-input-block">
                                                <input value="@item.stuSex" class="layui-input linu" disabled="disabled" />                                              
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">区  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 域:</label>
                                            <div class="layui-input-block">
                                                <input value="@item.AreName" class="layui-input linu TexcleCss" disabled="disabled" />                                          
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">电  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 话:</label>
                                            <div class="layui-input-block">
                                                <input value="@item.StuPhone" class="layui-input linu TexcleCss" disabled="disabled" />                                          
                                            </div>
                                        </div>                                        
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">学校名称:</label>
                                            <div class="layui-input-block">
                                                <input value="@item.StuSchoolName" class="layui-input linu" disabled="disabled" />                                             
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">学生状态:</label>
                                            <div class="layui-input-block">
                                                <input value="@item.StuStatus_Id" class="layui-input linu TexcleCss" disabled="disabled" />                                             
                                            </div>
                                        </div>
                                         
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">家庭住址:</label>
                                            <div class="layui-input-block">
                                                <input value="@item.StuAddress" class="layui-input linu TexcleCss" disabled="disabled" />                                        
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">信息来源:</label>
                                            <div class="layui-input-block">
                                                <input value="@item.StuInfomationType_Id" class="layui-input linu TexcleCss" disabled="disabled" />
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">录入人员:</label>
                                            <div class="layui-input-block">
                                                <input value="@item.StuEntering" class="layui-input linu" disabled="disabled" />
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">备案日期:</label>
                                            <div class="layui-input-block">
                                                <input value="@item.StuDateTime" class="layui-input linu TexcleCss" disabled="disabled" />
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">是否上门:</label>
                                            <div class="layui-input-block">
                                                <input value="@item.StuIsGoto" class="layui-input linu" disabled="disabled" />
                                            </div>                                            
                                        </div>
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">上门日期:</label>
                                            <div class="layui-input-block">
                                                <input value="@item.StuVisit" class="layui-input linu" disabled="disabled" />
                                            </div>
                                        </div>                                        
                                    </div>                               
                                    <div class="layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="LableCss1">备&nbsp;案&nbsp; 人:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.EmployeesInfo_Id" class="layui-input TexcleCss" disabled="disabled" style="width:94%"/>
                                        </div>
                                    </div>
                                </div>
                                    <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <div style="width:30%;margin:20px auto">
                                            <button class="layui-btn" id="Myquxiao" onclick="biangbi()">关闭</button>
                                        </div>                                       
                                    </div>
                                </div>
                            </form>
                        </div>
                        index++;
                    }
                    else
                    {
                        <div class="layui-tab-item" style="width:90%;margin:0px auto">
                            <form class="layui-form" style="width:95%;margin:0px auto">
                                <div class="layui-form-item">
                                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                        <label class="LableCss1">姓 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 名:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.StuName" class="layui-input linu TexcleCss" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                        <label class="LableCss1">性  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 别:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.stuSex" class="layui-input linu" disabled="disabled" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                        <label class="LableCss1">区  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 域:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.AreName" class="layui-input linu TexcleCss" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                        <label class="LableCss1">电  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 话:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.StuPhone" class="layui-input linu TexcleCss" disabled="disabled" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                        <label class="LableCss1">学校名称:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.StuSchoolName" class="layui-input linu" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                        <label class="LableCss1">学生状态:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.StuStatus_Id" class="layui-input linu TexcleCss" disabled="disabled" />
                                        </div>
                                    </div>

                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                        <label class="LableCss1">家庭住址:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.StuAddress" class="layui-input linu TexcleCss" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                        <label class="LableCss1">信息来源:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.StuInfomationType_Id" class="layui-input linu TexcleCss" disabled="disabled" />
                                        </div>
                                    </div>

                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                        <label class="LableCss1">录入人员:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.StuEntering" class="layui-input linu" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                        <label class="LableCss1">备案日期:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.StuDateTime" class="layui-input linu TexcleCss" disabled="disabled" />
                                        </div>
                                    </div>

                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                        <label class="LableCss1">是否上门:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.StuIsGoto" class="layui-input linu" disabled="disabled" />
                                        </div>
                                    </div>
                                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                        <label class="LableCss1">上门日期:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.StuVisit" class="layui-input linu" disabled="disabled" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="LableCss1">备&nbsp;案&nbsp; 人:</label>
                                        <div class="layui-input-block">
                                            <input value="@item.EmployeesInfo_Id" class="layui-input TexcleCss" disabled="disabled" style="width:94%" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <div style="width:30%;margin:20px auto">
                                            <button class="layui-btn" id="Myquxiao" onclick="biangbi()">关闭</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    }
                }
            }
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use('element', function () {
            var element = layui.element;

            //一些事件监听
            element.on('tab(demo)', function (data) {
                console.log(data);
            });
        });
        function biangbi() {
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        };
    </script>
</body>
</html>
