
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        #but1
        {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover
            {
                background-color: aqua;
            }

        #Nation
        {
            width: 100px;
        }

        .linu
        {
            width: 200px;
        }

        .mm
        {
            border: 1px solid black;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }

        .TextAreCss1
        {
            height: 100px;
        }

        .butCss1
        {
            float: right;
            margin-right: 100px;
        }

        .butCss2
        {
            border: 0px solid black;
        }

        .layButCss1
        {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            border: 0px solid #C9C9C9;
            background-color: #fff;
            color: #555;
            height: 18px;
            line-height: 18px
        }   
    </style>
</head>
<body>
    <div>
        <form class="layui-form" style="margin-top:40px">
            <div class="layui-container">
                <fieldset>
                    <legend>基本数据</legend>
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                            <label class="LableCss1">学生姓名:</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input linu" readonly="readonly" style="border:0px solid black" value="@ViewBag.Name" />
                            </div>
                        </div>
                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                            <label class="layui-form-label">性别:</label>
                            <div class="layui-input-block">
                                <span class="LableCss1 layui-col-md1">@ViewBag.Sex</span>
                            </div>
                        </div>
                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                            <label class="LableCss1">跟踪总数:</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input linu" style="border:0px solid black" readonly="readonly" value="@ViewBag.Number" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </form>
        <div class="layui-tab">
            <ul class="layui-tab-title">
                @{
                    List<FollwingInfo> list = ViewBag.flist as List<FollwingInfo>;
                    int i = 1;
                    if (list.Count > 0)
                    {
                        foreach (var item in list)
                        {
                            if (i == 1)
                            {
                                <li id="@item.Id" class="layui-this">第<span>@i</span>次跟踪</li>
                            }
                            else
                            {
                                <li id="@item.Id">第<span>@i</span>次跟踪</li>
                            }
                            i++;
                        }
                    }
                    else
                    {
                        <li class="layui-this">系统温馨提示</li>
                    }
                }
            </ul>
            <div class="layui-tab-content">
                @{
                    if (list.Count > 0)
                    {                                                   
                                <form class="layui-form" id="myform" lay-filter="myform">
                                    <div class="layui-tab-item layui-show">
                                        <div class="layui-row layui-form-item">
                                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                <input type="hidden" id="F_Id" name="F_Id" value="@list[0].Id" />
                                                <label class="layui-form-label">跟踪日期:</label>
                                                <div class="layui-input-block">
                                                    <span class="LableCss1" id="MyDate" name="MyDate">

                                                        @list[0].FollwingDate
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-row layui-form-item">
                                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                <label class="LableCss1">学生等级:</label>
                                                <div class="layui-input-block">
                                                    <select name="MyRank" id="MyRank">
                                                        @{
                                                            if (list[0].Rank.Contains("A"))
                                                            {
                                                                <option value="A" selected="selected">A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="D">D</option>
                                                            }
                                                            else if (list[0].Rank.Contains("B"))
                                                            {
                                                                <option value="A">A</option>
                                                                <option value="B" selected="selected">B</option>
                                                                <option value="C">C</option>
                                                                <option value="D">D</option>
                                                            }
                                                            else if (list[0].Rank.Contains("C"))
                                                            {
                                                                <option value="A">A</option>
                                                                <option value="B">B</option>
                                                                <option value="C" selected="selected">C</option>
                                                                <option value="D">D</option>
                                                            }
                                                            else if (list[0].Rank.Contains("D"))
                                                            {
                                                                <option value="A">A</option>
                                                                <option value="B">B</option>
                                                                <option value="C">C</option>
                                                                <option value="D" selected="selected">D</option>
                                                            }
                                                        }
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-row layui-form-item">
                                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                <label class="layui-form-label">跟踪情况:</label>
                                                <div class="layui-input-block">
                                                    <textarea class="layui-input TextAreCss1" id="My_TailAfterSituation" name="My_TailAfterSituation">
                                                         @list[0].TailAfterSituation 
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-row layui-form-item">
                                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">

                                                <label class="layui-form-label">说明:</label>
                                                <div class="layui-input-block">
                                                    <textarea class="layui-input TextAreCss1" id="My_Rmark" name="My_Rmark">
                                                         @list[0].Rmark
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="layui-form-item" style="margin-top:40px;">
                                            <div class="layui-input-block">
                                                
                                                <button class="layui-btn" lay-submit="" lay-filter="edit">编辑</button>
                                                <button type="button" class="layui-btn butCss1" id="no">取消</button>
                                            </div>
                                        </div>
                                    </div>
                               </form>                                                                                                     
                    }
                    else
                    {
                        <div class="layui-tab-item layui-show">
                            <h3>
                                该学生还没有跟踪信息哟!!!
                            </h3>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        //转换时间的方法
        function TimeChange(newtime) {
            if (newtime == null)
                return "";
            var date = new Date(parseInt(newtime.slice(6)));
            var year = date.getFullYear();
            var month = date.getMonth();
            if (month < 10) {
                month = "0" + Number(month + 1);
            }
            var day = date.getDate();
            if (day < 10) {
                day = "0" + day;
            }
            var result = year + '-' + month + '-' + day;
            return result;
        }
        //注意：选项卡 依赖 element 模块，否则无法进行功能性操作
        layui.use(['element','form'], function () {
            var element = layui.element;
            var form = layui.form;
            form.render(); //更新全部

            form.on('submit(edit)', function (data) {
                 console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                $.ajax({
                    url: '/Market/FollwingInfo/EditFunction',
                    data: data.field,
                    type: "POST",
                    success: function (SucData) {
                        if (SucData != "ok") {
                            layer.msg(SucData, { icon: 2 });
                        } else {                            
                            layer.msg('编辑成功', { icon: 1,shade:0.8 }, function () {
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                            });
                        }
                    }
                });
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            });
        });
        //关闭弹出层
        $("#no").click(function () {
            //当你在iframe页面关闭自身时
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭   
        });

        //给ul中的li注册点击事件
        $(".layui-tab-title li").click(function () {
            var follwing_Id = $(this).attr("id");
            $("#F_Id").val(follwing_Id);
            $.ajax({
                url: '/Market/FollwingInfo/GetSingFollwingData/' + follwing_Id,
                success: function (SucData) {
                    if (SucData != "no") {
                        layui.use('form', function () {
                            var form = layui.form;
                            $("#MyRank")[0].innerHTML = "";
                            if (SucData.Rank.indexOf("A") != -1) {
                                $("<option value='A' selected='selected'>A</option>").appendTo($("#MyRank"));
                                $("<option value='B'>B</option>").appendTo($("#MyRank"));
                                $("<option value='C'>C</option>").appendTo($("#MyRank"));
                                $("<option value='D'>D</option>").appendTo($("#MyRank"));
                            } else if (SucData.Rank.indexOf("B") != -1) {
                                $("<option value='A'>A</option>").appendTo($("#MyRank"));
                                $("<option value='B' selected='selected'>B</option>").appendTo($("#MyRank"));
                                $("<option value='C'>C</option>").appendTo($("#MyRank"));
                                $("<option value='D'>D</option>").appendTo($("#MyRank"));
                            } else if (SucData.Rank.indexOf("C") != -1) {
                                $("<option value='A'>A</option>").appendTo($("#MyRank"));
                                $("<option value='B'>B</option>").appendTo($("#MyRank"));
                                $("<option value='C'selected='selected'>C</option>").appendTo($("#MyRank"));
                                $("<option value='D'>D</option>").appendTo($("#MyRank"));
                            } else if (SucData.Rank.indexOf("D") != -1) {
                                $("<option value='A'>A</option>").appendTo($("#MyRank"));
                                $("<option value='B'>B</option>").appendTo($("#MyRank"));
                                $("<option value='C'>C</option>").appendTo($("#MyRank"));
                                $("<option value='D'selected='selected'>D</option>").appendTo($("#MyRank"));
                            }
                             
                            form.val("myform", { 
                                  "My_TailAfterSituation": SucData.TailAfterSituation
                                , "My_Rmark": SucData.Rmark
                            });
                            $("#MyDate")[0].innerText = TimeChange(SucData.FollwingDate);
                            form.render();
                        })
                        
                    } else {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg('系统操作有误，请重试！！！', { icon: 2 });
                        });
                    }
                }
            });
        });
    </script>
</body>
</html>
