
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .linu
        {
            width: 150px;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }

        .TextAreCss1
        {
            height: 200px;
        }

        .butCss1
        {
            float: right;
            margin-right: 100px;
        }
        .filesCss1
        {
            border-width: 1px;
            border-style: solid;
            background-color: #fff;
            border-radius: 2px;
        }

        body .demo-class2 .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }
    </style>
</head>
<body>
    <div style="margin-top:20px;width:90%;margin:0px auto">
        <form class="layui-form"  >            
                <fieldset class="filesCss1">
                    <legend>基本数据</legend>
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                            <label class="LableCss1">学生姓名:</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input linu" readonly="readonly" value="@ViewBag.Name" />
                                <input type="hidden" name="Stuid" id="Stuid" value="@ViewBag.stuId"/>
                            </div>
                        </div>
                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                            <label class="layui-form-label">性 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 别:</label>
                            <div class="layui-input-block">
                                <input type="text" class="layui-input linu" readonly="readonly" value="@ViewBag.Sex" />
                            </div>
                        </div>
                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                            <label class="LableCss1">市场等级:</label>
                            <div class="layui-input-block">

                                @Html.DropDownList("Marktype", ViewBag.marketlist as IEnumerable<SelectListItem>, new Dictionary<string, object>() { })

                            </div>
                        </div>
                    
                    </div>
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                           <button style="position:absolute;right:10px;" class="layui-btn" type="button" onclick="OpenAddView()">添加跟踪数据</button>
                        </div>
                    </div>
                </fieldset>           
        </form>
        <div class="layui-tab">
            <ul class="layui-tab-title">
                @{
                    List<FollwingInfo> list = ViewBag.flist as List<FollwingInfo>;
                    int i = 1;
                    if (list.Count > 0)
                    {
                        foreach (var item in list)
                        {
                            if (i == 1)
                            {
                                <li id="@item.Id" class="layui-this">第<span>@i</span>次跟踪</li>
                            }
                            else
                            {
                                <li id="@item.Id">第<span>@i</span>次跟踪</li>
                            }
                            i++;
                        }
                    }
                    else
                    {
                        <li class="layui-this">系统温馨提示</li>
                    }
                }
            </ul>
            <div class="layui-tab-content">
                @{
                    if (list.Count > 0)
                    {                                                   
                                <form class="layui-form" id="myform" lay-filter="myform">
                                    <div class="layui-tab-item layui-show">
                                        <div class="layui-row layui-form-item">
                                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                <input type="hidden" id="F_Id" name="F_Id" value="@list[0].Id" />
                                                <label class="layui-form-label">跟踪日期:</label>
                                                <div class="layui-input-block">
                                                    <input class="layui-input" id="MyDate" name="MyDate" disabled="disabled" value="@list[0].FollwingDate"/>
                                                </div>
                                            </div>
                                        </div>                       
                                        <div class="layui-row layui-form-item">
                                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                <label class="layui-form-label">跟踪情况:</label>
                                                <div class="layui-input-block">
                                                    <textarea class="layui-input TextAreCss1" id="My_TailAfterSituation" name="My_TailAfterSituation">
                                                         @list[0].TailAfterSituation 
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="layui-form-item" style="margin-top:40px;">
                                            <div class="layui-input-block">
                                                <div style="width:65%;text-align:right">
                                                    <button class="layui-btn" lay-submit="" lay-filter="edit">编辑</button>
                                                    <button type="button" class="layui-btn butCss1" id="no">取消</button>
                                                </div>
                                                 
                                            </div>
                                        </div>
                                    </div>
                               </form>                                                                                                     
                    }
                    else
                    {
                        <div class="layui-tab-item layui-show">
                            <h3>
                                该学生还没有跟踪信息哟!!!
                            </h3>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        //转换时间的方法
        function changeDateTimeFormat(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + ss;
            } else {
                return "";
            }
        }
      
        layui.use(['element','form'], function () {
            var element = layui.element;
            var form = layui.form;
            form.render();  

            form.on('submit(edit)', function (data) {               
                var Mydata = { "F_Id": data.field.F_Id, "My_TailAfterSituation": data.field.My_TailAfterSituation, "Marktype": $("#Marktype").val() };
                //console.log(data);
                $.ajax({
                    url: '/Market/FollwingInfo/EditFunction',
                    data: Mydata,
                    type: "POST",
                    success: function (SucData) {
                        if (SucData.Success) {
                            layer.msg('操作成功', { icon: 1, shade: 0.8 }, function () {
                                //刷新数据
                                window.parent.Query();
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            });
                        } else {
                            layer.msg('系统异常，请刷新重试！！！', { icon: 2, shade:0.8 });
                        }
                    }
                });
                return false;  
            });
        });
        //关闭弹出层
        $("#no").click(function () {
             
            var index = parent.layer.getFrameIndex(window.name); 
            parent.layer.close(index);  
        });

        //给ul中的li注册点击事件
        $(".layui-tab-title li").click(function () {
            var follwing_Id = $(this).attr("id");
            $("#F_Id").val(follwing_Id);
            $.ajax({
                url: '/Market/FollwingInfo/GetSingFollwingData/' + follwing_Id,
                success: function (SucData) {
                    if (SucData != "no") {
                        layui.use('form', function () {
                            var form = layui.form;                                                    
                            form.val("myform", { 
                                "My_TailAfterSituation": SucData.TailAfterSituation,
                                "MyDate": changeDateTimeFormat(SucData.FollwingDate)
                            });
                            form.render();
                        })
                        
                    } else {
                        layui.use('layer', function () {
                            var layer = layui.layer;
                            layer.msg('系统操作有误，请重试！！！', { icon: 2 });
                        });
                    }
                }
            });
        });

        //弹出添加页面
        function OpenAddView() {
            var id = $("#Stuid").val();

            window.parent.OpenChildAddView(id);            
        }

    </script>
</body>
</html>
