
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.ViewEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ListStudentView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        #but1
        {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover
            {
                background-color: aqua;
            }

        #Nation
        {
            width: 100px;
        }

        .linu
        {
            width: 200px;
        }

        .mm
        {
            border: 1px solid black;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: left
        }

        .TextAreCss1
        {
            height: 80px;
        }

        .butCss1
        {
            margin-top: 40px;
            float: right;
            margin-right: 100px;
            background-color: #009688;
        }

        .butCss2
        {
            border: 0px solid black;
        }

        .layButCss1
        {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            border: 0px solid #C9C9C9;
            background-color: #fff;
            color: #555;
            height: 18px;
            line-height: 18px
        }

        .TexcleCss
        {
            color: #c02828;
            font-weight: 800;
        }
    </style>
</head>
<body>
    <div class="layui-tab" lay-filter="demo">
        <ul class="layui-tab-title">
            @{
                List<StudentData> sruentdd = ViewBag.Student as List<StudentData>;
                for (int i = 1; i <= sruentdd.Count; i++)
                {
                    if (i == 1)
                    {
                        <li class="layui-this">结果<span>@i</span></li>
                    }
                    else
                    {
                        <li>结果<span>@i</span></li>
                    }
                }
            }
        </ul>
        <div class="layui-tab-content">
            @{
                int index = 0;
                foreach (StudentData item in sruentdd)
                {

                    if (index == 0)
                    {
                        <div class="layui-tab-item layui-show">
                            <form class="layui-form">
                                <div class="layui-container">
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <label class="layui-form-label">姓名</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1 TexcleCss">@item.StuName</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <label class="layui-form-label">性别</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.stuSex</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <label class="layui-form-label">区域</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1 TexcleCss">@item.AreName</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="layui-form-label">电话</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1 TexcleCss">@item.StuPhone</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">学校名称</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.StuSchoolName</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">学生状态</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1 TexcleCss">@item.StuStatus_Id</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">家庭住址</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.StuAddress</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">信息来源</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.StuInfomationType_Id</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs5 layui-col-sm5 layui-col-md5">
                                            <label class="LableCss1">录入人员</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.StuEntering</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">备案日期</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.StuDateTime</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">是否上门</label>
                                            <span class="LableCss1">@item.StuIsGoto</span>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">上门日期</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.StuVisit</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs5 layui-col-sm5 layui-col-md5">
                                            <label class="layui-form-label">备案人</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.EmployeesInfo_Id</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="margin-top:100px">
                                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                        <button class="layui-btn butCss1" id="Myquxiao" onclick="biangbi(@item.Id)">填写跟踪信息</button>
                                    </div>
                                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                        <button class="layui-btn butCss1" id="Myquxiao" onclick="Edit(@item.Id)">编辑跟踪信息</button>
                                    </div>
                                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                        <button class="layui-btn butCss1" id="Myquxiao" onclick="Sreach(@item.Id)">查询跟踪信息</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        index++;
                    }
                    else
                    {
                        <div class="layui-tab-item">
                            <form class="layui-form">
                                <div class="layui-container">
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <label class="layui-form-label">姓名</label> 
                                            <div class="layui-input-block">
                                                <span class="LableCss1  TexcleCss">@item.StuName</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <label class="layui-form-label">性别</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.stuSex</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                            <label class="layui-form-label">区域</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1 TexcleCss">@item.AreName</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="layui-form-label">电话</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1 TexcleCss">@item.StuPhone</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">学校名称</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.StuSchoolName</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">家庭住址</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.StuAddress</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">学生状态</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1 TexcleCss">@item.StuStatus_Id</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">信息来源</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.StuInfomationType_Id</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs5 layui-col-sm5 layui-col-md5">
                                            <label class="LableCss1">录入人员</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.StuEntering</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">备案日期</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.StuDateTime</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">是否上门</label>
                                            <span class="LableCss1">@item.StuIsGoto</span>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                            <label class="LableCss1">上门日期</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.StuVisit</span>
                                            </div>
                                        </div>
                                        <div class="layui-col-xs5 layui-col-sm5 layui-col-md5">
                                            <label class="layui-form-label">备案人</label>
                                            <div class="layui-input-block">
                                                <span class="LableCss1">@item.EmployeesInfo_Id</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-form-item" style="margin-top:100px">
                                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                        <button class="layui-btn butCss1" id="Myquxiao" onclick="biangbi(@item.Id)">填写跟踪信息</button>
                                    </div>
                                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                        <button class="layui-btn butCss1" id="Myquxiao" onclick="Edit(@item.Id)">编辑跟踪信息</button>
                                    </div>
                                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                                        <button class="layui-btn butCss1" id="Myquxiao" onclick="Sreach(@item.Id)">查询跟踪信息</button>
                                    </div>  
                                </div>
                            </form>
                        </div>
                        }
                    }
                }
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
        function biangbi(stuId) {            
            //打开添加跟踪页面             
            var myurl = '/Market/FollwingInfo/AddFollwingInfo/' + stuId;
 
            window.parent.StudentShow(myurl, "添加页面","demo-class",0);
        }      

        function Edit(id) {
            var myurl = '/Market/FollwingInfo/EditView/' + id;
            window.parent.StudentShow(myurl, false, "demo-class", 0);
        }

        function Sreach(id) {
            var myurl = '/Market/Consult/FollwingInfoView/' + id
            window.parent.StudentShow(myurl, false,"demo-class",1);
        }
    </script>
</body>
</html>
