
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.ViewEntity.vierprice
@using SiliconValley.InformationSystem.Entity.ViewEntity
@using SiliconValley.InformationSystem.Entity.MyEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Entryreview</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Areas/Teachingquality/js/AjaxAddupdate.js"></script>
    <style>
        .site-doc-icon li .layui-anim {
            width: 150px;
            height: 150px;
            line-height: 150px;
            margin: 0 auto 10px;
            text-align: center;
            background-color: #009688;
            cursor: pointer;
            color: #fff;
            border-radius: 50%;
        }

        #table1 td {
            padding-top: 20px;
        }

        #No {
            position: absolute;
            right: 330px;
            top: 20px;
            background-image: url('/Areas/Teachingquality/images/审批.png');
            width: 140px;
            height: 120px;
            background-position-x: -80px;
            background-position-y: -60px;
            /*filter: alpha(opacity:30);*/
        }

        #Yes {
            position: absolute;
            right: 330px;
            top: 20px;
            background-image: url('/Areas/Teachingquality/images/审批.png');
            width: 140px;
            height: 120px;
            background-position-x: -260px;
            background-position-y: -60px;
        }
    </style>
</head>
<body>
    @if (ViewBag.Passornot == "1")
    {
        <div id="Yes"></div>
    }
    else if (ViewBag.Passornot == "2")
    {
        <div id="No"></div>
    }
    else if (ViewBag.Passornot == "3")
    {
        <div id="Revoke"></div>
    }
    <input type="text" id="ids" style="display:none;" value="@ViewBag.id" />
    <div style="float:left">
        <ul class="layui-timeline">

            @{
                int Total = 0;
                foreach (var item in ViewBag.vier as List<vierprice>)
                {
                    decimal db = 0;
                    <li class="layui-timeline-item">
                        <i class="layui-icon layui-timeline-axis"></i>
                        <div class="layui-timeline-content layui-text">
                            @foreach (var item1 in item.Chicked)
                            {

                                db += item1.Amountofmoney;
                                Total += Convert.ToInt32(item1.Amountofmoney);

                            }
                            <h3 class="layui-timeline-title">@item.Date (@db)</h3>

                            @foreach (var s in item.Chicked.OrderBy(a => a.Rategory).ToList().Select(a => a.Rategory).ToList().Distinct().ToList())
                            {
                                <p>@s</p>
                                foreach (var item1 in item.Chicked)
                                {
                                    if (item1.Rategory == s)
                                    {
                                        <ul>
                                            <li>@item1.GrandName @item1.CostitemName,缴纳: @item1.Amountofmoney</li>
                                        </ul>
                                    }
                                }

                            }


                        </div>
                    </li>
                }
            }


        </ul>
    </div>
    <div style="float:right;margin-left:-30px;width:300px;">
        @{

            var student = ViewBag.student as StudentInformation;
        <table id="table1">
            <tr>
                <td>学号：</td>
                <td>@student.StudentNumber</td>
            </tr>
            <tr>
                <td>姓名：</td>
                <td>@student.Name</td>
            </tr>
            <tr>
                <td>身份证：</td>

                <td>@student.identitydocument</td>
            </tr>
            <tr>
                <td>单号：</td>
                @if (ViewBag.OddNumbers != "null")
                {
                    <td>@ViewBag.OddNumbers</td>
                }
                else
                {
                    <td> <input type="text" id="OddNumbers" lay-verify="required|number" placeholder="单号" class="layui-input" /></td>
                }

            </tr>
            <tr>
                <td>收款方式：</td>
                @if (ViewBag.paymentmethod != "null")
                {
                    <td>@ViewBag.paymentmethod</td>
                }
                else
                {
                    <td> <input type="text" id="paymentmethod" lay-verify="required" placeholder="收款方式" class="layui-input" /></td>
                }

            </tr>

        </table>
        }

        <div style="border-bottom:#ffffff solid 1px;border-left:#ffffff solid 1px;border-right:#ffffff solid 1px; height:60px;margin-top:224px;margin-left:-495px;">
            <div style="text-align:center;border-top:0px;">
                @if (ViewBag.Passornot == "null")
                {
                    <button class="layui-btn layui-btn-radius" type="button" id="Yess"><i class="layui-icon">&#xe605;</i>通过</button>
                    <button class="layui-btn layui-btn-radius layui-btn-danger" type="button" id="Nos"> <i class="layui-icon">&#x1006;</i>作废</button>
                }
                else if (ViewBag.Passornot == "1" )
                {
                    <button class="layui-btn layui-btn-radius layui-bg-gray" id="Revoke" type="button"><i class="layui-icon">&#xe702;</i>撤单</button>
                    <button class="layui-btn layui-btn-radius layui-btn-danger" id="Ceno" type="button"><i class="layui-icon">&#x1007;</i>关闭</button>
                }
                else
                {
                    <button class="layui-btn layui-btn-radius layui-btn-danger" id="Ceno" type="button"><i class="layui-icon">&#x1007;</i>关闭</button>
                }
            </div>

        </div>
    </div>

</body>
</html>

<script>
    layui.use(['table', 'layer', 'tree', 'form'], function () {
        var table = layui.table;
                    var layer = layui.layer;
                    var form = layui.form;
        //同意
        $("#Yess").click(function () {
           
                 var Dabse = {
                id: $("#ids").val(),
                whether: 1,
                     OddNumbers: $("#OddNumbers").val(),
                     paymentmethod: $("#paymentmethod").val()

            }
            if (Dabse.paymentmethod != "" && Dabse.OddNumbers != "") {
                TransactionAdd("/Finance/Pricedetails/Tuitionentry", Dabse);
            } else {
                layer.msg("请输入单号或收款方式！");
            
            }    
                });
        //拒绝
        $("#Nos").click(function () {
            layer.confirm("确认作废吗，作废后将无法恢复！", { title: "确认" }, function (index) {
                var Dabse = {
                    id: $("#ids").val(),
                    whether: 2,
                    OddNumbers: $("#OddNumbers").val(),
                    paymentmethod: $("#paymentmethod").val()
                }
                TransactionAdd("/Finance/Pricedetails/Tuitionentry", Dabse);
                layer.close(index);
            })
                  
        });
        //撤单
        $("#Revoke").click(function () {
            var postname = '@Html.Raw(ViewBag.postName)';
            if (postname == 1) {
                layer.confirm("确认要撤单吗，撤单后不能恢复！", { title: "确认" }, function (index) {
                    var Dabse = {
                        id: $("#ids").val(),
                        whether: 3,

                    }
                    TransactionAdd("/Finance/Pricedetails/Tuitionentry", Dabse);
                    layer.close(index);
                });
            } else {
                layer.msg("当前登录账号无权限操作！");
            }
           

        });
        //关闭
        $("#Ceno").click(function () {
                    closeopen();
                });
    });

</script>
