
@{
    ViewBag.Title = "Printrecord";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model SiliconValley.InformationSystem.Entity.ViewEntity.vierprice
@using SiliconValley.InformationSystem.Entity.ViewEntity
@section style{

}
<style>
    .site-doc-icon li .layui-anim {
        width: 150px;
        height: 150px;
        line-height: 150px;
        margin: 0 auto 10px;
        text-align: center;
        background-color: #009688;
        cursor: pointer;
        color: #fff;
        border-radius: 50%;
    }
</style>

<div style="float:left;">
    <ul class="layui-timeline">

        @{
    
            foreach (var item in ViewBag.StudentPrentryfeeDate as List<vierprice>)
            {
                decimal db = 0;
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        @foreach (var item1 in item.Chicked)
                        {

                            db += item1.Amountofmoney;
                          

                        }
                        <h3 class="layui-timeline-title">@item.Date (@db.ToString().Substring(0, db.ToString().Length - 2))</h3>

                        @foreach (var s in item.Chicked.OrderBy(a => a.CostitemName).ToList().Select(a => a.CostitemName).ToList().Distinct().ToList())
                        {
                            <p>@s</p>
                            foreach (var item1 in item.Chicked)
                            {
                                if (item1.CostitemName == s)
                                {
                                    <ul>
                                        <li>@item1.GrandName 缴纳: @item1.Amountofmoney.ToString().Substring(0, @item1.Amountofmoney.ToString().Length - 2)</li>
                                    </ul>
                                }
                            }

                        }


                    </div>
                </li>
            }
        }


    </ul>
    <ul class="layui-timeline">

        @{
            int Total = 0;
            foreach (var item in ViewBag.vier as List<vierprice>)
            {
                decimal db = 0;
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        @foreach (var item1 in item.Chicked)
                        {

                            db += item1.Amountofmoney;
                            Total += Convert.ToInt32(item1.Amountofmoney);

                        }
                        <h3 class="layui-timeline-title">@item.Date (@db.ToString().Substring(0, db.ToString().Length - 2))</h3>

                        @foreach (var s in item.Chicked.OrderBy(a => a.Rategory).ToList().Select(a => a.Rategory).ToList().Distinct().ToList())
                        {
                            <p>@s</p>
                            foreach (var item1 in item.Chicked)
                            {
                                if (item1.Rategory == s)
                                {
                                    <ul>
                                        <li>@item1.GrandName @item1.CostitemName,缴纳: @item1.Amountofmoney.ToString().Substring(0, @item1.Amountofmoney.ToString().Length - 2)</li>
                                    </ul>
                                }
                            }

                        }


                    </div>
                </li>
            }
        }


    </ul>
</div>

<div style="float:right;">

    <ul class="layui-timeline">

        @{
            int Tota2 = 0;
            foreach (var item in ViewBag.Tuitionrefund as List<vierprice>)
            {
                decimal db = 0;
                <li class="layui-timeline-item">
                    <i class="layui-icon layui-timeline-axis"></i>
                    <div class="layui-timeline-content layui-text">
                        @foreach (var item1 in item.Chicked)
                        {

                            db += item1.Amountofmoney;
                            Tota2 += Convert.ToInt32(item1.Amountofmoney);

                        }
                        <h3 class="layui-timeline-title">@item.Date (@db)</h3>

                        @foreach (var s in item.Chicked.OrderBy(a => a.Rategory).ToList().Select(a => a.Rategory).ToList().Distinct().ToList())
                        {
                            <p>@s</p>
                            foreach (var item1 in item.Chicked)
                            {
                                if (item1.Rategory == s)
                                {
                                    <ul>
                                        <li>@item1.GrandName @item1.CostitemName,退款: @item1.Amountofmoney.ToString().Substring(0, item1.Amountofmoney.ToString().Length - 2)</li>
                                    </ul>
                                }
                            }

                        }


                    </div>
                </li>
            }
            int Tota3 = Total - Tota2;
        }


    </ul>
</div>

<div style="">
    <ul class="site-doc-icon site-doc-anim">
        @{
            if (Total > 0)
            {
                <li style="float:left;margin-left:220px;">
                    <div class="layui-anim" data-anim="layui-anim-rotate layui-anim-loop">收款合计:<label style="font:18pt;color:#000000;">@Total</label>  元</div>
                </li>
                if (Tota2 > 0)
                {
                    <li style="float:left;margin-left:20px;">
                        <div class="layui-anim" data-anim="layui-anim-rotate layui-anim-loop">退款合计:<label style="font:18pt;color:#000000;">@Tota2</label>  元</div>
                    </li>
                    <li style="float:left;margin-left:20px;">
                        <div class="layui-anim" data-anim="layui-anim-rotate layui-anim-loop">合计:<label style="font:18pt;color:#000000;">@Tota3</label>  元</div>
                    </li>
                }




            }

        }

    </ul>
</div>

@section script{

}
<script>
    layui.use([], function () {
        var $ = layui.jquery;
        //演示动画开始
        $('.site-doc-icon .layui-anim ').on('click', function () {
            var othis = $(this), anim = othis.data('anim');

            //停止循环
            if (othis.hasClass('layui-anim-loop')) {
                return othis.removeClass(anim);
            }
            othis.removeClass(anim);
            setTimeout(function () {
                othis.addClass(anim);
            });
            //恢复渐隐
            if (anim === 'layui-anim-fadeout') {
                setTimeout(function () {
                    othis.removeClass(anim);
                }, 1300);
            }
        });
        //演示动画结束
    })
</script>