
@{
    ViewBag.Title = "NewChannelYearPlanIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    #left {
        width: 12%;
        border: 1px solid pink;
        float:left
    }

    #echartshow {
        width: 70%;
        border: 1px solid pink;
        height:830px;
        margin-left:1%;
       float:left;
       overflow:hidden
    }
     #channelshow {
        width: 13%;
        border: 1px solid pink;
         height:530px;
        margin-left:1%;
         float:left;
             overflow:hidden
    }
    .mydiv {
    display:block
    }
</style>
<dvi id="top">
    <div class="btn-group">
        <div class="btn-group">
            <button type="button" id="selectGrand" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                @ViewBag.NowYearName.ShowTitle
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" id="grandlist">
                @{
                    foreach (var item in ViewBag.YearName)
                    {
                        <li><a href="javascript:void(0);" planid="@item.SchoolPlanID">@item.ShowTitle</a></li>
                    }
                }
            </ul>

        </div>
    </div>

    <div class="btn-group">
        <button type="button" id="selectZhuren" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            主任团队
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" id="Zhurenlist">
            <li><a href="javascript:void(0);" ZhurenID="">主任团队</a></li>
            @{
                foreach (var item in ViewBag.empzhuren)
                {
                    <li><a href="javascript:void(0);" ZhurenID="@item.EmployeeId">@item.EmpName</a></li>
                }
            }
        </ul>
    </div>

    <div style="display:inline-block;width:600px;" class="form-inline">

        <div class="form-group">
            <input type="text" class="form-control" id="classnumber" placeholder="专员的名字。">
        </div>

        <button class="layui-btn layui-btn-radius layui-btn-primary" id="SearchEnter">查询</button>
    </div>
</dvi>
<div id="content">
    <div id="left">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>员工列表</legend>
        </fieldset>
        <div id="test4" class="demo-tree"></div>

    </div>
    <div id="echartshow">
        <div id="showtop1">
            <div class="mydiv">本月备案量最多的是：小明,备案数量为：100</div>
            <div class="mydiv">本月上门量最多的是：小白,上门量量为：100</div>
            <div class="mydiv">本月报名量最多的是：小赵,报名数量为：100</div>
        </div>
        <div id="main" style="width:99%;height:500px"></div>
        <div id="baoquandiv" style="width:99%;height:300px">
            <div id="quan" style="width:100%;height:100%"></div>
        </div>
    </div>
    <div id="channelshow">
        <div><label>标题:</label><label>2019计划</label></div>
        <div><label>预计人数:</label><label>780人</label></div>
        <div><label>备案量:</label><label>1200人</label></div>
        <div><label>上门量:</label><label>800人</label></div>
        <div><label>报名量:</label><label>790人</label></div>
        <div><label>Top1:</label><label>徐宝平招生人数：300人</label></div>
        <div><label>Top2:</label><label>马飞招生人数：200人</label></div>
        <div><label>Top3:</label><label>赵俊招生人数：190人</label></div>
        
    </div>
</div>
<script type="text/template" id="muban">
    <li><a href="javascript:void(0);" ZhurenID={{=EmployeeId}}>{{=EmpName}}</a></li>
</script>
<script src="~/Scripts/ECharts4.2.1/incubator-echarts-master/dist/echarts.js"></script>
<script src="~/Scripts/underscore.js"></script>
@section script{
    <script>
        var mrdempid;
        var mrdplanID;
        var oldplanID;
        var treedata;
        var mytree;
        var myCharts;
        var quanCharts;
        var isteam = false;
        
          @*$(function () {
            mrdplanID =@Html.Raw(ViewBag.NowYearName.SchoolPlanID);
            LoadTree(mrdplanID);
            LoadECharts(mrdplanID, isteam, mrdempid);
            var mrddataStyle = {
                normal: {
                    label: {
                        show: false
                    },
                    labelLine: {
                        show: false
                    },
                    shadowBlur: 0,
                    shadowColor: '#203665'
                }
            };
            quanoption = {
                //backgroundColor: "#20263f",
                series: [{
                    name: '第一个圆环',
                    type: 'pie',
                    clockWise: false,
                    radius: [70, 80],
                    itemStyle: mrddataStyle,
                    hoverAnimation: false,
                    center: ['15%', '50%'],
                    data: [{
                        value: 25,
                        label: {
                            normal: {
                                rich: {
                                    a: {
                                        color: '#3a7ad5',
                                        align: 'center',
                                        fontSize: 20,
                                        fontWeight: "bold"
                                    },
                                    b: {
                                        color: '#3a7ad5',
                                        align: 'center',
                                        fontSize: 16
                                    }
                                },
                                formatter: function (params) {
                                    return "{b|在线统计}\n\n" + "{a|" + params.value + "个}" + "\n\n{b|增长2%}";
                                },
                                position: 'center',
                                show: true,
                                textStyle: {
                                    fontSize: '14',
                                    fontWeight: 'normal',
                                    color: '#fff'
                                }
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#2c6cc4',
                                shadowColor: '#2c6cc4',
                                shadowBlur: 0
                            }
                        }
                    }, {
                        value: 75,
                        name: 'invisible',
                        itemStyle: {
                            normal: {
                                color: '#24375c'
                            },
                            emphasis: {
                                color: '#24375c'
                            }
                        }
                    }]
                }, {
                    name: '第二个圆环',
                    type: 'pie',
                    clockWise: false,
                    radius: [70, 80],
                    itemStyle: mrddataStyle,
                    hoverAnimation: false,
                    center: ['50%', '50%'],
                    data: [{
                        value: 50,
                        label: {
                            normal: {
                                rich: {
                                    a: {
                                        color: '#d03e93',
                                        align: 'center',
                                        fontSize: 20,
                                        fontWeight: "bold"
                                    },
                                    b: {
                                        color: '#d03e93',
                                        align: 'center',
                                        fontSize: 16
                                    }
                                },
                                formatter: function (params) {
                                    return "{b|离线统计}\n\n" + "{a|" + params.value + "个}" + "\n\n{b|增长2%}";
                                },
                                position: 'center',
                                show: true,
                                textStyle: {
                                    fontSize: '14',
                                    fontWeight: 'normal',
                                    color: '#fff'
                                }
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#ef45ac',
                                shadowColor: '#ef45ac',
                                shadowBlur: 0
                            }
                        }
                    }, {
                        value: 50,
                        name: 'invisible',
                        itemStyle: {
                            normal: {
                                color: '#412a4e'
                            },
                            emphasis: {
                                color: '#412a4e'
                            }
                        }
                    }]
                }, {
                    name: '第三个圆环',
                    type: 'pie',
                    clockWise: false,
                    radius: [70, 80],
                    itemStyle: mrddataStyle,
                    hoverAnimation: false,
                    center: ['85%', '50%'],
                    data: [{
                        value: 75,
                        label: {
                            normal: {
                                rich: {
                                    a: {
                                        color: '#603dd0',
                                        align: 'center',
                                        fontSize: 20,
                                        fontWeight: "bold"
                                    },
                                    b: {
                                        color: '#603dd0',
                                        align: 'center',
                                        fontSize: 16
                                    }
                                },
                                formatter: function (params) {
                                    return "{b|缺报统计}\n\n" + "{a|" + params.value + "个}" + "\n\n{b|增长2%}";
                                },
                                position: 'center',
                                show: true,
                                textStyle: {
                                    fontSize: '14',
                                    fontWeight: 'normal',
                                    color: '#fff'
                                }
                            }
                        },
                        itemStyle: {
                            normal: {
                                color: '#613fd1',
                                shadowColor: '#613fd1',
                                shadowBlur: 0
                            }
                        }
                    }, {
                        value: 25,
                        name: 'invisible',
                        itemStyle: {
                            normal: {
                                color: '#453284'
                            },
                            emphasis: {
                                color: '#453284'
                            }
                        }
                    }]
                }]
            }
            if (quanCharts != null && quanCharts != "" && quanCharts != undefined) {
                quanCharts.dispose();
            }
            quanCharts = echarts.init(document.getElementById('quan'));
            quanCharts.setOption(quanoption);
        });*@
         
       
        //加载主任
        function LoadZhuren(mrdplanID) {
            $.ajax({
                url: '/Market/ChannelYearPlan/LoadZhuren',
                data: { Plan: mrdplanID },
                async: true,
                success: function (data) {
                    console.log(data);
                    $("#Zhurenlist").children().remove();
                    var mrdcompiled = _.template($("#muban").html());
                    var mrdhtml = mrdcompiled({ EmpName: '主任团队',EmployeeId:""});
                    $("#Zhurenlist").append($(mrdhtml));
                    var iscunzibulo = false;
                    for (var i = 0; i < data.length; i++) {
                        var compiled = _.template($("#muban").html());
                        var EmpName = data[i].EmpName;
                        var EmployeeId = data[i].EmployeeId;
                        var html = compiled({ EmpName: EmpName, EmployeeId: EmployeeId });
                        if (EmployeeId == mrdempid) {
                            iscunzibulo = true;
                        }
                        $("#Zhurenlist").append($(html));
                    }
                    if (!iscunzibulo) {
                        $("#selectZhuren")[0].innerHTML = '主任团队' + " <span class='caret'></span>";
                    }
                },
                error: function (data) {

                }
            });
        };
        //加载树
        function LoadTree(mrdplanID,mrdempid) {
            //加载树图
            $.ajax({
                url:'/Market/ChannelYearPlan/LoadTree_Zhuren',
                type: 'GET',
                data: {Plan:mrdplanID,zhurenid:mrdempid},
                success: function (successdata) {
                    //console.log(mytree);
                    treedata = successdata;
                    //可以重载所有基础参数
                    mytree.reload(
                        'channeltree',
                        {
                            data: [
                                {
                                    title: "杨奇军"
                                    , children: successdata
                                    ,spread:true
                                }]

                        });
                },
                error: function () {

                }
            });
        };
        //创建option
        function optionFactory(res) {
            console.log(res);
            console.log(res.KeepOnRecordCount);
            var option = {
                title: {
                    text: '2019计划',
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        type: 'cross',
                        crossStyle: {
                            color: '#999'
                        }
                    }
                },
                toolbox: {
                    feature: {
                        dataView: { show: true, readOnly: false },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                legend: {
                    data: ['备案量', '上门量', '报名量']
                },
                xAxis: [
                    {
                        type: 'category',
                        data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
                        axisPointer: {
                            type: 'shadow'
                        }
                    }
                ],
                yAxis: [
                   {
                       type: 'value',
                       name: '人数',
                       min: 0,
                       interval: 50,
                       axisLabel: {
                           formatter: '{value} 人'
                       }
                   }
                ],
                series: [
                    {
                        name: '备案量',
                        type: 'bar',
                        data: res.KeepOnRecordCount
                    },
                    {
                        name: '上门量',
                        type: 'bar',
                       data: res.GoSchoolCount
                    },
                    {
                        name: '报名量',
                        type: 'bar',
                        data: res.SignUpCount
                    }
                ]
            };
            return option;
        }
        //加载图
        function LoadECharts(mrdplanID,mrdisteam,mrdempinfoid) {
            $.ajax({
                url:'/Market/ChannelYearPlan/LoadEcharts',
                type: 'GET',
                data: { planid: mrdplanID, IsTeam: mrdisteam, EmpinfoID: mrdempinfoid },
                success: function (SuccessData) {
                    var all = new Object();
                    console.log(SuccessData);
                    var KeepOnRecordArray = new Array();
                    var GoSchooArray = new Array();
                    var SignUpArray = new Array();
                    for (var i = 0; i < 12; i++) {
                        var KeepOnRecordCount = SuccessData[i].KeepOnRecordCount;
                        KeepOnRecordArray.push(KeepOnRecordCount);
                    }
                    for (var i = 0; i < 12; i++) {
                        var GoSchoolCount = SuccessData[i].GoSchoolCount;
                        GoSchooArray.push(GoSchoolCount);
                    }
                    for (var i = 0; i < 12; i++) {
                        var SignUpCount = SuccessData[i].SignUpCount;
                        SignUpArray.push(SignUpCount);
                    }
                    all.KeepOnRecordCount = KeepOnRecordArray;
                    all.GoSchoolCount = GoSchooArray;
                    all.SignUpCount = SignUpArray;

                    var option = optionFactory(all);
                    //console.log(option);
                    if (myCharts != null && myCharts != "" && myCharts != undefined) {
                        myCharts.dispose();
                    }
                     myCharts= echarts.init(document.getElementById('main'));
                    myCharts.setOption(option);
                }
            });
        }

        //layui
        layui.use(['tree', 'util'], function () {
            var tree = layui.tree
                , layer = layui.layer
                , util = layui.util
            mytree = tree;
            //手风琴模式
            tree.render({
                elem: '#test4'
                ,id:'channeltree'
                , accordion: true
                , onlyIconControl: true
                , click: function (obj) {
                    //console.log(obj.data.id); //得到当前点击的节点数据
                    //console.log(obj.state); //得到当前节点的展开状态：open、close、normal
                    //console.log(obj.elem); //得到当前节点元素
                    //console.log(obj.data.children); //当前节点下是否有子节点
                    isteam = false;
                    mrdempid = obj.data.id;
                    LoadECharts(mrdplanID, isteam, mrdempid);

                }
                , showLine: false
            });

        });

        //年度计划下拉框触发事件
        $("#grandlist li a").click(function () {
            var grand = $(this).text();
            $("#selectGrand")[0].innerHTML = grand + " <span class='caret'></span>";
            mrdplanID = $(this).attr("planid");
            console.log(mrdplanID);
            LoadZhuren(mrdplanID);
            LoadTree(mrdplanID,mrdempid);
            LoadECharts(mrdplanID, isteam, mrdempid);
        });
        //团队下拉框触发事件
        $(document).off("click", "#Zhurenlist li").on('click', '#Zhurenlist li', function () {
            var dudu = $(this).text();
            $("#selectZhuren")[0].innerHTML = dudu + " <span class='caret'></span>";
            mrdempid = $($(this)[0].firstChild).attr('ZhurenID');
            console.log(mrdempid);
            isteam = true;
            LoadTree(mrdplanID, mrdempid);
            LoadECharts(mrdplanID, isteam, mrdempid);
        });



    </script>
}