@{
    Layout = null;
}
@model  SiliconValley.InformationSystem.Entity.MyEntity.Teacher
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Areas/Teaching/Scripts/Teacheroptioner.js"></script>
</head>
<body>
    <div>

        <h1 style="text-align:center;">修改教员信息</h1>


        <hr />
        <form class="layui-form" action="">


            <div class="layui-form-item">
                <label class="layui-form-label">短输入框</label>
                <div class="layui-input-inline">
                    <input type="text" name="name" value="@ViewBag.Emp.EmpName"  readonly class="layui-input">
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">工作经验</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="WorkExperience">
                           @Model.WorkExperience
                    </textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">项目经验</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="ProjectExperience">
                           @Model.ProjectExperience
                    </textarea>
                </div>
            </div>
            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">教学经验</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="TeachingExperience">
                            @Model.TeachingExperience
                    </textarea>
                </div>
            </div>

            <div class="layui-form-item layui-form-text">
                <label class="layui-form-label">上课风格</label>
                <div class="layui-input-block">
                    <textarea placeholder="请输入内容" class="layui-textarea" name="AttendClassStyle">
                            @Model.AttendClassStyle
                    </textarea>
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1">提交修改</button>
                </div>
            </div>
        </form>
    </div>

    <script src="~/Scripts/layui/layui.js"></script>


</body>
</html>
