@{
    Layout = null;
}
@model  SiliconValley.InformationSystem.Entity.MyEntity.Teacher
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <style>

        #jiben input {
            
            border:0px solid #ffffff;
        }

    </style>

</head>
<body>
    <div>

        <h1 style="text-align:center;">修改教员信息</h1>


        <hr />
        <form class="layui-form">
            <fieldset id="jiben">
                <legend>基本信息</legend>

                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">员工编号</label>

                        <div class="layui-input-inline">
                            <input type="tel" value="@ViewBag.Emp.EmployeeId" name="Number" readonly autocomplete="off" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">员工姓名</label>
                        <div class="layui-input-inline">
                            <input type="text" value="@ViewBag.Emp.EmpName" readonly name="Name" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">性别</label>
                        <div class="layui-input-inline">

                            <input type="radio" name="sex" value="@ViewBag.Emp.Sex" checked title="@ViewBag.Emp.Sex">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">入职时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="inputtime" value="@ViewBag.Emp.EntryTime" readonly id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>

            </fieldset>
        </form>

        <fieldset>
            <legend>编辑区域</legend>
            <form class="layui-form" lay-filter="editteacher">

                @Html.HiddenFor(d => d.TeacherID)

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">工作经验</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容  长度不超过200" maxlength="200" class="layui-textarea" name="WorkExperience">
                           @Model.WorkExperience
                    </textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                   
                    <div class="layui-inline">
                        <label class="layui-form-label">底课时</label>
                        <div class="layui-input-inline">
                            <input type="number" name="MinimumCourseHours" value="@Model.MinimumCourseHours" class="layui-input">
                        </div>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">项目经验</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容  长度不超过200" maxlength="200" class="layui-textarea" name="ProjectExperience">
                           @Model.ProjectExperience
                    </textarea>
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">教学经验</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容  长度不超过200" maxlength="200" class="layui-textarea" name="TeachingExperience">
                            @Model.TeachingExperience
                    </textarea>
                    </div>
                </div>

                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">上课风格</label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容  长度不超过200" maxlength="200" class="layui-textarea" name="AttendClassStyle">
                            @Model.AttendClassStyle
                    </textarea>
                    </div>
                </div>


                <div class="layui-form-item">
                    <div class="layui-input-block" style="text-align:center;">
                        <button class="layui-btn" id="submit" lay-submit="" lay-filter="editteacher">确定</button>
                    </div>
                </div>
            </form>

        </fieldset>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Areas/Teaching/Scripts/Ajax.js"></script>
    <script>

        layui.use(['form', 'layer'], function () {

            var form = layui.form;
            var layer = layui.layer;


            var jointiem = $("#date").val();

            var date = new Date(jointiem);

            var year = date.getFullYear();

            var mouth = date.getMonth() + 1;

            var day = date.getDate();

            $("#date").val(year + '年' + mouth + '月' + day + '日');

            var form = layui.form;
            var laydate = layui.laydate;





            form.on('submit(editteacher)', function (data) {


                console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
                //阻止表单跳转。如果需要表单跳转，去掉这段即可。


                Ajax("/Teaching/Teacher/DoEdit", data.field, "post", function (result) {

                    layer.msg(result.Msg, { time: 1000 }, function () {

                        //当你在iframe页面关闭自身时
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        parent.layer.close(index); //再执行关闭
                    });

                   

                }, function (error) {

                    layer.msg("网络链接失败！");

                    });


                return false;
            });


            $(document).keydown(function (event) {

                console.log(event.keyCode);

                if (event.keyCode == 13) {

                    $("#submit").click();

                }

            });

        });


    </script>

</body>
</html>
