
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.MyEntity.EmpTransaction
@using SiliconValley.InformationSystem.Entity.MyEntity;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddTransactionInfo</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            height: 120px;
        }
    </style>
</head>
<body>
    <div>
        <form class="layui-form" action="" lay-filter="">
            <div class="layui-container">
                <input type="hidden" id="TransactionId" name="TransactionId" class="layui-input" />
                <input type="hidden" id="EmployeeId" name="EmployeeId" class="layui-input" />
                <div class="layui-row layui-form-item" style="margin-top:20px;">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">员工姓名:</label>
                        <div class="layui-input-block" style="width:200px;">
                            <input type="text" id="EmpName" name="EmpName" class="layui-input" readonly lay-verify="required" />
                            <i class="layui-icon layui-icon-search" id="iconbtn" style="font-size: 25px; color:lightseagreen;float:left;margin:-28px 210px;"></i>
                        </div>

                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">异动类型:</label>
                        <div class="layui-input-block">
                            <select id="TransactionType" name="TransactionType" lay-filter="myform">
                                <option value="-1">请选择类型</option>
                                @foreach (var item in ViewBag.etrType as List<MoveType>)
                                {
                                    <option value="@item.ID" mytxt="">@item.MoveTypeName</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">异动时间:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.TransactionTime, new Dictionary<string, object>() { { "class", "layui-input" },{ "lay - verify", "required" } })
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">原因:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Reason, new Dictionary<string, object>() { { "class", "layui-input" } })
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-form-item">
                    <label class="layui-form-label">备注:</label>
                    <div class="layui-input-block">
                        @Html.TextAreaFor(a => a.Remark, new Dictionary<string, object>() { { "class", "layui-input linu" } })
                    </div>
                </div>

                <div class="layui-row layui-form-item" id="transferPosition" style="border:0px;display:none">
                    <input type="hidden" id="PreviousPosition" name="PreviousPosition" class="layui-input" />
                    <input type="hidden" id="PreviousDept" name="PreviousDept" class="layui-input" />
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">现部门:</label>
                            <div class="layui-input-block">
                                <input type="text" id="Depart" name="Depart" class="layui-input" style="border:0px" readonly />
                            </div>
                        </div>

                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">现岗位:</label>
                            <div class="layui-input-block">
                                <input type="text" id="Position" name="Position" class="layui-input" style="border:0px" readonly />
                            </div>
                        </div>
                    </div>

                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">现工资标准:</label>
                            <div class="layui-input-block">
                                @Html.TextBoxFor(a => a.PreviousSalary, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                            </div>
                        </div>

                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">拟转部门:</label>
                            <div class="layui-input-block">
                                <select name="PresentDept" id="PresentDept" style="width:130px;" lay-filter="deptidfilter" lay-search=""></select>
                            </div>
                        </div>
                    </div>

                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">拟转岗位:</label>
                            <div class="layui-input-block">
                                <select name="PresentPosition" id="PresentPosition" lay-search=""></select>
                            </div>
                        </div>

                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">转岗后工资:</label>
                            <div class="layui-input-block">
                                @Html.TextBoxFor(a => a.PresentSalary, new Dictionary<string, object>() { { "class", "layui-input" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-form-item" id="Raises" style="border:0px;display:none">

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">现工资标准:</label>
                        <div class="layui-input-block">
                            <input type="text" id="salaryBefore" name="salaryBefore" class="layui-input" style="border:0px" readonly />
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">加薪额度:</label>
                        <div class="layui-input-block">
                            <input type="text" id="Raiselimit" name="Raiselimit" class="layui-input" />
                        </div>
                    </div>

                </div>

            </div>
            <div class="layui-form-item" style="margin-left:200px;margin-top:30px;">
                <div class="layui-input-block">
                    <button class="layui-btn " lay-submit="" type="button" lay-filter="demo1">立即提交</button>
                    <button class="layui-btn " id="btnclose1">关闭</button>
                </div>
            </div>
        </form>
    </div>

    <script>

        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
            //form.render();

            laydate.render({
                elem: '#TransactionTime',
            });//身份证有效期

            $("#iconbtn").click(function () {
                var type = $("#TransactionType").val();
                if (type == -1) {
                    layer.msg('请先选择异动类型');
                } else {
                    layer.open({
                        type: 2
                        , area: ["700px", "400px"]
                        , title: "选择员工"
                        , content: '/Personnelmatters/EmpTransactionRecord/SelectEmp/?type=' + type
                        , anim: 2
                    });
                }
                
            });

            //将选择的员工信息从弹出层获取，并赋值给相应的属性
        
            //异动类型下拉框监听事件
            form.on('select(myform)', function (data) {
                var s = data.value;
              
                $(data.elem).children().each(function (index, elem) {
                    var currentValue = $(elem).val();

                    if (currentValue == s) {
                        if ($(elem).text() == "调岗") {
                            document.getElementById('transferPosition').style.display = "block";
                            document.getElementById('Raises').style.display = "none";
                        } else if ($(elem).text() == "加薪") {
                            document.getElementById('Raises').style.display = "block";
                            document.getElementById('transferPosition').style.display = "none";
                        } else {
                            document.getElementById('transferPosition').style.display = "none";
                            document.getElementById('Raises').style.display = "none";
                        }
                    }
                });
             
            });

            //添加异动信息提交
            form.on('submit(demo1)', function (data) {
                console.log("加薪前工资：" + data.field.salaryBefore);
                if (data.field.Raiselimit != "") {
                    data.field.PresentSalary = parseFloat(data.field.salaryBefore) + parseFloat(data.field.Raiselimit);
                    console.log("加薪后工资：" + data.field.PresentSalary);
                }
                $.post("/Personnelmatters/EmpTransactionRecord/AddEtrInfo", data.field, function (data) {
                  
                    if (data.Success) {
                        layer.alert("添加成功!", { icon: 1 }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layui.table.reload('myETR');
                            parent.layer.close(index);

                        });
                    } else {
                        layer.alert("添加失败!");
                    }
                });
                return false;
            });

            //关闭部门添加页面
            $("#btnclose1").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
              //  parent.layui.table.reload('myETR');
                parent.layer.close(index);
            });
        });


        function GetEmpData(Itemnames) {
            $("#EmployeeId").val(Itemnames.EmployeeId);
            $("#EmpName").val(Itemnames.EmpName);
            $("#PreviousDept").val(Itemnames.DeptId);
            $("#PreviousPosition").val(Itemnames.PositionId);
            $("#Depart").val(Itemnames.Depart);
            $("#Position").val(Itemnames.Position);
            if (Itemnames.PositiveDate == null) {
                $("#PreviousSalary").val(Itemnames.ProbationSalary);
                $("#salaryBefore").val(Itemnames.ProbationSalary);
            } else {
                $("#PreviousSalary").val(Itemnames.Salary);
                $("#salaryBefore").val(Itemnames.Salary);
            }
        }

    </script>


    @*部门与岗位的下拉框动态赋值及下拉框二级联动*@
    <script>
        layui.use(['form', 'upload', 'layer'], function () {
            var form = layui.form;
            $.ajax({
                url: '/Personnelmatters/EmployeesInfo/BindDeptSelect',
                data: {},
                dataType: "json",
                success: function (resultData) {
                    $("#PresentDept").empty();
                    $("#PresentDept").append(new Option("请选择部门", ""));
                    if (resultData.code == 0) {
                        $.each(resultData.data, function (index, item) {
                            $("#PresentDept").append(new Option(item.DeptName, item.DeptId));
                        });
                    } else {
                        $("#PresentDept").append(new Option("暂无数据", ""));
                    }
                    layui.form.render("select");
                }
            });

            //级联子项目
            //select 监听
            form.on('select(deptidfilter)', function (data) {
                var value = data.value;  //select选中的值
                $.ajax({
                    url: "/Personnelmatters/EmployeesInfo/BindPositionSelect",
                    data: { deptid: value },
                    dataType: "json",
                    success: function (resultData) {
                        if (resultData.code == 0) {
                            //清空赋值
                            $("#PresentPosition").empty();
                            $("#PresentPosition").append(new Option("请选择岗位", ""));

                            $.each(resultData.data, function (index, item) {
                                //赋值
                                $("#PresentPosition").append(new Option(item.PositionName, item.Pid));
                            });
                        } else {
                            $("#PresentPosition").append(new Option("暂无数据", ""));
                        }
                        layui.form.render("select");
                    }
                });
            })
            layui.form.render("select");

        });


    </script>
</body>
</html>
