
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.ViewEntity.EmpTransactionView
@using SiliconValley.InformationSystem.Entity.ViewEntity;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetEmpETRDetail</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>
<body>

    <div>
        <form class="layui-form" action="" id="Positive" lay-filter="Positive">
            @{
                List<EmpTransactionView> etrlist = ViewBag.ETRlist as List<EmpTransactionView>;
                <input type="hidden" id="etrcount" value="@etrlist.Count()" />
                foreach (var item in etrlist)
                {
                    <fieldset id="filedlist" name="filedlist">
                        
                        <legend>@item.Transactionname</legend>
                        <input type="hidden" class="etrtype"  value="@item.Transactionname"/>
                        <div class="layui-row layui-form-item">

                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <label class="layui-form-label">异动类型:</label>
                                <div class="layui-input-inline" style="width:190px;">
                                    <input type="text" id="etrtype" name="etrtype" value="@item.Transactionname" style="border:0px;" readonly class="layui-input " />
                                </div>
                            </div>

                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <label class="layui-form-label">异动理由:</label>
                                <div class="layui-input-inline" style="width:190px;">
                                    <input type="text" value="@item.Reason" style="border:0px;" readonly class="layui-input" />
                                </div>
                            </div>

                        </div>
                        <div class="layui-row layui-form-item">

                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <label class="layui-form-label">异动时间:</label>
                                <div class="layui-input-inline" style="width:190px;">
                                    <input type="text" value="@item.TransactionTime" name="time" style="border:0px;" readonly class="layui-input TransactionTime" />
                                </div>
                            </div>

                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <label class="layui-form-label">备注:</label>
                                <div class="layui-input-inline" style="width:190px;">
                                    <input type="text" value="@item.Remark" style="border:0px;" readonly class="layui-input" />
                                </div>
                            </div>

                        </div>

                        <div class="layui-row layui-form-item Transferposition" id="Transferposition" hidden>
                            <div class="layui-row layui-form-item">
                                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                    <label class="layui-form-label">调岗前部门:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="predname" name="predname" value="@item.beforedname" readonly class="layui-input" style="border:0px;" />
                                    </div>
                                </div>
                                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                    <label class="layui-form-label">调岗前岗位:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="prepname" name="prepname" value="@item.beforepname" readonly class="layui-input" style="border:0px;" />
                                    </div>
                                </div>

                            </div>
                            <div class="layui-row layui-form-item">
                                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                    <label class="layui-form-label">调岗前工资:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="PreviousSalary" name="PreviousSalary" value="@item.PreviousSalary" readonly class="layui-input" style="border:0px;" />
                                    </div>
                                </div>

                                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                    <label class="layui-form-label">调岗后部门:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="nowdname" name="nowdname" value="@item.afterdname" readonly class="layui-input" style="border:0px;" />
                                    </div>
                                </div>
                            </div>
                            <div class="layui-row layui-form-item">

                                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                    <label class="layui-form-label">调岗后岗位:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="nowpname" name="nowpname" value="@item.afterpname" readonly class="layui-input" style="border:0px;" />
                                    </div>
                                </div>
                                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                    <label class="layui-form-label">调岗后工资:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="PresentSalary" name="PresentSalary" value="@item.PresentSalary" readonly class="layui-input" style="border:0px;" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-form-item Increasesalary" id="Increasesalary" hidden>
                            <div class="layui-row layui-form-item">

                                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                    <label class="layui-form-label">加薪前工资:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="PreviousSalary2" name="PreviousSalary2" value="@item.PreviousSalary" readonly class="layui-input" style="border:0px;" />
                                    </div>
                                </div>
                                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                    <label class="layui-form-label">加薪后工资:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="PresentSalary2" name="PresentSalary2" value="@item.PresentSalary" readonly class="layui-input" style="border:0px;" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-form-item Contractrenewal" id="Contractrenewal" hidden>
                            <div class="layui-row layui-form-item">
                                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                    <label class="layui-form-label" style="width:120px;margin-left:-40px;">前合同起始时间:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="BeforeContractStartTime" name="BeforeContractStartTime" value="@item.BeforeContractStartTime" readonly class="layui-input" style="border:0px;" />
                                    </div>
                                </div>
                                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                    <label class="layui-form-label" style="width:120px;margin-left:-40px;">前合同终止时间:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="BeforeContractEndTime" name="BeforeContractEndTime" value=" @item.BeforeContractEndTime" readonly class="layui-input" style="border:0px;" />
                                    </div>
                                </div>

                            </div>

                            <div class="layui-row layui-form-item">

                                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                    <label class="layui-form-label" style="width:120px;margin-left:-40px;">续签后起始时间:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="AfterContractStartTime" name="AfterContractStartTime" value="@item.AfterContractStartTime" readonly class="layui-input" style="border:0px;" />
                                    </div>
                                </div>
                                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                    <label class="layui-form-label" style="width:120px;margin-left:-40px;">续签后终止时间:</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="AfterContractEndTime" name="AfterContractEndTime" value="@item.AfterContractEndTime" readonly class="layui-input" style="border:0px;" />
                                    </div>
                                </div>
                            </div>
                        </div>

                    </fieldset>

                }

            }
        </form>
    </div>

    <script>
        $(function () {
            var len = $("fieldset[name='filedlist']");//获取bainame标签的个数
            for (var index = 0; index < len.length; index++) {//创建一个du数字数组
                var time = $(len[index]).children("input[name='time']").val();
                time = GetYMD(time);
                console.log("shijian:"+time);
                var type = $(len[index]).children(".etrtype").val();

                console.log("异动类型：" + type);
                if (type == "调岗") {
                    $(len[index]).children(".Transferposition").css('display', 'block');
                } else if (type === "加薪") {
                    $(len[index]).children(".Increasesalary").css('display', 'block');
                } else if (type === "续签") {
                    $(len[index]).children(".Contractrenewal").css('display', 'block');
                }
            }
          
        });
       
        //显示年月日
        function GetYMD(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate;
            } else {
                return "";
            }
        }
    </script>

</body>
</html>
