
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.MyEntity.EmployeesInfo
@using SiliconValley.InformationSystem.Entity.MyEntity;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LeftEmpDetail</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

        .AreaStyle {
            height: 120px;
        }
    </style>
</head>
<body>
    <div>
        <form class="layui-form" action="" lay-filter="formtest">
            <div class="layui-container">
                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">员工编号:</label>
                        <div class="layui-input-inline">
                            @Html.TextBoxFor(a => a.EmployeeId, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">姓名:</label>
                        <div class="layui-input-inline">
                            @Html.TextBoxFor(a => a.EmpName, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">性别:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Sex, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })

                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">所属部门:</label>
                        <div class="layui-input-block">
                            <input type="text" id="dname" name="dname" readonly class="layui-input" style="border:0px;" />
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">所属岗位:</label>
                        <div class="layui-input-block">
                            <input type="text" id="pname" name="pname" readonly class="layui-input" style="border:0px;" />
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">钉钉工号:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.DDAppId, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">年龄:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Age, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">民族:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Nation, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">手机号码:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Phone, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">身份证号:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.IdCardNum, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">入职时间:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.EntryTime, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">转正日期:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.PositiveDate, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label" style="margin-left:-40px;width:120px;">合同起始时间:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.ContractStartTime, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label" style="margin-left:-40px;width:120px;">合同终止时间:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.ContractEndTime, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">出生日期:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Birthdate, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">生日:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Birthday, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label" style="margin-left:-40px;width:120px;">紧急联系电话:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.UrgentPhone, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">学历:</label>
                        <div class="layui-input-block">
                            <input type="text" id="Education" name="Education" readonly class="layui-input" style="border:0px;" />
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">婚姻状态:</label>
                        <div class="layui-input-block">
                            <input type="radio" name="MaritalStatus" id="MaritalStatus" value="false" title="未婚" readonly>
                            <input type="radio" name="MaritalStatus" value="true" title="已婚" readonly>
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">户籍地址:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.DomicileAddress, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">现居地址:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Address, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label" style="margin-left:-40px;width:120px;">身份证有效期:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.IdCardIndate, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">政治面貌:</label>
                        <div class="layui-input-block">
                            <input type="text" id="PoliticsStatus" name="PoliticsStatus" readonly class="layui-input" style="border:0px;" />
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label" style="margin-left:-40px;width:120px;">社保起始月份:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.SSStartMonth, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">试用期工资:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.ProbationSalary, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input salary" } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">转正后工资:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Salary, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input salary" } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">银行卡号:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.BCNum, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input" } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">离职日期:</label>
                        <div class="layui-input-block">
                            
                            @Html.TextAreaFor(a => a.Material, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input AreaStyle" } })
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">离职原因:</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(a => a.WorkExperience, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input AreaStyle" } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">材料:</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(a => a.Material, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input AreaStyle" } })
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">工作经验:</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(a => a.WorkExperience, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input AreaStyle" } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">备注:</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(a => a.Remark, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input AreaStyle" } })
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">图片:</label>
                        <div class="layui-input-block">
                            <div style="border:1px solid #808080;width:420px;height:200px;">
                                <img id="Image" style="width:420px;height:200px;" />
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </form>
    </div>


    <script>

        $(function () {
            loademp();// 初始化编辑数据加载
        });
        function loademp() {
            var id = $("#EmployeeId").val();

            $.get("/Personnelmatters/EmployeesInfo/GetempById/" + id, function (data) {
                layui.use(['layer', 'form', 'table'], function () {
                    var form = layui.form;
                    // data.Sex = data.Sex.toString();
                    data.MaritalStatus = data.MaritalStatus.toString();
                    data.EntryTime = GetYMD(data.EntryTime);
                    data.PositiveDate = GetYMD(data.PositiveDate);
                    data.ContractStartTime = GetYMD(data.ContractStartTime);
                    data.ContractEndTime = GetYMD(data.ContractEndTime);
                    data.Birthdate = GetYMD(data.Birthdate);
                    data.IdCardIndate = GetYMD(data.IdCardIndate);
                    data.SSStartMonth = GetYearAndMonth(data.SSStartMonth);
                    if (data.Image != null) {
                        $("#Image")[0].src = "../../../uploadXLSXfile/EmpImage/" + data.Image;
                    }
                    console.log("图片：" + $("#Image")[0].src);
                    form.val("formtest", data);

                });
            })
        }

        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            //日期验证
            laydate.render({
                elem: '#EntryTime',
            }); //入职时间
            laydate.render({
                elem: '#IdCardIndate',
            });//身份证有效期
            laydate.render({
                elem: '#ContractStartTime',
            });//合同起始时间
            laydate.render({
                elem: '#ContractEndTime',
            });//合同终止时间
            laydate.render({
                elem: '#Birthdate',
            });//出生日期

        });


        //格式化时间
        function GetYearAndMonth(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month;
            } else {
                return "";
            }
        }
        //显示年月日
        function GetYMD(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate;
            } else {
                return "";
            }
        }
    </script>


</body>
</html>
