
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.MyEntity.OvertimeRecord
@using SiliconValley.InformationSystem.Entity.MyEntity;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>OvertimeEdit</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            height: 120px;
        }
    </style>
</head>
<body>
    <div>

        <form class="layui-form" action="" id="Positive" lay-filter="Positive">
            <div class="layui-container">
                <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />

                <div class="layui-form-item">
                    <label class="layui-form-label">姓名:</label>
                    <div class="layui-input-block">
                        <input type="text" name="empName" id="empName" readonly style="border:0px;" class="layui-input" />
                        <input type="hidden" value="EmployeeId" name="EmployeeId" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">开始时间:</label>
                    <div class="layui-input-block">
                        @Html.TextBoxFor(a => a.StartTime, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">结束时间:</label>
                    <div class="layui-input-block">
                        @Html.TextBoxFor(a => a.EndTime, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:120px;margin-left:-40px;">加班时长(小时):</label>
                    <div class="layui-input-block">
                        @Html.TextBoxFor(a => a.Duration, new Dictionary<string, object>() { { "class", "layui-input xiaoshu" } })
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">是否调休:</label>
                    <div class="layui-input-block">
                        <input type="radio" name="IsNoDaysOff" value="false" title="调休">
                        <input type="radio" name="IsNoDaysOff" value="true" title="不调休">
                    </div>
                    <input type="hidden" id="OvertimeTypeId" name="OvertimeTypeId" />
                </div>


                <div class="layui-form-item">
                    <label class="layui-form-label">加班原因:</label>
                    <div class="layui-input-block">
                        @Html.TextBoxFor(a => a.OvertimeReason, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input " } })
                    </div>
                </div>

                <div class="layui-form-item">
                     <label class="layui-form-label">备注:</label>
                    <div class="layui-input-block">
                        @Html.TextAreaFor(a => a.Remark, new Dictionary<string, object>() { { "style", "border:0px" }, { "readonly", "true" }, { "class", "layui-input linu" } })
                    </div>
                </div>
            </div>

            <div class="layui-form-item" style="margin-left:120px;margin-top:20px;">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-warm" lay-submit="" type="button" lay-filter="demo1">立即提交</button>
                    <button class="layui-btn layui-btn-warm" id="btnclose1">关闭</button>
                </div>
            </div>
        </form>
    </div>

    <script>

        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;
            $(function () {
                loademp();// 初始化编辑数据加载
            });
            function loademp() {
                var id = $("#Id").val();
                $.get("/Personnelmatters/EmployeesInfo/GetOvertimeById/" + id, function (data) {
                    layui.use(['layer', 'form', 'table'], function () {
                        var form = layui.form;
                        data.IsNoDaysOff = data.IsNoDaysOff.toString();
                        data.StartTime = changeDateTimeFormat(data.StartTime);
                        data.EndTime = changeDateTimeFormat(data.EndTime);
                        form.val("Positive", data);

                    });
                })
            }

            $(".xiaoshu").keyup(function () {
                var reg = $(this).val().match(/\d+\.?\d{0,1}/);
                var txt = '';
                if (reg != null) {
                    txt = reg[0];
                }
                $(this).val(txt);
            }).change(function () {
                $(this).keypress();
                var v = $(this).val();
                if (/\.$/.test(v)) {
                    $(this).val(v.substr(0, v.length - 1));
                }
            });


            //提交
            form.on('submit(demo1)', function (data) {
                $.post("/Personnelmatters/EmployeesInfo/OvertimeEdit", data.field, function (data) {
                    if (data.Success) {
                        layer.alert("编辑成功!", { icon: 1 }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layui.table.reload('myApproved');
                            parent.layer.close(index);
                        });
                    } else {
                        layer.alert("编辑失败!");
                    }
                });
                return false;
            });

            //关闭页面
            $("#btnclose1").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layui.table.reload('myApproved');
                parent.layer.close(index);
            });
        });


        //时间格式转换
        function changeDateTimeFormat(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + ss;
            } else {
                return "";
            }
        }
    </script>
</body>
</html>
