
@{
    Layout = null;
}

<!DOCTYPE html>

@using SiliconValley.InformationSystem.Entity.ViewEntity




<link href="~/Scripts/layui-v2.5.4/layui/css/layui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/layui-v2.5.4/layui/layui.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>借款</title>

    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .noborder {
            border: 0px solid #ffffff;
        }

        .linu {
            width: 200px;
        }
    </style>
    <script src="~/Scripts/underscore.js"></script>
</head>
<body>

    <h1 style="text-align:center;height:50px;">申请资金单</h1>

    <div class="layui-container">
        <div>
            <form class="layui-form" action="">

                <div class="layui-container">

                    <fieldset>
                        <legend>借资单</legend>
                        <div class="layui-row layui-form-item">

                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <label class="layui-form-label">部门</label>
                                <div class="layui-input-inline">

                                    <input type="tel" value="@ViewBag.DepInfo.DeptName" name="DeptName" readonly autocomplete="off" class="layui-input noborder">
                                </div>
                            </div>
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <label class="layui-form-label">岗位</label>
                                <div class="layui-input-inline">
                                    <input type="tel" value="@ViewBag.PositionInfo.PositionName" name="PositionName" readonly autocomplete="off" class="layui-input noborder">
                                </div>
                            </div>
                        </div>


                        <div class="layui-row layui-form-item">
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <label class="layui-form-label">借款人</label>
                                <div class="layui-input-block">
                                    <input type="tel" value="@ViewBag.employeesInfo.EmpName" name="EmpName" id="EmpName" readonly autocomplete="off" class="layui-input noborder">
                                    <input type="tel" value="@ViewBag.employeesInfo.EmployeeId" name="EmployeeId" id="EmployeeId" hidden="hidden">
                                </div>
                            </div>

                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <label class="layui-form-label">选择类型</label>
                                <div class="layui-input-block">
                                    <input type="radio" name="type" class="yingzi" value="Borrowmoney" title="借资" checked="" lay-filter="yingying">
                                    <input type="radio" name="type" class="yingzi" value="Prefunding" title="预资" lay-filter="yingying">
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-form-item">
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <label class="layui-form-label">借资金额</label>
                                <div class="layui-input-block">
                                    <input type="tel" name="Money" id="ipt1" placeholder="￥" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                        </div>

                        <div class="layui-row layui-form-item" id="index">


                        </div>



                    </fieldset>
                </div>
            </form>
        </div>

        <div>

            <button class="layui-btn" lay-filter="demo1" onclick="DoBorrowMoney()">添加</button>


            <button class="layui-btn" id="clode">取消</button>

        </div>
    </div>

    @*普通借资原因*@
    <script type="text/template" id="Borrowmoneymuban">

        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
            <label class="layui-form-label">{{=content}}</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" name="BorrowmoneyReason" id="BorrowmoneyReason"></textarea>
            </div>

        </div>
    </script>

    @*预资原因*@
    <script type="text/template" id="Prefundingmuban">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
            <label class="layui -form-label">{{=content}}</label>
            <div id="test4" class="demo-transfer"></div>
        </div>
    </script>

    <script>
        var mytransfer;
        var type;
        jQuery(function () {
            loadBorrowmoneymuban("借资原因");
        });
        function loadBorrowmoneymuban(content) {
            $("#index").children().remove();
            var compiled = _.template($("#Borrowmoneymuban").html());
            var html = compiled({ content: content });

            $("#index").append($(html));
        }

        function loadPrefunding(content) {
            $("#index").children().remove();
            var compiled = _.template($("#Prefundingmuban").html());
            var html = compiled({ content: content });
            $("#index").append($(html));
        }
        $("#ipt1").keyup(function () {
                var reg = $(this).val().match(/\d+\.?\d{0,2}/);
                var txt = '';
                if (reg != null) {
                    txt = reg[0];
                }
                $(this).val(txt);
            }).change(function () {
                $(this).keypress();
                var v = $(this).val();
                if (/\.$/.test(v))
                {
                    $(this).val(v.substr(0, v.length - 1));
                }
            });
        layui.use(['transfer', 'layer', 'util','form'], function () {
            var form = layui.form;
            var transfer = layui.transfer;
            var layer = layui.layer;
            var data2 = JSON.parse('@Html.Raw(ViewBag.Student)');

            //单选框监听值
            form.on('radio(yingying)', function (data) {
                type = data.value;
                switch (type) {
                    case "Borrowmoney":
                        loadBorrowmoneymuban("借资原因");
                        break;
                    case "Prefunding":
                        loadPrefunding("预资");
                        transfer.render({
                            elem: '#test4'
                            , data: data2
                            , title: ['可预资学生列表', '已选择学生列表']
                            , showSearch: true
                            , id: 'mykey' //定义索引
                            , parseData: function (res) {
                                return {
                                    "value": res.Id //数据值
                                    , "title": res.StuName //数据标题
                                    , "disabled": res.disabled  //是否禁用
                                    , "checked": res.checked //是否选中
                                }
                            }
                        });
                        mytransfer = transfer;
                        break;
                }
            });

        });
        function DoBorrowMoney() {
            var EmployeeId = $("#EmployeeId").val();
            var DebitMoney = $("#ipt1").val();
            switch (type) {
                case "Borrowmoney":
                    var BorrowmoneyReason = $("#BorrowmoneyReason").val();
                    $.ajax({
                        type: "POST",
                        url: "/Market/ChannelStaff/PublicBorrow",
                        data: {EmployeeId:EmployeeId,DebitMoney:DebitMoney,BorrowmoneyReason:BorrowmoneyReason},
                        async: true,
                        success: function (data) {
                            if (data.Success) {
                                layer.msg('借资成功', {
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function () {
                                    location.reload();
                                });
                            } else {
                                layer.msg('请重新申请借资', {
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function () {
                                    location.reload();
                                });
                            }


                        },
                        error: function (data) {

                        }
                    });
                    break;
                case "Prefunding":
                    var transferdata = mytransfer.getData('mykey');
                    $.ajax({
                        type: "POST",
                        url: "/Market/ChannelStaff/DoPrefunding",
                        data: { EmployeeId: EmployeeId, DebitMoney: DebitMoney, transferdata: JSON.stringify(transferdata) },
                        async: true,
                        success: function (data) {
                            if (data.Success) {
                                layer.msg('预资成功', {
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function () {
                                    location.reload();
                                });
                            } else {
                                layer.msg('请重新申请预资', {
                                    icon: 1,
                                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                                }, function () {
                                    location.reload();
                                });
                            }
                        },
                        error: function (data) {

                        }
                    });
                    break;
            }
        }
    </script>
</body>
</html>