
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.ViewEntity
@model EnterdetailView
<!DOCTYPE html>
<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/layui/layui.js"></script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>查看企业信息</title>

    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            width: 200px;
        }
    </style>
    <script src="~/Scripts/underscore.js"></script>
    @*使用的模板*@
    <script type="text/template" id="muban">
        <fieldset class="fieldset">
            <legend class="major">{{=content}}</legend>
            <div class="layui-row layui-form-item">
                <div class="layui-block">

                    <fieldset>
                        <legend class="title">薪资</legend>
                        <div class="layui-row layui-form-item">
                            <div class="layui-input-block">
                                <input type="text" value="{{=EntSalaryVal}}" readonly="readonly" style="line-height:40px;color:dodgerblue;border:0px;" class="layui-input EntSalary" name="EntSalary{{=content}}">
                            </div>
                        </div>
                    </fieldset>
                </div>
                <div class="layui-block">
                    <fieldset>
                        <legend class="title">岗位职责</legend>
                        <div class="layui-row layui-form-item">
                            <div class="layui-input-block">
                                <textarea class="layui-textarea JobResponsibilities " readonly="readonly" style="line-height:40px;color:dodgerblue;border:0px;" name="JobResponsibilities{{=content}}">{{=JobResponsibilitiesVal}}</textarea>
                            </div>

                        </div>
                    </fieldset>
                </div>
                <div class="layui-block">
                    <fieldset>
                        <legend class="title">任职要求</legend>
                        <div class="layui-row layui-form-item">
                            <div class="layui-input-block">
                                <textarea class="layui-textarea Requirements" readonly="readonly" style="line-height:40px;color:dodgerblue;border:0px;" name="Requirements{{=content}}">{{=RequirementsVal}}</textarea>
                            </div>
                        </div>
                    </fieldset>
                </div>


            </div>
        </fieldset>
    </script>
</head>
<body>

    @*<h1 style="text-align:center;height:50px;">查看企业信息</h1>*@
    <div>
        <form class="layui-form" action="">
    
                <div class="layui-row">

                    <div class="layui-col-md6">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">公司名</label>
                            <div class="layui-input-inline">
                                @Html.TextBoxFor(a => a.EntName, new Dictionary<string, object>() { { "readonly", "readonly" }, { "style", "line-height:40px;color:dodgerblue;border:0px;" } })
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6 ">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">公司地址</label>
                            <div class="layui-input-inline">
                                @Html.TextBoxFor(a => a.EntAddress, new Dictionary<string, object>() { { "readonly", "readonly" }, { "style", "line-height:40px;color:dodgerblue;border:0px;" } })
                            </div>
                        </div>

                    </div>
                    <div class="layui-col-md6 ">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">公司规模</label>
                            <div class="layui-input-block">
                                @Html.TextBoxFor(a => a.EntScale, new Dictionary<string, object>() { { "readonly", "readonly" }, { "style", "line-height:40px;color:dodgerblue;border:0px;" } })

                            </div>
                        </div>

                    </div>
                    <div class="layui-col-md6 ">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">公司性质</label>
                            <div class="layui-input-block">
                                @Html.TextBoxFor(a => a.EntNature, new Dictionary<string, object>() { { "readonly", "readonly" }, { "style", "line-height:40px;color:dodgerblue;border:0px;" } })

                            </div>
                        </div>
                    </div>

                    <div class="layui-col-md6 ">
                        <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                            <label class="layui-form-label">公司福利</label>
                            <div class="layui-input-block">
                                @Html.TextBoxFor(a => a.EntWelfare, new Dictionary<string, object>() { { "readonly", "readonly" }, { "style", "line-height:40px;color:dodgerblue;border:0px;" } })
                            </div>
                        </div>
                    </div>




                </div>

      
                <div id="list" class="layui-row layui-form-item">


                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">备注</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Remark, new Dictionary<string, object>() { { "class", "layui-input" }, { "style", "line-height:40px;color:dodgerblue;border:0px;" } })
                        </div>
                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">联系人姓名</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.EntContacts, new Dictionary<string, object>() { { "readonly", "readonly" }, { "style", "line-height:40px;color:dodgerblue;border:0px;" } })
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">联系方式</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.EntPhone, new Dictionary<string, object>() { { "readonly", "readonly" }, { "style", "line-height:40px;color:dodgerblue;border:0px;" } })
                        </div>
                    </div>
                </div>


                <div class="layui-form-item">

                    <div class="layui-input-inline">
                        <button class="layui-btn" id="clode">返回</button>
                    </div>
                </div>
</form>
    </div>





    <script>
        jQuery(function () {
            var data = JSON.parse('@Html.Raw(ViewBag.NowSpee)');
            for (var i = 0; i < data.length; i++) {
                var compiled = _.template($("#muban").html());

                var html = compiled({ content: data[i].SpecialtyName, EntSalaryVal: data[i].EntSalary, JobResponsibilitiesVal: data[i].JobResponsibilities, RequirementsVal: data[i].Requirements });
                $("#list").append($(html));
            }
        });
        $("#clode").click(function () {
            layui.use(['form', 'layedit', 'laydate'], function () {
                var layer = layui.layer;
                  //先得到当前iframe层的索引
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index); //再执行关闭
            });
            
        });
    </script>
</body>
</html>
