
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FollwingInfoView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .linu
        {
            width: 200px;
        }
        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            line-height: 20px;
            text-align: right;
        }         
        .TextAreCss1
        {
            height: 180px;
            padding-top:20px;
        }
        .TextAreCss2
        {
            height: 100px;
            padding-top: 20px;
        }
        .butCss1
            {
                float: right;
                margin-right: 100px;
            }
        .butCss2
        {
            border: 0px solid black;
        }
        .colorText
        {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" lay-allowClose="true">
        <ul class="layui-tab-title">
            @{
                List<FollwingInfo> f_list = ViewBag.Flowingdata as List<FollwingInfo>;
                if (f_list.Count <= 0)
                {
                    <li class="layui-this">系统提示</li>
                }
                else
                {
                    int i = 0;
                    foreach (var item in f_list)
                    {
                        i++;
                        <li>第<span>《</span><span>@i</span><span>》次跟踪</span></li>
                    }
                }
            }
        </ul>
        <div class="layui-tab-content" style="height: 100px;">
            @{
                if (f_list.Count <= 0)
                {
                    <div class="layui-tab-item layui-show">
                        <h2 style="color:red">该学生目前没有跟踪信息!！！</h2>
                    </div>
                }
                else
                {
                    int j = 0;
                    foreach (FollwingInfo item2 in f_list)
                    {
                        if (j == 0)
                        {
                    <div class="layui-tab-item layui-show">
                        <div style="width:90%;margin:0px auto">
                            <form class="layui-form">
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="LableCss1">跟踪日期:</label>
                                        <div class="layui-input-block">
                                            <input id="MyDate" name="MyDate" type="text" disabled="disabled" class="layui-input" value="@item2.FollwingDate"/>                                             
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="LableCss1">跟踪等级:</label>
                                        <div class="layui-input-block">
                                            <input id="MyGrad" name="MyGrad" type="text" disabled="disabled" class="layui-input" value="@item2.Rank" />                                             
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="LableCss1">跟踪内容:</label>
                                        <div class="layui-input-block">
                                            <textarea class="layui-input TextAreCss1 colorText" id="My_TailAfterSituation" name="My_TailAfterSituation" readonly="readonly" style="color:red">
                                                         @item2.TailAfterSituation 
                                                </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="LableCss1">其他说明:</label>
                                        <div class="layui-input-block">
                                            <textarea class="layui-input TextAreCss2 colorText" id="My_TailAfterSituation" name="My_TailAfterSituation" readonly="readonly">
                                                         @item2.Rmark 
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                       
                    </div>
                        }
                        else
                        {
                    <div class="layui-tab-item">
                        <div style="width:90%;margin:0px auto">
                            <form class="layui-form">
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="LableCss1">跟踪日期:</label>
                                        <div class="layui-input-block">
                                            <input id="MyDate" name="MyDate" type="text" disabled="disabled" class="layui-input" value="@item2.FollwingDate" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="LableCss1">跟踪等级:</label>
                                        <div class="layui-input-block">
                                            <input id="MyGrad" name="MyGrad" type="text" disabled="disabled" class="layui-input" value="@item2.Rank" />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="LableCss1">跟踪内容:</label>
                                        <div class="layui-input-block">
                                            <textarea class="layui-input TextAreCss1 colorText" id="My_TailAfterSituation" name="My_TailAfterSituation" readonly="readonly" style="color:red">
                                                         @item2.TailAfterSituation 
                                                </textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="LableCss1">其他说明:</label>
                                        <div class="layui-input-block">
                                            <textarea class="layui-input TextAreCss2 colorText" id="My_TailAfterSituation" name="My_TailAfterSituation" readonly="readonly">
                                                         @item2.Rmark 
                                            </textarea>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                        }
                        j++;
                    }
                }
            }            
        </div>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
</body>
</html>
