
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FollwingInfoView</title>

    <link href="~/Scripts/Tangmin_CssAndJs/FollwingInfo_Css/normalize.css" rel="stylesheet" />
    <link href="~/Scripts/Tangmin_CssAndJs/FollwingInfo_Css/jquery.wiper.css" rel="stylesheet" />
    <link href="~/Scripts/Tangmin_CssAndJs/FollwingInfo_Css/default.css" rel="stylesheet" />
</head>
<body>
    <article id="test">
        <section id="acordion_box">
            <ul id="acordion_main">
                @{
                    List<FollwingInfo> f_list = ViewBag.Flowingdata as List<FollwingInfo>;
                    if (f_list.Count <= 0)
                    {
                        <li>
                            <h2>系统温馨提示</h2>
                            <section class="sample_text" style="width:600px;font-family:STSong;font-size:25px;">该学生目前没有跟踪信息！！!</section>

                        </li>
                                }
                                else
                                {
                                    int i = 0;
                                    foreach (var item in f_list)
                                    {
                            i++;
                            <li style="background-color:rgba(238,240,240,1)" class="active">
                                <h2>第<span>《</span><span>@i</span><span>》次跟踪</span></h2>
                                <section class="sample_text">
                                    <h3 style="width:600px;">跟踪日期:<span>@item.FollwingDate</span></h3>
                                    <h3>等级:<span>@item.Rank</span></h3>
                                    <h3>跟踪内容:</h3>
                                    <div style="width:600px;font-family:STSong;font-size:25px;">  
                                          @item.TailAfterSituation
                                    </div>
                                    @{ 
                                        if (item.Rmark!=null)
                                        {
                                            <h3>说明:</h3>
                                            <div style="width:600px;font-family:STSong;font-size:25px;">
                                                @item.Rmark
                                            </div>
                                        }
                                    }   
                                  
                                </section>
                            </li>
                        }
                    }
                }
            </ul>
        </section>
    </article>
    <script src="~/Scripts/Tangmin_CssAndJs/FollwingInfo_Js/jquery.min.js"></script>
    <script src="~/Scripts/Tangmin_CssAndJs/FollwingInfo_Js/jquery.wiper.js"></script>
    <script>
        //---------------wiper------------------
        $(function () {
            $("ul#acordion_main").Wiper();

            //easing: 'linear',
            //easing: 'ease',
            //easing: 'ease-in',
            //easing: 'ease-out',
            //easing: 'ease-in-out',

            //Demonstration1
            $("ul#inner_wiper").Wiper({
                easing: 'ease-out',
                offset: -1,
                duration: 2000,
                binder: $("#inner_wiper_demo"),
                menuColors: ['#000000', '#333333', '#666666', '#999999', '#cccccc']
            });

            //Demonstration2
            $("ul#inner_wiper2").Wiper({
                easing: 'ease-out',
                offset: -1,
                duration: 800,
                binder: $("#inner_wiper_demo2"),
                menuColors: [false, false, '#ffd700', '#adff2f', '#4169e1'],
            });

        });

    </script>
</body>
</html>
