
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity;
@using SiliconValley.InformationSystem.Entity.ViewEntity;
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FollwingInfoView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        .linu
        {
            width: 200px;
        }
        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            line-height: 20px;
            text-align: right;
        }         
        .TextAreCss1
        {
            height: 150px;
            padding-top:20px;
           text-align:left;
        }
        .TextAreCss2
        {
            height: 90px;
            padding-top: 20px;
            text-align:left;
        }
        .butCss1
            {
                float: right;
                margin-right: 100px;
            }
        .butCss2
        {
            border: 0px solid black;
        }
        
        .DivCssone{
            width:98%;
            margin:0px auto;
            display:flex;
            flex-direction:column;
        }
   
        .DivCsstwo{
           width:100%;
           height:250px;
           
        }
        .DivCssthree
        {
            width: 100%;
            flex: 1;
          
        }
    </style>
</head>
<body>
    <div class="DivCssone">
        <div class="DivCsstwo">
            @{ 
                ExportStudentBeanData studata = ViewBag.Studentdata as ExportStudentBeanData;

                
            }
            <form class="layui-form" lay-filter="studentdata">
                <fieldset>
                    <legend>基础数据</legend>
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="LableCss1">学生姓名:</label>
                            <div class="layui-input-block">
                                <input type="text" disabled="disabled" class="layui-input" value="@studata.StuName" />
                            </div>
                        </div>
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="LableCss1">联系电话:</label>
                            <div class="layui-input-block">
                                <input type="text" disabled="disabled" class="layui-input" value="@studata.Stuphone" />
                            </div>
                        </div>
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="LableCss1">学生性别:</label>
                            <div class="layui-input-block">
                                <input type="text" disabled="disabled" class="layui-input" value="@studata.StuSex" />
                            </div>
                        </div>
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="LableCss1">Q &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Q:</label>
                            <div class="layui-input-block">
                                <input type="text" disabled="disabled" class="layui-input" value="@studata.StuQQ" />
                            </div>
                        </div>

                    </div>
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="LableCss1">学 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 历:</label>
                            <div class="layui-input-block">
                                <input type="text" disabled="disabled" class="layui-input" value="@studata.StuEducational" />
                            </div>
                        </div>
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="LableCss1">家庭地址:</label>
                            <div class="layui-input-block">
                                <input type="text" disabled="disabled" class="layui-input" value="@studata.StuAddress" />
                            </div>
                        </div>
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="LableCss1">信息来源:</label>
                            <div class="layui-input-block">
                                <input type="text" disabled="disabled" class="layui-input" value="@studata.stuinfomation" />
                            </div>
                        </div>
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="LableCss1">状  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 态:</label>
                            <div class="layui-input-block">
                                <input type="text" disabled="disabled" class="layui-input" value="@studata.StatusName" />
                            </div>
                        </div>

                    </div>
                    <div class="layui-row layui-form-item">
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="LableCss1">备&nbsp; 案&nbsp; 人:</label>
                            <div class="layui-input-block">
                                <input type="text" disabled="disabled" class="layui-input" value="@studata.empName" />
                            </div>
                        </div>
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="LableCss1">所在区域:</label>
                            <div class="layui-input-block">
                                <input type="text" disabled="disabled" class="layui-input" value="@studata.RegionName" />
                            </div>
                        </div>
                        <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                            <label class="LableCss1">关 &nbsp; 系 &nbsp; 人:</label>
                            <div class="layui-input-block">
                                <input type="text" disabled="disabled" class="layui-input" value="@studata.Party" />
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="DivCssthree">
            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief" lay-allowClose="true">
                <ul class="layui-tab-title">
                    @{
                        List<FollwingInfo> f_list = ViewBag.Flowingdata as List<FollwingInfo>;
                        if (f_list.Count <= 0)
                        {
                            <li class="layui-this">系统提示</li>
                        }
                        else
                        {
                            int i = 0;
                            foreach (var item in f_list)
                            {
                                i++;
                                <li>第<span>《</span><span>@i</span><span>》次跟踪</span></li>
                            }
                        }
                    }
                </ul>
                <div class="layui-tab-content" style="height: 100px;">
                    @{
                        if (f_list.Count <= 0)
                        {
                            <div class="layui-tab-item layui-show">
                                <h2 style="color:red">该学生目前没有跟踪信息!！！</h2>
                            </div>
                        }
                        else
                        {
                            int j = 0;
                            foreach (FollwingInfo item2 in f_list)
                            {
                                if (j == 0)
                                {
                                    <div class="layui-tab-item layui-show">
                                        <div style="width:90%;margin:0px auto">
                                            <form class="layui-form">
                                                <div class="layui-row layui-form-item">
                                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                        <label class="LableCss1">跟踪日期:</label>
                                                        <div class="layui-input-block">
                                                            <input id="MyDate" name="MyDate" type="text" disabled="disabled" class="layui-input" value="@item2.FollwingDate" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layui-row layui-form-item">
                                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                        <label class="LableCss1">跟踪等级:</label>
                                                        <div class="layui-input-block">
                                                            <input id="MyGrad" name="MyGrad" type="text" disabled="disabled" class="layui-input" value="@item2.Rank" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layui-row layui-form-item">
                                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                        <label class="LableCss1">跟踪内容:</label>
                                                        <div class="layui-input-block">
                                                            <textarea class="layui-input TextAreCss1" id="My_TailAfterSituation" name="My_TailAfterSituation" readonly="readonly">
                                                         @item2.TailAfterSituation 
                                                </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layui-row layui-form-item">
                                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                        <label class="LableCss1">其他说明:</label>
                                                        <div class="layui-input-block">
                                                            <textarea class="layui-input TextAreCss2" id="My_TailAfterSituation" name="My_TailAfterSituation" readonly="readonly">
                                                         @item2.Rmark 
                                            </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                }
                                else
                                {
                                    <div class="layui-tab-item">
                                        <div style="width:90%;margin:0px auto">
                                            <form class="layui-form">
                                                <div class="layui-row layui-form-item">
                                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                        <label class="LableCss1">跟踪日期:</label>
                                                        <div class="layui-input-block">
                                                            <input id="MyDate" name="MyDate" type="text" disabled="disabled" class="layui-input" value="@item2.FollwingDate" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layui-row layui-form-item">
                                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                        <label class="LableCss1">跟踪等级:</label>
                                                        <div class="layui-input-block">
                                                            <input id="MyGrad" name="MyGrad" type="text" disabled="disabled" class="layui-input" value="@item2.Rank" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layui-row layui-form-item">
                                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                        <label class="LableCss1">跟踪内容:</label>
                                                        <div class="layui-input-block">
                                                            <textarea class="layui-input TextAreCss1" id="My_TailAfterSituation" name="My_TailAfterSituation" readonly="readonly">
                                                         @item2.TailAfterSituation 
                                                </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="layui-row layui-form-item">
                                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                                        <label class="LableCss1">其他说明:</label>
                                                        <div class="layui-input-block">
                                                            <textarea class="layui-input TextAreCss2" id="My_TailAfterSituation" name="My_TailAfterSituation" readonly="readonly">
                                                         @item2.Rmark 
                                            </textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                }
                                j++;
                            }
                        }
                    }
                </div>
            </div>
        </div>
        
    </div>
     
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use('element', function () {
            var element = layui.element;
        });
    </script>
</body>
</html>
