
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.MyEntity.GoodsProvide
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddorEditView</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style>
        #but1
        {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover
            {
                background-color: aqua;
            }

        #Nation
        {
            width: 100px;
        }

        .linu
        {
            width: 200px;
        }

        .mm
        {
            border: 1px solid black;
        }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }

        .TextAreCss1
        {
            height: 80px;
        }

        .butCss1
        {
            float: right;
            margin-right: 100px;
        }

        .butCss2
        {
            border: 0px solid black;
        }

        .layButCss1
        {
            display: inline-block;
            height: 38px;
            line-height: 38px;
            padding: 0 18px;
            background-color: #009688;
            color: #fff;
            white-space: nowrap;
            text-align: center;
            font-size: 14px;
            border: none;
            border-radius: 2px;
            cursor: pointer;
            border: 0px solid #C9C9C9;
            background-color: #fff;
            color: #555;
            height: 18px;
            line-height: 18px
        }

        body .demo-class .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }

        body .demo-class2 .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }

        body .demo-class3 .layui-layer-title
        {
            background-color: #c02828;
            color: #fff;
        }

        .layui-unselect
        {
            width: 150px;
        }
    </style>
</head>
<body>
    <div>
        <form class="layui-form" style="margin-top:30px;">
            <div class="layui-container">    
                        <div class="layui-row layui-form-item">
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <label class="layui-form-label">申请人:</label>
                                <div class="layui-input-block">
                                    <span class="linu LableCss1">
                                        @ViewBag.Man
                                    </span>
                                </div>
                            </div>
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                                <label class="layui-form-label">申请日期:</label>
                                <div class="layui-input-block">
                                    <span class="linu LableCss1">
                                        @ViewBag.Date
                                    </span>
                                </div>
                            </div>
                        </div>
                <div class="layui-row layui-form-item">
                    @Html.HiddenFor(g => g.Id);                     
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                                <label class="layui-form-label">物品名称:</label>
                                <div class="layui-input-block">
                                    <span class="linu LableCss1">
                                        @ViewBag.goods
                                    </span>
                                </div>
                            </div>
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                                <label class="layui-form-label">领取数量:</label>
                                <div class="layui-input-block">
                                    <span class="linu LableCss1">                               
                                        @ViewBag.usecount
                                    </span>
                                </div>
                            </div>              
                </div>
                 
                        <div class="layui-row layui-form-item">
                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                <label class="layui-form-label">归还时间</label>
                                <div class="layui-input-block">
                                    <input id="ReturnDate" name="ReturnDate" class="layui-input"/>
                                    <input type="hidden" id="myshendate" value="@Model.UseDate"/>
                                    <input type="hidden" id="myreturndate" value="@Model.ReturnDate" />
                                </div>
                            </div>
                        </div>         
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">

                        <label class="layui-form-label">说明</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(g => g.Rmark, new Dictionary<string, object>() { { "placeholder", "备注" }, { "class", "layui-input TextAreCss1" } })
                        </div>
                    </div>
                </div>

            </div>
            <div class="layui-form-item" style="margin-top:80px;">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit=""  lay-filter="tijiao">提交</button>
                    <button class="layui-btn butCss1" onclick="MyClose()">取消</button>
                </div>
            </div>

        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        function MyClose() {
            layui.use('layer', function () {
                var layer = layui.layer;
                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                parent.layer.close(index); //再执行关闭
            });
        }

        layui.use(['form', 'layer', 'laydate'], function () {
            var form = layui.form;
            var layer = layui.layer;
            var laydate = layui.laydate;
            //监听提交
            form.on('submit(tijiao)', function (data) {
                var mydata = data.field;
                $.ajax({
                    url: '/Educational/GoodsProvide/UpdateReturnFunction',
                    type: "post",
                    data: mydata,
                    success: function (SucData) {
                        if (SucData == "ok") {
                            $(data.elem).attr('disabled', 'disabled');//将提交按钮设为不可用
                            layer.msg('操作成功', { icon: 1 }, function () {
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                                window.parent.FlushTable();
                            })
                        } else {
                            layer.msg(SucData, { icon: 2 }, function () {
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index); //再执行关闭
                                window.parent.FlushTable();
                            })
                        }
                    }
                });
                return false;
            });
            if ($("#myreturndate").val().length > 0) {
                var dd1 = new Date($("#myshendate").val());
                var s = dd1.getFullYear() + "-" + (Number(dd1.getMonth()) + 1) + "-" + dd1.getDate();       
                var dd = new Date($("#myreturndate").val()); 
                var ss = dd.getFullYear() + "-" + (Number(dd.getMonth()) + 1) + "-" + dd.getDate();       
                laydate.render({
                    elem: '#ReturnDate'
                    , value: ss
                    , max: new Date().toString()
                    , min:  s
                });
            } else {
                var dd1 = new Date($("#myshendate").val());
                var s = dd1.getFullYear() + "-" + (Number(dd1.getMonth()) + 1) + "-" + dd1.getDate();     
                laydate.render({
                    elem: '#ReturnDate'
                    , max: new Date().toString()
                    , min: s
                });
            }
             
        });
             
    </script>
</body>
</html>

