
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.ViewEntity
@model SiliconValley.InformationSystem.Entity.ViewEntity.RecruitPhoneTraceView
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EditTrack</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
    <div>
            <div class="layui-container">
                <input type="hidden" id="Id" name="Id" />
                <input type="hidden" id="SonId" name="SonId" />

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">姓名:</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" id="Name" class="layui-input" style="border:0px" readonly="readonly">
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">应聘部门:</label>
                        <div class="layui-input-block">
                            <select name="deptid" id="deptid" lay-filter="deptidfilter" lay-verify="required" class="layui-input">
                                <option value="-1">请选择所属部门</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">应聘岗位:</label>
                        <div class="layui-input-block">
                            <select name="Pid" id="Pid" lay-verify="required" lay-filter="pidfilter" class="layui-input">
                                <option value="-1">请先选择部门</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">联系时间:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.TraceTime, new Dictionary<string, object>() { { "lay-verify", "required|phone" }, { "placeholder", "请输入手机号码" }, { "class", "layui-input " } })
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">手机号:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.PhoneNumber, new Dictionary<string, object>() { { "lay-verify", "required|phone" }, { "placeholder", "请输入手机号码" }, { "class", "layui-input " } })
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">渠道:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Channel, new Dictionary<string, object>() { { "class", "layui-input " } })
                        </div>
                    </div>

                </div>


                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">简历类型:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.ResumeType, new Dictionary<string, object>() { { "class", "layui-input " } })
                        </div>
                    </div>

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label" style="margin-left:-40px;width:120px;">电话沟通结果:</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(a => a.PhoneCommunicateResult, new Dictionary<string, object>() { { "class", "layui-input linu" } })
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">面试次数:</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" readonly="readonly" style="border:0px" value="@ViewBag.Number" />
                        </div>
                    </div>
                </div>

                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label">备注:</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(a => a.Remark, new Dictionary<string, object>() { { "class", "layui-input linu" } })
                        </div>
                    </div>
                </div>

            </div>

            <div class="layui-tab" lay-filter="test">
                <ul class="layui-tab-title">
                    @{
                        List<RecruitPhoneTraceView> list = (ViewBag.rptviewlist) as List<RecruitPhoneTraceView>;
                        int i = 1;
                        if (list.Count > 0)
                        {
                            foreach (var item in list)
                            {

                                <li id=@item.Id name="@item.Id" class="layui-this">第<span>@i</span>次面试</li>

                                i++;
                            }
                        }
                        else
                        {
                            <li class="layui-this">温馨提示</li>
                        }
                    }
                </ul>
                <div class="layui-tab-content">
                    @{
                        if (list.Count > 0)
                        {
                            <form class="layui-form" id="myform" lay-filter="myform">
                                <div class="layui-tab-item layui-show">
                                    <input type="hidden" id="F_Id" name="F_Id" value="@list[0].Id" />
                                  
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                            <label class="layui-form-label">面试时间:</label>
                                            <div class="layui-input-block">
                                                <input class="layui-input" id="TraceTime" name="TraceTime" value="@list[0].TraceTime" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                            <label class="LableCss1">面试结果:</label>
                                            <div class="layui-input-block">
                                                <input class="layui-input" id="PhoneCommunicateResult" name="PhoneCommunicateResult" value="@list[0].PhoneCommunicateResult" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="layui-row layui-form-item">
                                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                            <label class="layui-form-label">备注:</label>
                                            <div class="layui-input-block">
                                                <textarea class="layui-input linu" id="Remark" name="Remark">
                                                         @list[0].Remark 
                                                    </textarea>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="layui-form-item">
                                        <div class="layui-input-block">
                                            <button class="layui-btn " lay-submit="" lay-filter="demo" style="margin-left:300px;">立即提交</button>
                                            <button class="layui-btn btnclose">关闭</button>
                                        </div>
                                    </div>

                                </div>

                            </form>
                        }
                        else
                        {
                            <div class="layui-tab-item layui-show">
                                <h3>
                                    还没有面试记录哟!!!
                                </h3>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="layui-form-item" style="margin-top:50px;">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit="" lay-filter="demo1" style="margin-left:300px;">立即提交</button>
                    <button class="layui-btn " id="btnclose1">关闭</button>
                </div>
            </div>
    </div>


    <script>
        $(function () {
            loadnetinfo();// 初始化编辑数据加载
        });
        function loadnetinfo() {
            var id = $("#Id").val();
            $.get("/Personnelmatters/RecruitingDataSummary/GetRPTById/" + id, function (data) {
                layui.use(['layer', 'form', 'table'], function () {
                    var form = layui.form;

                    form.val("formtest", data);

                });
            })
        }

        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

            //日期验证
            laydate.render({
                elem: '#TraceTime',
                type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss'
            });

            //添加提交
            form.on('submit(demo1)', function (data) {
                $.post("/Personnelmatters/RecruitingDataSummary/EditTrack", data.field, function (data) {
                    if (data.Success) {
                        layer.alert("编辑成功!", { icon: 1 }, function () {
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layui.table.reload('myrptData');
                            parent.layer.close(index);

                        });
                    } else {
                        layer.alert("编辑失败!");
                    }
                });
                return false;
            });


            //关闭添加页面
            $("#btnclose1").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });

        });
    </script>

</body>
</html>
