
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.ViewEntity
@model SiliconValley.InformationSystem.Entity.ViewEntity.RecruitPhoneTraceView
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TrackDetailInfo</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
</head>
<body>
    <div>
        <form class="layui-form" action="" lay-filter="formtest">
            <div class="layui-container">
                <input type="hidden" id="Id" name="Id" value="@ViewBag.Id" />
                <input type="hidden" id="SonId" name="SonId" />

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">姓名:</label>
                        <div class="layui-input-block">
                            <input type="text" name="Name" id="Name" class="layui-input"  readonly="readonly">
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">应聘部门:</label>
                        <div class="layui-input-block">
                            <input type="text" name="Dname" id="Dname" class="layui-input"  readonly="readonly">
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">应聘岗位:</label>
                        <div class="layui-input-block">
                            <input type="text" name="Pname" id="Pname" class="layui-input" readonly="readonly">
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">
                  
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">手机号:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.PhoneNumber, new Dictionary<string, object>() {  { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">渠道:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Channel, new Dictionary<string, object>() {  { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">简历类型:</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.ResumeType, new Dictionary<string, object>() {  { "readonly", "true" }, { "class", "layui-input " } })
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">联系时间:</label>
                        <div class="layui-input-block">
                            <input type="text" name="TraceTime1" id="TraceTime1" readonly class="layui-input">
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label" style="margin-left:-40px;width:120px;">预面试时间:</label>
                        <div class="layui-input-block">
                            <input type="text" name="ForwardDate" id="ForwardDate" readonly class="layui-input">
                        </div>
                    </div>

                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">面试次数:</label>
                        <div class="layui-input-block">
                            <input type="text" class="layui-input" readonly="readonly" value="@ViewBag.Number" />
                        </div>
                    </div>

                </div>

                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                        <label class="layui-form-label">是否入职:</label>
                        <div class="layui-input-block">
                            <input type="text" name="IsEntry" id="IsEntry" readonly class="layui-input">
                        </div>
                    </div>

                    <div class="layui-col-xs8 layui-col-sm8 layui-col-md8">
                        <label class="layui-form-label">备注:</label>
                        <div class="layui-input-block">
                            <input type="text" name="Remark1" id="Remark1" class="layui-input" readonly>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <div class="layui-tab" lay-filter="test">
            <ul class="layui-tab-title">
                @{
                    List<RecruitPhoneTraceView> list = (ViewBag.rptviewlist) as List<RecruitPhoneTraceView>;
                    int i = 1;
                    if (list.Count > 0)
                    {
                        foreach (var item in list)
                        {

                            <li id=@item.Id name="@item.Id" class="layui-this">第<span>@i</span>次面试</li>

                            i++;
                        }
                    }
                    else
                    {
                        <li class="layui-this">温馨提示</li>
                    }
                }
            </ul>
            <div class="layui-tab-content">
                @{
                    if (list.Count > 0)
                    {
                        <form class="layui-form" id="myform" lay-filter="myform">
                            <div class="layui-tab-item layui-show">
                                <input type="hidden" id="F_Id" name="F_Id" value="@list[0].Id" />

                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="layui-form-label">面试时间:</label>
                                        <div class="layui-input-block">
                                            <input class="layui-input" id="TraceTime" name="TraceTime" value="@list[0].TraceTime" readonly />
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="layui-form-label">面试结果:</label>
                                        <div class="layui-input-block">
                                            <input type="radio" name="PhoneCommunicateResult" title="未通过" value="false" readonly>
                                            <input type="radio" name="PhoneCommunicateResult" title="通过" value="true" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-row layui-form-item">
                                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                                        <label class="layui-form-label">备注:</label>
                                        <div class="layui-input-block">
                                            <textarea class="layui-input linu" id="Remark" name="Remark"readonly>
                                                         @list[0].Remark 
                                                    </textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </form>
                    }
                    else
                    {
                        <div class="layui-tab-item layui-show">
                            <h3>
                                还没有面试记录哟!!!
                            </h3>
                        </div>
                    }
                }
            </div>
        </div>
       
    </div>

    <script>
        $(function () {
            loadnetinfo();// 初始化编辑数据加载
        });
        function loadnetinfo() {
            $("#TraceTime").val(changeDateTimeFormat($("#TraceTime").val()));
            var id = $("#Id").val();
            var result = $("#F_Id").val();
            $.get("/Personnelmatters/RecruitingDataSummary/GetRPTById/" + id, function (data) {
                layui.use(['layer', 'form', 'table'], function () {
                    var form = layui.form;
                    data.TraceTime1 = changeDateTimeFormat(data.TraceTime);
                    data.ForwardDate = changeDateTimeFormat(data.ForwardDate);
                    if (data.IsEntry == false) {
                        data.IsEntry="未入职";
                    } else {
                        data.IsEntry = "已入职";
                    }
                    //data.PhoneCommunicateResult1 = data.PhoneCommunicateResult;
                    data.Remark1 = data.Remark;
                    if (data.IsEntry == true) {
                        $("#IsEntry").val("已入职");
                    } else {
                        $("#IsEntry").val("未入职");
                    }
                    form.val("formtest", data);
                   
                });
            })

            $.get("/Personnelmatters/RecruitingDataSummary/GetRPTById/" + result, function (data) {
                layui.use(['layer', 'form', 'table'], function () {
                    var form = layui.form;
                    data.TraceTime = changeDateTimeFormat(data.TraceTime);
                    var ss = data.PhoneCommunicateResult;

                    $("input[name=PhoneCommunicateResult][value=" + ss + "]").attr("checked", true);

                    form.val("myform", data);
                });
            })

        }

        //给ul中的li注册点击事件
        $(".layui-tab-title li").click(function () {
            var fid = $(this).attr("id");
            $("#F_Id").val(fid);
            $.ajax({
                url: '/Personnelmatters/RecruitingDataSummary/GetRPTById/' + fid,
                type: "GET",
                success: function (SucData) {
                    console.log(SucData.PhoneCommunicateResult);
                    //if (SucData.Success) {
                        layui.use('form', function () {
                            var form = layui.form;

                            $("#TraceTime").val(changeDateTimeFormat(SucData.TraceTime));
                            $("#PhoneCommunicateResult").val(SucData.PhoneCommunicateResult);
                            $("#Remark").val(SucData.Remark);
                            form.render();
                        })
                }
            });
        });


        layui.use(['form', 'layedit', 'laydate'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate;

        });
        //时间格式转换
        function changeDateTimeFormat(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + ss;
            } else {
                return "";
            }
        }
    </script>

</body>
</html>
