
@{
    Layout = null;
}

@model  SiliconValley.InformationSystem.Entity.Entity.EvningSelfStudy
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateEvning</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <link href="~/Scripts/Tangmin_CssAndJs/com_js/MyOrther_tangmin.css" rel="stylesheet" />
</head>
<body>
    <div>
        <form class="layui-form" style="margin-top:30px;">
            <div class="layui-container">
                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="layui-form-label">班级:</label>
                         @Html.HiddenFor(e=>e.id)
                        <div class="layui-input-block">
                           @Html.DropDownListFor(e=>e.ClassSchedule_id, ViewBag.Classlist as IEnumerable<SelectListItem>,new Dictionary<string, object>() { { "class","layui-select"} })
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                        <label class="layui-form-label">教室</label>
                        <div class="layui-input-block">
                            @Html.DropDownListFor(e => e.Classroom_id, ViewBag.classroom as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "class", "layui-select" } })
                        </div>
                    </div>

                </div>
                <div class="layui-row layui-form-item">

                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                        <label class="layui-form-label">上课时间段</label>
                        <div class="layui-input-block">
                            @Html.DropDownListFor(e => e.curd_name, ViewBag.timename as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "class", "layui-select" } })
                        </div>
                    </div>
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">

                        <label class="LableCss1">安排日期:</label>
                        <div class="layui-input-block">
                            <input type="text" value="@ViewBag.date" class="layui-input" name="Anpaidate" id="Anpaidate"/>                            
                        </div>

                    </div>
                </div>
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
                        <label class="LableCss1">上课老师:</label>
                        <div class="layui-input-block">
                            <input name="emp_id" id="emp_id" type="text" class="layui-input" readonly="readonly" value="@ViewBag.teacher" style="border:0px"/>
                        </div>
                    </div>
                    <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                        <label class="layui-form-label">说明:</label>
                        <div class="layui-input-block">
                            @Html.TextAreaFor(e=>e.Rmark,new Dictionary<string, object>() { { "class", "layui-layui-textarea" } });
                        </div>

                    </div>
                </div>
            </div>

            <div class="layui-row layui-form-item">
                <div class="layui-col-xs16 layui-col-sm16 layui-col-md16" style="text-align:center;margin-top:20px;">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="update_ev">确定修改</button>
                    <button type="button" class="layui-btn" onclick="MyClose()">取消关闭</button>
                </div>
            </div>
        </form>
    </div>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script>
        layui.use(['form','laydate'], function () {
            var form = layui.form;
            var laydate = layui.laydate;

            laydate.render({
                elem: '#Anpaidate'
                , theme: 'molv'
            });
            //监听提交
            form.on('submit(update_ev)', function (data) {
                $.ajax({
                    url: '/Educational/EvningSelfStudy/UpdateFunction',
                    type: 'POST',
                    data: data.field,
                    success: function (sucdata) {
                        if (sucdata.Success == false) {
                            layer.msg('系统错误，请重试！！', { icon: 2 });
                        } else {
                            layer.msg('修改成功！！', { icon: 1, shade: 0.8 }, function () {
                                window.parent.TableFulsh();
                                MyClose();
                            });
                        }
                    }
                });
                return false;
            });
        });

        function MyClose() {
            var layer = layui.layer;
            //当你在iframe页面关闭自身时
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        }
    </script>
</body>
</html>
