
@{
    ViewBag.Title = "ClassStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SiliconValley.InformationSystem.Entity.ViewEntity
@using SiliconValley.InformationSystem.Entity.MyEntity
@section style{
    <link href="~/Areas/Teachingquality/Styles/MenuBar.css" rel="stylesheet" />
    <style>


        .fload {
            float: left;
        }

        .Mydiv {
            width: 120px;
            height: 120px;
            border: 1px solid red;
            padding: 10px;
            margin-left: 80px;
            margin-top: 20px;
            background-color: #1cc09f;
            color: #fff;
        }

        .TiDIV {
            width: 120px;
            height: 120px;
            border: 1px solid red;
            padding: 10px;
            margin-left: 80px;
            margin-top: 20px;
            background-color: #C0C0C0;
            color: #fff;
        }

        .Mydiv:hover {
            background-color: burlywood;
        }

        .color {
            background-color: red;
        }

        table {
            margin-left: 10px;
        }

        .teshu th {
            padding: 10px;
            color: orangered;
            /*font-size:20pt;
            padding:10px;*/
        }

        .mybut {
            margin-top: 10px;
            padding: 0px;
            border: 1px solid red;
        }

        table td {
            height: 40px;
        }

        table {
            margin-top: 20px;
        }

        .layui-colla-title {
            background-color: #1cc09f;
            color: #fff;
        }



        .backRed {
            background-color: red;
        }

        .Lcc {
            background-color: #1cc09f;
        }
    </style>

}
@*//菜单栏*@
<div>
    <menu class="menu">

        <li class="menu-item submenu">
            <button type="button" class="menu-btn">
                <i class="fa fa-users"></i>
                <span class="menu-text">添加班委</span>
            </button>
            <!--二级菜单-->
            <menu class="menu">
                @{ foreach (var item in ViewBag.Members as List<Members>)
                    {
                        <li class="menu-item">
                            <button type="button" class="menu-btn">
                                <i class="fa fa-comment"></i>
                                <span class="menu-text" value="@item.ID">@item.Nameofmembers</span>
                            </button>
                        </li>
                    }
                }



            </menu>
        </li>
        <li class="menu-item">
            <button type="button" class="menu-btn">
                <i class="fa fa-folder-open" value="撤销"></i>
                <span class="menu-text">撤销班委</span>
            </button>
        </li>

    </menu>
</div>
<div style="width:100%;height:150px;border:1px solid #1cc09f;">
    <div>
        <div>
            <table class="teshu">
                <tr>
                    @{
                        foreach (var item in ViewBag.ClassdetailsView as List<ClassdetailsView>)
                        {
                            <td>班级人数</td>
                            <th>@item.count</th>
                            if (item.QQ != null)
                            {
                                <td>QQ群</td>
                                <th><div id="qq">@item.QQ</div></th>

                            }
                            else
                            {
                                <td>QQ群</td>
                                <th><div id="qq">未记录</div></th>
                            }
                            if (item.WeChat != null)
                            {
                                <td>微信群</td>
                                <th><div id="wechat">@item.WeChat</div></th>
                            }
                            else
                            {
                                <td>微信群</td>
                                <th><div id="wechat">未记录</div></th>
                            }
                        }
                    }



                </tr>

                <tr>

                    @{
                        int a = 0;
                        foreach (var item in ViewBag.Members as List<Members>)
                        {
                            a++;
                            if (a > 4)
                            {
                                a = 0;
                                <br />
                            }
                            <td class="Nameofmembers">@item.Nameofmembers</td>

                            <th class="Names">未设置</th>

                        }

                    }

                </tr>





            </table>
        </div>
        <div style="position:absolute;left:50%;top:7%;">
            <h1 id="ClassName">@ViewBag.ClassName</h1>
        </div>

    </div>

</div>
<div class="layui-collapse fload" lay-accordion="" style="width:25%; border:1px solid #1cc09f;height:600px;text-align:center; margin-top:20px;">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title"> 班级群号管理</h2>
        <div class="layui-colla-content layui-anim">
            <div>
                <button type="button" id="but1" class="layui-btn layui-btn-fluid mybut">群号设置</button>
            </div>


        </div>
    </div>

    <div class="layui-colla-item">
        <h2 class="layui-colla-title"> 班会记录</h2>
        <div class="layui-colla-content layui-anim">
            <div>
                <button type="button" id="banhui1" class="layui-btn layui-btn-fluid mybut">查看记录</button>
            </div>
            <div>
                <button type="button" id="banhui2" class="layui-btn layui-btn-fluid mybut">新增记录</button>
            </div>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title"> 班级活动</h2>
        <div class="layui-colla-content layui-anim">
            <div>
                <button type="button" class="layui-btn layui-btn-fluid mybut">新增活动</button>
            </div>
            <div>
                <button type="button" class="layui-btn layui-btn-fluid mybut">查看本班活动</button>
            </div>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title"> 班级异动</h2>
        <div class="layui-colla-content layui-anim">
            <div>
                <button type="button" id="DropoutofSchool" class="layui-btn layui-btn-fluid mybut">学员退学</button>
            </div>
            <div>
                <button type="button" class="layui-btn layui-btn-fluid mybut">学员重修</button>
            </div>
            <div>
                <button type="button" id="Transferoftraunees" class="layui-btn layui-btn-fluid mybut">学员转班</button>
            </div>
            <div>
                <button type="button" class="layui-btn layui-btn-fluid mybut">学员复学</button>
            </div>
            <div>
                <button type="button" class="layui-btn layui-btn-fluid mybut">学员修学</button>
            </div>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title"> 升学管理</h2>
        <div class="layui-colla-content layui-anim">
            @{
                if (@ViewBag.Stage == "S1" || ViewBag.Stage == "Y1")
                {
                    <div>
                        <button type="button" id="Dismantleclasses" class="layui-btn layui-btn-fluid mybut">升学分配班级</button>
                    </div>
                }
                else if(@ViewBag.Stage!="")
                {
                    <div>
                        <button type="button" id="EntitAddClassSchedule" class="layui-btn layui-btn-fluid mybut">一键升学</button>
                    </div>
                }
            }


            <div>
                <button type="button" id="Tuition" class="layui-btn layui-btn-fluid mybut">升学缴费情况</button>
            </div>
            <div>
                <button type="button" class="layui-btn layui-btn-fluid mybut">升学考试成绩</button>
            </div>
        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title"> 成考管理</h2>
        <div class="layui-colla-content layui-anim">
            <div>
                <button type="button" id="AddEnroExamination" class="layui-btn layui-btn-fluid mybut">成考报名</button>
            </div>
           
        </div>
    </div>

</div>

<div class="layui-container fload" style="width:73%;margin-right:-20px; margin-top:20px;margin-left:20px">

    <div id="table" style="display:none;">
        <form class="layui-form" action="">
            <div class="layui-container">
                <div class="layui-row ">

                    <div class="layui-col-xs12">
                        <div class="layui-row layui-form-item">


                            <div class="layui-col-xs6">
                                <label class="layui-form-label" style="margin-left:0px;width:100px;">班会标题</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="Title" id="Title" autocomplete="off" class="layui-input">
                                </div>
                            </div>




                            <div class="layui-col-xs6">


                                <div class="layui-inline" style="margin-left:-260px;">
                                    <label for="" class="layui-form-label">时间段</label>
                                    <div class="layui-input-inline startTime">
                                        <input type="text" name="qBeginTime" id="qBeginTime" readonly="readonly" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid">到</div>
                                    <div class="layui-input-inline endTime">

                                        <input type="text" name="qEndTime" id="qEndTime" readonly="readonly" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                            </div>



                            <div style="position:absolute;left:76%;top:0px;">
                                <button class="layui-btn" lay-submit="" type="button" lay-filter="demo2">查询</button>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </form>
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>
    @{

        <div class="layui-row" id="MyShutdown">
            @foreach (var item in Model as List<ClassStudentView>)
            {
                if (item.ClassNameView == null)
                {
                    <div class="Mydiv layui-col-xs4">
                        <div style="display:none;">@item.StuNameID</div>
                        <div style="text-align:center;margin-top:20px;line-height:23px;">

                            <div class="Name">@item.Name</div>


                        </div>


                    </div>
                }
                else
                {
                    <div class="TiDIV layui-col-xs4">
                        <div style="display:none;">@item.StuNameID</div>
                        <div style="text-align:center;margin-top:20px;line-height:23px;">

                            <div class="Name">@item.Name</div>
                        </div>
                        <div>现班级:@item.ClassNameView</div>

                    </div>
                }



            }
        </div>
    }


</div>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="Entity">编辑</a>

</script>
<script src="~/Areas/Teachingquality/js/Datetime.js"></script>
<script src="~/Areas/Teachingquality/js/AjaxAddupdate.js"></script>
<script>

    //给头部的班委赋值
    $.post("/Teachingquality/ClassSchedule/DateMembers", function (dat) {
        console.log(dat)
        if (dat.length > 0) {
            for (var i = 0; i < dat.length; i++) {
                if (dat[i].Nameofmembers != null) {

                    for (var l = 0; l < dat[i].Nameofmembers.length; l++) {

                        var myxx = $(".Nameofmembers");
                        for (var z = 0; z < myxx.length; z++) {

                            if (dat[i].Nameofmembers[l].Nameofmembers == $(myxx[z]).text()) {

                                $(myxx[z]).next().text(dat[i].Name);
                            }
                        }
                    }


                }
            }
        }


    });
    $(document).ready(function () {
        window.oncontextmenu = function () { return false; }
        //加上这个代码即可
    });
    //时间转换方法
    function TimeChange(newtime) {
        if (newtime == null)
            return "";
        var date = new Date(parseInt(newtime.slice(6)));
        var year = date.getFullYear();
        var month = date.getMonth();
        if (month < 10) {
            month = "0" + (parseInt(month) + 1);
        }
        var day = date.getDate();
        if (day < 10) {
            day = "0" + day;
        }
        var result = year + '-' + month + '-' + day;
        return result;
    }
    layui.use(['element', 'form', 'table', 'laydate', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;
        var Stuid = "";


        // 时间选择器初始化 开始时间
        laydate.render({
            elem: '#qBeginTime',
            format: 'yyyy-MM-dd',
            done: function (value, date, endDate) {

                var startDate = new Date(value).getTime();
                var endTime = new Date($('#qEndTime').val()).getTime();

                // console.log(ri);
                if (endTime < startDate) {
                    layer.msg('结束时间不能小于开始时间');
                    $('#qBeginTime').val($('#qEndTime').val());
                }
                if (startDate > curDate.getTime()) {
                    layer.msg('开始时间不能大于当前时间');
                    $('#qBeginTime').val(curYearMonthrDay);
                }
            }
        });
        // 时间选择器初始化 结束时间
        laydate.render({ //结束时间
            elem: '#qEndTime',
            format: 'yyyy-MM-dd',
            done: function (value, date, endDate) {
                var startDate = new Date($('#qBeginTime').val()).getTime();
                var endTime = new Date(value).getTime();
                if (endTime < startDate) {
                    layer.msg('结束时间不能小于开始时间');
                    $('#qEndTime').val($('#qBeginTime').val());
                }
                if (endTime > curDate.getTime()) {
                    layer.msg('结束时间不能大于当前时间');
                    $('#qEndTime').val(curYearMonthrDay);
                }
            }
        });


        //表格渲染
        table.render({
            elem: '#test'
            , url: '/Teachingquality/ClassSchedule/AssmeetingsGetDate'

            , id: 'idTest'
            , page: true
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                { type: 'radio' }
                , { field: 'ID', title: '编号' }
                , { field: 'Title', title: '班会标题' }
                , { field: 'Content', title: '班会内容' }

                , {
                    field: 'Classmeetingdate', title: '班会日期', templet: function (c) {
                        return TimeChange(c.Classmeetingdate);
                    }
                }
                , { field: 'Remarks', title: '备注 ' }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 100 }
            ]]

            , page: true
            , limit: 8
            , limits: [8, 10, 15]
        });

        //查询功能
        form.on('submit(demo2)', function (data) {

            var x = data.field;
            table.reload('idTest', {
                where: {
                    Title: x.Title,
                    qBeginTime: x.qBeginTime,
                    qEndTime: x.qEndTime,
                }, page: {
                    curr: 1
                }
            });
            return false;
        });
        //监听工作条
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if (layEvent === 'Entity') { //编辑
                console.log(data.ID);
                AssmestingEntity(data.ID);
            }

        });

        ////添加班会记录
        $("#banhui2").click(function () {
            // var stuid = $("#ClassName").text();
            AssmestingEntity();
        });
        //班会数据操作页面层
        function AssmestingEntity(id) {
            layer.open({
                title: name,
                type: 2,
                area: ['600px', '600px']
                , content: "/Teachingquality/ClassSchedule/AssmeetingsEntity?id=" + id
                , end: function () { table.reload('idTest'); }
                , anim: 1,
                //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
        }

        //点击事件

        $(".Mydiv").click(function () {
            if (!$(this).is(".color")) {
                $(this).addClass("color");
            }
            else {
                $(this).removeClass("color");
            }
        });

        //双击详细
        $(".Mydiv").dblclick(function () {
            var stuid = $($(this).children()[0]).text();
            layer.open({
                title: name,
                type: 2,
                area: ['500px', '840px']
                , content: "/Teachingquality/StudentInformation/Viewdetails?id=" + stuid

                //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
        });
        //群号设置
        $("#but1").click(function () {

            console.log($("#ClassName").text());
            layer.open({
                title: name,
                type: 2,
                area: ['400px', '300px']
                , content: "/Teachingquality/ClassSchedule/Groupnumber?ClassNumber=" + $("#ClassName").text()
                //, end: function () { table.reload('idTest'); select(); }
                , anim: 1,
                //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
        });
        var banhui1 = 0;
        //查看班会记录
        $("#banhui1").click(function () {
            banhui1++;
            if (banhui1 > 1) {
                banhui1 = 0;
                $("#banhui1").text("查看记录");
                $("#MyShutdown").css("display", "block");
                $("#table").css("display", "none");
                //table

            } else {
                $("#banhui1").text("返回查看学员");
                $("#MyShutdown").css("display", "none");
                $("#table").css("display", "block");
            }

        });
        //退学业务
        $("#DropoutofSchool").click(function () {
            if ($(".color").length == 1) {
                var x = $($($(".color")[0]).children()[0]).text();
                console.log(x);
            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }

        });
        //业务 Transferoftraunees
        $("#Transferoftraunees").click(function () {
            if ($(".color").length == 1) {
                var x = $($($(".color")[0]).children()[0]).text();
                console.log(x);
            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }

        });

        //升学分配班级业务
        $("#Dismantleclasses").click(function () {
            if ($(".color").length > 0) {
                var x = "";
                var list = $(".color");
                for (var i = 0; i < list.length; i++) {
                    x += $($(list[i]).children()[0]).text() + ",";
                }

                layer.open({
                    title: "拆班",
                    type: 2,
                    area: ['700px', '700px']
                    , content: "/Teachingquality/ClassSchedule/Dismantleclasses?StudentID=" + x
                    , end: function () { table.reload('idTest'); }
                    , anim: 1,
                    //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                });
            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }
        });
       
        //成考报名
        $("#AddEnroExamination").click(function () {
            if ($(".color").length>0) {
                var x = $($($(".color")[0]).children()[0]).text();
                var arr1 = new Array(); 
                for (var i = 0; i < $(".color").length; i++) {
                    var obj = {
                        student: $($($(".color")[i]).children()[0]).text()
                    };                
                    arr1.push(obj);
                }
                var dbase = {
                    student: JSON.stringify(arr1)
                };
               
            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }

        });
        //升学业务
        $("#EntitAddClassSchedule").click(function () {
            $.post("/Teachingquality/ClassSchedule/EntitAddClassSchedule?ClassName="+'@Html.Raw(ViewBag.ClassName)', function () {
                layer.msg(db.Msg);
            })
        });
    });

    //设置班委
 
    //群管理操作返回数据
    function GetPartsItme(qq, wechat) {

        if (qq != "") {
            $("#qq").text(qq);
        } else {
            $("#qq").text("未记录");
        }
        if (wechat != "") {
            $("#wechat").text(wechat);
        } else {
            $("#wechat").text("未记录");
        }

    }

    var menu = document.querySelector('.menu');
    function showMenu(x, y) {
        if (x > 1600) {
            x = x - 300;
        }
        menu.style.left = parseInt(x - 220) + 'px';
        menu.style.top = parseInt(y - 80) + 'px';
        menu.classList.add('show-menu');
    }
    function hideMenu() {

        menu.classList.remove('show-menu');
    }
    var stuid = "";
    var Name = "";
    var mycars = new Array();
    function onContextMenu(e) {

        e.preventDefault();
        showMenu(e.pageX, e.pageY);
        document.addEventListener('mousedown', onMouseDown, false);
    }
    //班委数据操作
    function onMouseDown(e) {
        hideMenu();
        document.removeEventListener('mousedown', onMouseDown);

        var myx = $(e)[0].target.innerText;
        var zz = 0;
        var myxx = $(".Nameofmembers");
        for (var i = 0; i < myxx.length; i++) {

            switch (myx) {
                case $(myxx[i]).text():
                    var lo = i;
                    layui.use(['layer'], function () {
                        var layer = layui.layer;

                        $.post("/Teachingquality/ClassSchedule/AssmeetingsBool?Stuid=" + stuid + "&MenName=" + $(myxx[i]).text(), function (db) {

                            if (db.Msg != null) {
                                if (db.Data != null) {
                                    layer.confirm(db.Msg, function (index) {
                                        ClasscommitteePost(stuid, $(myxx[lo]).text(), "undefined", function () {
                                            $(myxx[lo]).next().text(Name)
                                        })
                                        
                                    });
                                } else {
                                    layer.msg(db.Msg);
                                }
                            } else {
                              
                                ClasscommitteePost(stuid, $(myxx[lo]).text(), "undefined", function () {
                                    $(myxx[lo]).next().text(Name)
                                })
                            }

                        });

                    })
                  
                    break;
                case "撤销班委":
                    if ($(myxx[i]).next().text() == Name) {

                        zz++;
                        mycars[zz] = i;
                     
                        // mycars
                        if (zz==1) {
                            ClasscommitteePost(stuid, "1", "1", function () {
                                for (var w = 1; w < mycars.length; w++) {
                                    $(myxx[mycars[w]]).next().text("未设置");
                                }
                            })

                        }
                      
                    }
                    break;
            }

        }
    }//attr("value") originalTarget
    //右击取消选中
    $(".Mydiv").bind("contextmenu", function (e) {
        //$(this).removeClass("backRed");
        onContextMenu(e);
        stuid = $($(this).children()[0]).text();
        Name = $($($(this).children()[1]).children()[0]).text();
        return false;
        document.addEventListener('contextmenu', onContextMenu, false);
    });
    function GetPartsItmesMy() {
        location.reload();
    }
</script>