
@{
    ViewBag.Title = "ClassStudent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using SiliconValley.InformationSystem.Entity.ViewEntity
@using SiliconValley.InformationSystem.Entity.MyEntity
@section style{
    <link href="~/Areas/Teachingquality/Styles/MenuBar.css" rel="stylesheet" />
    <style>
        .fload {
            float: left;
        }

        .Mydiv {
            width: 100px;
            height: 90px;
            border: 1px solid red;
            padding: 1px;
            margin-left: 21px;
            margin-top: 20px;
            background-color: #1cc09f;
            color: #fff;
        }

        .TiDIV {
            width: 100px;
            height: 90px;
            border: 1px solid red;
            padding: 1px;
            margin-left: 21px;
            margin-top: 20px;
            background-color: #C0C0C0;
            color: #fff;
        }

        .Transaction, .Scrap {
            width: 100px;
            height: 90px;
            border: 1px solid red;
            padding: 1px;
            margin-left: 21px;
            margin-top: 20px;
            background-color: #C0C0C0;
            color: #fff;
        }

        .Mydiv:hover {
            background-color: burlywood;
        }

        .color {
            background-color: red;
        }

        table {
            margin-left: 10px;
        }

        .teshu th {
            padding: 10px;
            color: red;
            /*font-size:20pt;
            padding:10px;*/
        }

        .mybut {
            margin-top: 10px;
            padding: 0px;
            border: 1px solid red;
        }
        .layui-anim{margin-top:-27px;padding:19px;}

        .table1 td {
            height: 40px;
        }

        .table1 {
            margin-top: 20px;
        }

        .layui-colla-title {
            background-color: #1cc09f;
            color: #fff;
        }


        .backRed {
            background-color: red;
        }

        .Lcc {
            background-color: #1cc09f;
        }
        .layui-colla-item{margin-top:-30px;}
        .TransactionColor {
            background-color: aqua;
        }

        #page-inner {
        }
    </style>

}

@*//菜单栏*@

<div>
    <menu class="menui">

        <li class="menui-item submenui">
            <button type="button" class="menui-btn">
                <i class="fa fa-users"></i>
                <span class="menui-text">添加班委</span>
            </button>
            <!--二级菜单-->
            <menu class="menui">
                @{ foreach (var item in ViewBag.Members as List<Members>)
                    {
                        <li class="menui-item">
                            <button type="button" class="menui-btn">
                                <i class="fa fa-comment"></i>
                                <span class="menui-text" value="@item.ID">@item.Nameofmembers</span>
                            </button>
                        </li>
                    }
                }



            </menu>
        </li>
        <li class="menui-item">
            <button type="button" class="menui-btn">
                <i class="fa fa-folder-open" value="撤销"></i>
                <span class="menui-text">撤销班委</span>
            </button>
        </li>

    </menu>
</div>
<div style="width:100%;height:150px;border:1px solid #1cc09f;background-color:#1cc09f;">
    <div>
        <div>
            <table class="teshu table1">
                <tr>
                    @{
                        foreach (var item in ViewBag.ClassdetailsView as List<ClassdetailsView>)
                        {
                            <td>班级人数</td>
                            <th>@item.count</th>
                            if (item.QQ != null)
                            {
                                <td>QQ群</td>
                                <th><div id="qq">@item.QQ</div></th>

                            }
                            else
                            {
                                <td>QQ群</td>
                                <th><div id="qq">未记录</div></th>
                            }
                            if (item.WeChat != null)
                            {
                                <td>微信群</td>
                                <th><div id="wechat">@item.WeChat</div></th>
                            }
                            else
                            {
                                <td>微信群</td>
                                <th><div id="wechat">未记录</div></th>
                            }
                        }
                    }



                </tr>

                <tr>

                    @{
                        int a = 0;
                        foreach (var item in ViewBag.Members as List<Members>)
                        {
                            a++;
                            if (a > 4)
                            {
                                a = 0;
                                <br />
                            }
                            <td class="Nameofmembers">@item.Nameofmembers</td>

                            <th class="Names">未设置</th>

                        }

                    }

                </tr>





            </table>
        </div>
        <div style="margin-left:695px;margin-top:-103px;">
            <h1>@ViewBag.ClassName<lable style="font-size:15pt;">(@ViewBag.GrandName)</lable></h1>
            <h4 id="ClassName" style="display:none;">@ViewBag.ClassID</h4>
        </div>

    </div>

</div>

<div class="layui-collapse fload" lay-accordion="" style="width:25%; border:1px solid #1cc09f;text-align:center; margin-top:40px;">
    <div class="layui-colla-item">
        <h2 class="layui-colla-title "> 学员管理</h2>
        <div class="layui-colla-content layui-anim" >
            <div>
                <button type="button" id="InsuranceAdd" class="layui-btn layui-btn-fluid mybut">学员保险</button>
            </div>
            <div>
                <button type="button" id="Addimg" class="layui-btn layui-btn-fluid mybut">照片变更</button>
            </div>
            <div>
                <button type="button" id="getpaswwd" class="layui-btn layui-btn-fluid mybut">密码修改</button>
            </div>

        </div>
    </div>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title"> 班级群号管理</h2>
        <div class="layui-colla-content layui-anim">
            <div>
                <button type="button" id="but1" class="layui-btn layui-btn-fluid mybut">群号设置</button>
            </div>


        </div>
    </div>

    <div class="layui-colla-item">
        <h2 class="layui-colla-title"> 班会记录</h2>
        <div class="layui-colla-content layui-anim">
            <div>
                <button type="button" id="banhui1" class="layui-btn layui-btn-fluid mybut">查看记录</button>
            </div>
            <div>
                <button type="button" id="banhui2" class="layui-btn layui-btn-fluid mybut">新增记录</button>
            </div>
        </div>
    </div>
    @*第二期工程开设<div class="layui-colla-item">
            <h2 class="layui-colla-title"> 班级活动</h2>
            <div class="layui-colla-content layui-anim">
                <div>
                    <button type="button" class="layui-btn layui-btn-fluid mybut">新增活动</button>
                </div>
                <div>
                    <button type="button" class="layui-btn layui-btn-fluid mybut">查看本班活动</button>
                </div>
            </div>
        </div>*@
    <div class="layui-colla-item">
        <h2 class="layui-colla-title"> 班级异动</h2>
        <div class="layui-colla-content layui-anim">
            <div>
                <button type="button" class="layui-btn layui-btn-fluid mybut" id="transactionprocessing">异动数据处理</button>
            </div>
            <div>
                <button type="button" id="DropoutofSchool" class="layui-btn layui-btn-fluid mybut">学员退学</button>
            </div>
            <div>
                <button type="button" id="Rebuild" class="layui-btn layui-btn-fluid mybut">学员重修</button>
            </div>
            <div>
                <button type="button" id="Transferoftraunees" class="layui-btn layui-btn-fluid mybut">学员转班</button>
            </div>
            <div>
                <button type="button" id="Resumptionofstudy" class="layui-btn layui-btn-fluid mybut">学员复学</button>
            </div>
            <div>
                <button type="button" id="Suspensionofschool" class="layui-btn layui-btn-fluid mybut">学员休学</button>
            </div>
            <div>
                <button type="button" id="Expel" class="layui-btn layui-btn-fluid mybut">学员开除</button>
            </div>
        </div>
    </div>
    @{
        if (ViewBag.Stage == "S4" && ViewBag.Status == null)
        {
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"> 毕业管理</h2>
                <div class="layui-colla-content layui-anim">
                    <div>
                        <button type="button" id="ClassEnd" class="layui-btn layui-btn-fluid mybut">一键毕业</button>
                    </div>
                    <div>
                        <button type="button" id="Tuition" class="layui-btn layui-btn-fluid mybut">欠费及未缴情况</button>
                    </div>
                    <div>
                        <button type="button" id="Entranceexaminationresults" class="layui-btn layui-btn-fluid mybut">升学考试成绩</button>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="layui-colla-item">
                <h2 class="layui-colla-title"> 升学管理</h2>
                <div class="layui-colla-content layui-anim">
                    @{
                        if (ViewBag.Stage == "S1" || ViewBag.Stage == "Y1" && ViewBag.Status == null)
                        {
                            <div>
                                <button type="button" id="Dismantleclasses" class="layui-btn layui-btn-fluid mybut">升学分配班级</button>
                            </div>
                        }
                        else if (ViewBag.Stage != "" && ViewBag.Status == null)
                        {
                            <div>
                                <button type="button" id="EntitAddClassSchedule" class="layui-btn layui-btn-fluid mybut">一键升学</button>
                            </div>
                        }
                    }
                    <div>
                        <button type="button" id="Tuition" class="layui-btn layui-btn-fluid mybut">欠费及未缴情况</button>
                    </div>
                    <div>
                        <button type="button" id="Entranceexaminationresults" class="layui-btn layui-btn-fluid mybut">升学考试成绩</button>
                    </div>
                </div>
            </div>
        }
    }

    <div class="layui-colla-item">
        <h2 class="layui-colla-title"> 成考管理</h2>
        <div class="layui-colla-content layui-anim">
            <div>
                <button type="button" id="AddUndergraduateachievement" class="layui-btn layui-btn-fluid mybut">自考本科成绩</button>
            </div>

        </div>
    </div>

</div>

<div class="layui-container fload" style="width:73%;margin-top:20px;margin-left:5px">

    <div id="table" style="display:none;">
        <form class="layui-form" action="">
            <div class="layui-container">
                <div class="layui-row ">

                    <div class="layui-col-xs12">
                        <div class="layui-row layui-form-item">


                            <div class="layui-col-xs6">
                                <label class="layui-form-label" style="margin-left:0px;width:100px;">班会标题</label>
                                <div class="layui-input-inline">
                                    <input type="tel" name="Title" id="Title" autocomplete="off" class="layui-input">
                                </div>
                            </div>




                            <div class="layui-col-xs6">


                                <div class="layui-inline" style="margin-left:-260px;">
                                    <label for="" class="layui-form-label">时间段</label>
                                    <div class="layui-input-inline startTime">
                                        <input type="text" name="qBeginTime" id="qBeginTime" readonly="readonly" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                    </div>
                                    <div class="layui-form-mid">到</div>
                                    <div class="layui-input-inline endTime">

                                        <input type="text" name="qEndTime" id="qEndTime" readonly="readonly" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                                    </div>
                                </div>

                            </div>



                            <div style="position:absolute;left:76%;top:0px;">
                                <button class="layui-btn" lay-submit="" type="button" lay-filter="demo2">查询</button>
                            </div>


                        </div>

                    </div>

                </div>
            </div>
        </form>
        <table class="layui-hide" id="test" lay-filter="test"></table>
    </div>


    <div class="layui-row" id="MyShutdown">

    </div>



</div>

<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="Entity">编辑</a>

</script>
<script src="~/Areas/Teachingquality/js/Datetime.js"></script>
<script src="~/Areas/Teachingquality/js/AjaxAddupdate.js"></script>
@*//禁F12*@
@*<script type="text/javascript">
        document.onkeydown = function () {

            if (window.event && window.event.keyCode == 123) {
                layer.msg('请尊重版本');
                event.keyCode = 0;
                event.returnValue = false;
            }
            if (window.event && window.event.keyCode == 13) {
                window.event.keyCode = 505;
            }
            if (window.event && window.event.keyCode == 8) {
                alert(str + "\n请使用Del键进行字符的删除操作！");
                window.event.returnValue = false;
            }

        }

    </script>*@
<script>
    //加载学员
    function StudentDate() {
        $($("#MyShutdown").children()).remove();
        $.post("/Teachingquality/ClassSchedule/ClassStuDate?ClassID=" + $("#ClassName").text(), function (data) {
            for (var i = 0; i < data.length; i++) {
                if (data[i].ClassNameView == null) {
                    if (data[i].Statusname == null) {
                        $("#MyShutdown").append($('<div class="Mydiv layui-col-xs2">  <div style="display:none;">' + data[i].StuNameID + '</div> <div style="text-align:center;margin-top:20px;line-height:23px;"><div class="Name">' + data[i].Name + '</div></div></div>'));
                    } else {
                        if (data[i].Statusname == "休学") {
                            $("#MyShutdown").append($('<div class="Transaction layui-col-xs2">  <div style="display:none;">' + data[i].StuNameID + '</div>  <div style="display:none;">' + data[i].ClassID + '</div> <div style="text-align:center;margin-top:20px;line-height:23px;"><div class="Name">' + data[i].Name + '</div></div>  <div style="font-size:9pt;text-align:center;">状态:' + data[i].Statusname + '</div></div>'));
                        } else {
                            $("#MyShutdown").append($('<div class="Scrap layui-col-xs2">  <div style="display:none;">' + data[i].StuNameID + '</div>  <div style="display:none;">' + data[i].ClassID + '</div> <div style="text-align:center;margin-top:20px;line-height:23px;"><div class="Name">' + data[i].Name + '</div></div>  <div style="font-size:9pt;text-align:center;">状态:' + data[i].Statusname + '</div></div>'));

                        }
                      }
                } else {
                    $("#MyShutdown").append($('<div class="TiDIV layui-col-xs2">  <div style="display:none;">' + data[i].StuNameID + '</div> <div style="text-align:center;margin-top:20px;line-height:23px;"><div class="Name">' + data[i].Name + '</div></div>  <div style="font-size:9pt;text-align:center;">现班级:' + data[i].ClassNameView + '</div></div>'));

                }
             //   $("#MyShutdown").innerHTML = sethtml();
            }
        })

    }

    StudentDate();
    //给头部的班委赋值
    $.post("/Teachingquality/ClassSchedule/DateMembers?ClassID=" + $("#ClassName").text(), function (dat) {
        console.log(dat)
        if (dat.length > 0) {
            for (var i = 0; i < dat.length; i++) {
                if (dat[i].Nameofmembers != null) {

                    for (var l = 0; l < dat[i].Nameofmembers.length; l++) {

                        var myxx = $(".Nameofmembers");
                        for (var z = 0; z < myxx.length; z++) {

                            if (dat[i].Nameofmembers[l].Nameofmembers == $(myxx[z]).text()) {

                                $(myxx[z]).next().text(dat[i].Name);
                            }
                        }
                    }


                }
            }
        }


    });
    $(document).ready(function () {
        window.oncontextmenu = function () { return false; }
        //加上这个代码即可
    });
    //时间转换方法
    function TimeChange(newtime) {
        if (newtime == null)
            return "";
        var date = new Date(parseInt(newtime.slice(6)));
        var year = date.getFullYear();
        var month = date.getMonth();
        if (month < 10) {
            month = "0" + (parseInt(month) + 1);
        }
        var day = date.getDate();
        if (day < 10) {
            day = "0" + day;
        }
        var result = year + '-' + month + '-' + day;
        return result;
    }
    layui.use(['element', 'form', 'table', 'laydate', 'layer'], function () {
        var element = layui.element;
        var layer = layui.layer;
        var table = layui.table;
        var laydate = layui.laydate;
        var form = layui.form;
        var Stuid = "";


        // 时间选择器初始化 开始时间
        laydate.render({
            elem: '#qBeginTime',
            format: 'yyyy-MM-dd',
            done: function (value, date, endDate) {

                var startDate = new Date(value).getTime();
                var endTime = new Date($('#qEndTime').val()).getTime();

                // console.log(ri);
                if (endTime < startDate) {
                    layer.msg('结束时间不能小于开始时间');
                    $('#qBeginTime').val($('#qEndTime').val());
                }
                if (startDate > curDate.getTime()) {
                    layer.msg('开始时间不能大于当前时间');
                    $('#qBeginTime').val(curYearMonthrDay);
                }
            }
        });
        // 时间选择器初始化 结束时间
        laydate.render({ //结束时间
            elem: '#qEndTime',
            format: 'yyyy-MM-dd',
            done: function (value, date, endDate) {
                var startDate = new Date($('#qBeginTime').val()).getTime();
                var endTime = new Date(value).getTime();
                if (endTime < startDate) {
                    layer.msg('结束时间不能小于开始时间');
                    $('#qEndTime').val($('#qBeginTime').val());
                }
                if (endTime > curDate.getTime()) {
                    layer.msg('结束时间不能大于当前时间');
                    $('#qEndTime').val(curYearMonthrDay);
                }
            }
        });


        //表格渲染
        table.render({
            elem: '#test'
            , url: '/Teachingquality/ClassSchedule/AssmeetingsGetDate?ClassID=' + $("#ClassName").text()

            , id: 'idTest'
            , page: true
            , cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , cols: [[
                { type: 'radio' }
                , { field: 'ID', title: '编号' }
                , { field: 'Title', title: '班会标题' }
                , { field: 'Content', title: '班会内容' }

                , {
                    field: 'Classmeetingdate', title: '班会日期', templet: function (c) {
                        return TimeChange(c.Classmeetingdate);
                    }
                }
                , { field: 'Remarks', title: '备注 ' }
                , { fixed: 'right', title: '操作', toolbar: '#barDemo', width: 100 }
            ]]

            , page: true
            , limit: 8
            , limits: [8, 10, 15]
        });

        //查询功能
        form.on('submit(demo2)', function (data) {

            var x = data.field;
            table.reload('idTest', {
                where: {
                    Title: x.Title,
                    qBeginTime: x.qBeginTime,
                    qEndTime: x.qEndTime,
                }, page: {
                    curr: 1
                }
            });
            return false;
        });
        //监听工作条
        table.on('tool(test)', function (obj) { //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）

            if (layEvent === 'Entity') { //编辑
                console.log(data.ID);
                AssmestingEntity(data.ID);
            }

        });

        ////添加班会记录
        $("#banhui2").click(function () {
            // var stuid = $("#ClassName").text();
            AssmestingEntity();
        });
        //班会数据操作页面层
        function AssmestingEntity(id) {
            layer.open({
                title: name,
                type: 2,
                area: ['600px', '600px']
                , content: "/Teachingquality/ClassSchedule/AssmeetingsEntity?id=" + id + "&ClassID=" + $("#ClassName").text()
                , end: function () { table.reload('idTest'); }
                , anim: 1,
                //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
        }

        //点击事件
        $("body").on("click", ".Mydiv", function () {

            if (!$(this).is(".color")) {
                $(this).addClass("color");
            }
            else {
                $(this).removeClass("color");
            }
        });
       

        //异动人员点击
        $("body").on("click", ".Transaction", function () {

            if (!$(this).is(".TransactionColor")) {
                $(".Transaction").removeClass("TransactionColor");
                $(this).addClass("TransactionColor");
            }
            else {
                $(this).removeClass("TransactionColor");
            }
        });

        //双击详细
        $("body").on("dblclick", ".Mydiv,.TiDIV,.Transaction", function () {

            var stuid = $($(this).children()[0]).text();
            window.location = "/Teachingquality/Stuportfolio/Index/" + stuid;
        });
        //群号设置
        $("#but1").click(function () {


            layer.open({
                title: name,
                type: 2,
                area: ['400px', '300px']
                , content: "/Teachingquality/ClassSchedule/Groupnumber?ClassNumber=" + $("#ClassName").text()
                //, end: function () { table.reload('idTest'); select(); }
                , anim: 1,
                //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
        });
        var banhui1 = 0;
        //查看班会记录
        $("#banhui1").click(function () {
            banhui1++;
            if (banhui1 > 1) {
                banhui1 = 0;
                $("#banhui1").text("查看记录");
                $("#MyShutdown").css("display", "block");
                $("#table").css("display", "none");
                //table

            } else {
                $("#banhui1").text("返回查看学员");
                $("#MyShutdown").css("display", "none");
                $("#table").css("display", "block");
            }

        });
        //退学业务
        $("#DropoutofSchool").click(function () {
            //
            if ($(".color").length == 1) {
                var x = $($($(".color")[0]).children()[0]).text();
                var url = "/Teachingquality/StudentTransaction/Dropoutofschools?StudentID=" + x;
                Popup(url, "退学申请", 1000, 900);

            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }

        });
        //转班业务 Transferoftraunees
        $("#Transferoftraunees").click(function () {
            if ($(".color").length == 1) {
                var x = $($($(".color")[0]).children()[0]).text();
                var url = "/Teachingquality/ClassSchedule/Shiftwork?StudentID=" + x + "&ClassID=" + $("#ClassName").text();
                Popup(url, "转班申请", 1000,900);
            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }

        });
        //重修
        $("#Rebuild").click(function () {
            if ($(".color").length == 1) {
                var x = $($($(".color")[0]).children()[0]).text();
                var url = "/Teachingquality/StudentTransaction/Rebuild?StudentID=" + x + "&ClassID=" + $("#ClassName").text();
                Popup(url, "重修申请", 1000, 900);
            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }

        });
        //休学业务
        $("#Suspensionofschool").click(function () {
            if ($(".color").length == 1) {
                var x = $($($(".color")[0]).children()[0]).text();
                var url = "/Teachingquality/StudentTransaction/Suspensionofschool?StudentID=" + x + "&ClassID=" + $("#ClassName").text();
                Popup(url, "休学申请", 1000, 900);
            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }

        });

        //添加学员照片
        function addimg(ids) {
            layer.open({
                title: "添加学员照片",
                type: 2,
                area: ['500px', '500px']
                , content: "/Teachingquality/StudentInformation/AddStudentimg?studentid=" + ids

                , anim: 1,
                //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
        }
        //照片变更
        $("#Addimg").click(function () {
            if ($(".color").length == 1) {
                var x = $($($(".color")[0]).children()[0]).text();

                var db = {
                    studentid: x
                };
                $.post("/Teachingquality/StudentInformation/boolImg", db, function (da) {
                    if (da > 0) {
                        layer.open({
                            type: 1
                            , title: false //不显示标题栏
                            , closeBtn: false
                            , area: '300px;'
                            , shade: 0.8
                            , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                            , btn: ['确认', '取消']
                            , btnAlign: 'c'
                            , moveType: 1 //拖拽模式，0或者1
                            , content: '<div style="padding: 50px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">照片已存在,是否替换照片?</div>'
                            , success: function (layero) {
                                var btn = layero.find('.layui-layer-btn');
                                btn.find('.layui-layer-btn0').click(function () {

                                    addimg(x);
                                });
                            }
                        });
                    } else {
                        addimg(x);
                    }
                })
            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }

        });
        //密码修改
        $("#getpaswwd").click(function () {
            if ($(".color").length == 1) {
                var x = $($($(".color")[0]).children()[0]).text();
                layer.open({
                    type: 1
                    , title: false //不显示标题栏
                    , closeBtn: false
                    , area: '300px;'
                    , shade: 0.8
                    , id: 'LAY_layuipro' //设定一个id，防止重复弹出
                    , btn: ['确认', '取消']
                    , btnAlign: 'c'
                    , moveType: 1 //拖拽模式，0或者1
                    , content: '<div style="padding: 30px; line-height: 22px; background-color: #393D49; color: #fff; font-weight: 300;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您更改密码的学号为:<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<lable style="color:red;">' + x + '</lable></div>'

                    , success: function (layero) {

                        var btn = layero.find('.layui-layer-btn');

                        btn.find('.layui-layer-btn0').click(function () {

                            layer.open({
                                title: name,
                                type: 2,
                                area: ['400px', '300px']
                                , content: "/Teachingquality/StudentInformation/Password?stuid=" + x
                                , end: function () { table.reload('idTest'); }
                                , anim: 1,
                                //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                            });
                        });
                    }

                });
            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }

        });

        //复学申请
        $("#Resumptionofstudy").click(function () {
            if ($(".TransactionColor").length == 1) {
                var x = $($($(".TransactionColor")[0]).children()[0]).text();
                if ($($($(".TransactionColor")[0]).children()[1]).text() == $("#ClassName").text()) {
                    var url = "/Teachingquality/StudentTransaction/Resumptionofstudy?StudentID=" + x;
                    Popup(url, "复学申请", 1000, 900);
                } else {
                    layer.alert('该学员不是本班学员', { icon: 0 });
                }

            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }

        });
        //休学
        $("#Expel").click(function () {
            if ($(".color").length == 1) {
                var x = $($($(".color")[0]).children()[0]).text();
                var url = "/Teachingquality/StudentTransaction/Expel?StudentID=" + x + "&ClassID=" + $("#ClassName").text();
                Popup(url, "开除申请", 1000, 700);
            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }

        });
        //异动数据处理
        $("#transactionprocessing").click(function () {

            var url = "/Teachingquality/StudentTransaction/transactionprocessing?ClassID=" + $("#ClassName").text();
          //  Popup(url, "学员异动处理", 1000, 800);

            layer.open({
                type: 2,
                content: url
                , area: ['1000px', '800px']
                , title: ""

                , shade: 0.3
                , cancel: function () {
                    StudentDate();
                }
                , anim: 1


            });

        });
        //升学分配班级业务
        $("#Dismantleclasses").click(function () {
            if ($(".color").length > 0) {
                var x = "";
                var list = $(".color");
                for (var i = 0; i < list.length; i++) {
                    x += $($(list[i]).children()[0]).text() + ",";
                }

                layer.open({
                    title: "拆班",
                    type: 2,
                    area: ['700px', '700px']
                    , content: "/Teachingquality/ClassSchedule/Dismantleclasses?StudentID=" + x + "&ClassID="+$("#ClassName").text()
                    , end: function () { StudentDate(); }
                    , anim: 1,
                    //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
                });
            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }
        });
        //升学考试成绩
        $("#Entranceexaminationresults").click(function () {

            layer.open({
                title: "升学考试成绩",
                type: 2,
                area: ['1000px', '700px']
                , content: "/Teachingquality/ClassSchedule/Entranceexaminationresults?ClassID=" + $("#ClassName").text()
                , end: function () {  }
                , anim: 1,
                //这里content是一个DOM，注意：最好该元素要存放在body最外层，否则可能被其它的相对元素所影响
            });
        })
        //成考报名
        $("#AddUndergraduateachievement").click(function () {
            if ($(".color").length==1) {
                var x = $($($(".color")[0]).children()[0]).text();
                var dbase = {
                    Studentid: x
                }
                $.post("/MyEducation/Education/StudentUndergraduatecount", dbase, function (da) {
                    if (da > 0) {
                        window.location = "/MyEducation/Education/Achievementduate/" + x;
                    } else {
                        layer.msg('该学员未报本科或未审核');
                    }
                });

            } else {
                layer.alert('请选择一个学员', { icon: 0 });
            }

        });
        //升学业务
        $("#EntitAddClassSchedule").click(function () {
            var dbase = {
                ClassName:@Html.Raw(ViewBag.ClassID),
            };
            Gotoschool("/Teachingquality/ClassSchedule/EntitAddClassSchedule", dbase);

        });
        //S4毕业
        $("#ClassEnd").click(function () {
            var dbase = {
                ClassID:@Html.Raw(ViewBag.ClassID),
            };
            Gotoschool("/Teachingquality/ClassSchedule/ClassEnd", dbase);

        });
    });

    //学员保险
    $("#InsuranceAdd").click(function () {
        window.location = "/Teachingquality/ClassSchedule/Insurance?ClassID=" + $("#ClassName").text();
    });
    //升学缴费情况 /Teachingquality/ClassSchedule/Studententrancefee
    $("#Tuition").click(function () {
        window.location = "/Teachingquality/ClassSchedule/Studententrancefee?ClassID=" + $("#ClassName").text();
    });
    //设置班委

    //群管理操作返回数据
    function GetPartsItme(qq, wechat) {

        if (qq != "") {
            $("#qq").text(qq);
        } else {
            $("#qq").text("未记录");
        }
        if (wechat != "") {
            $("#wechat").text(wechat);
        } else {
            $("#wechat").text("未记录");
        }

    }

    var menu = document.querySelector('.menui');
    function showMenu(x, y) {
        if (x > 1600) {
            x = x - 300;
        }
        menu.style.left = parseInt(x - 0) + 'px';
        menu.style.top = parseInt(y - 80) + 'px';
        menu.classList.add('show-menui');
    }
    function hideMenu() {

        menu.classList.remove('show-menui');
    }
    var stuid = "";
    var Name = "";
    var mycars = new Array();
    function onContextMenu(e) {

        e.preventDefault();
        showMenu(e.pageX, e.pageY);
        document.addEventListener('mousedown', onMouseDown, false);
    }
    //班委数据操作
    function onMouseDown(e) {
        hideMenu();
        document.removeEventListener('mousedown', onMouseDown);

        var myx = $(e)[0].target.innerText;
        var zz = 0;
        var myxx = $(".Nameofmembers");
        for (var i = 0; i < myxx.length; i++) {

            switch (myx) {
                case $(myxx[i]).text():
                    var lo = i;
                    layui.use(['layer'], function () {
                        var layer = layui.layer;

                        $.post("/Teachingquality/ClassSchedule/AssmeetingsBool?Stuid=" + stuid + "&MenName=" + $(myxx[i]).text() + "&ClassID=" + $("#ClassName").text(), function (db) {
                            console.log($("#ClassName").text())
                            if (db.Msg != null) {
                                if (db.Data != null) {
                                    layer.confirm(db.Msg, function (index) {
                                        ClasscommitteePost(stuid, $(myxx[lo]).text(), "undefined", $("#ClassName").text(), function () {
                                            $(myxx[lo]).next().text(Name)
                                        })

                                    });
                                } else {
                                    layer.msg(db.Msg);
                                }
                            } else {

                                ClasscommitteePost(stuid, $(myxx[lo]).text(), "undefined", $("#ClassName").text(), function () {
                                    $(myxx[lo]).next().text(Name)
                                })
                            }

                        });

                    })

                    break;
                case "撤销班委":
                    if ($(myxx[i]).next().text() == Name) {

                        zz++;
                        mycars[zz] = i;

                        // mycars
                        if (zz==1) {
                            ClasscommitteePost(stuid, "1", "1", $("#ClassName").text(), function () {
                                for (var w = 1; w < mycars.length; w++) {
                                    $(myxx[mycars[w]]).next().text("未设置");
                                }
                            })

                        }

                    }
                    break;
            }

        }
    }//attr("value") originalTarget
    //右击取消选中
    $("body").on("contextmenu", ".Mydiv", function (e) {
        onContextMenu(e);
        stuid = $($(this).children()[0]).text();
        Name = $($($(this).children()[1]).children()[0]).text();
        return false;
        document.addEventListener('contextmenu', onContextMenu, false);
    });

    //刷新本页面
    function GetPartsItmesMy() {
        location.reload();
    }
    //辅助打印弹出层
    function StudentShow(url, mytitle, mycloseBtn, width, hegin) {
        layui.use('layer', function () {
            var layer = layui.layer;
            layer.open({
                type: 2,
                content: url
                , area: [width + 'px', hegin + 'px'],
                title: mytitle
                , shade: 0.3
                , anim: 1
                , closeBtn: mycloseBtn
            });
        });
    }
</script>