
@{
    Layout = null;
}
@model  SiliconValley.InformationSystem.Entity.ViewEntity.InsuranceView
    @using SiliconValley.InformationSystem.Entity.MyEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>InsuranceAdd</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <style>
        .linu{
            width:200px;
          
        }
        .mysql{
            margin-top:8px;
        }
    </style>
</head>
<body>
    <div>
      
        <form class="layui-form" action="" id="form">
            <div class="layui-container">
                <input type="text" value="@ViewBag.Student" name="StudentID" style="display:none;" />
                <fieldset style="height:510px;">

                    <legend>基础数据</legend>

                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <label class="layui-form-label">班级名称</label>
                        <div class="layui-input-block" style="">
                            @Model.ClassNumber

                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 ">
                        <label class="layui-form-label">已选学员</label>
                        <div class="layui-input-block">

                            <div class="layui-collapse" lay-filter="test">
                                <div class="layui-colla-item">
                                    <h2 class="layui-colla-title">保险报入</h2>
                                    <div class="layui-colla-content">
                                        @{
                                            foreach (var item in ViewBag.StudentList as List<StudentInformation>)
                                            {
                                                <div style="width:80px;height:40px;background-color:#1cc09f;float:left; margin-left:2px;margin-top:2px;text-align:center;">
                                                    <div style="margin-top:10px;">
                                                        <label style="font-size:10pt;">@item.Name</label>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>


                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label las">开始日期</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Startdate, new Dictionary<string, object>() { { "autocomplete", "off" }, { "placeholder", "年-月-日" }, { "class", "layui-input linu" } })
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label las">到期日期</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.Duedate, new Dictionary<string, object>() { { "autocomplete", "off" }, { "placeholder", "年-月-日" }, { "class", "layui-input linu" } })
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                        <label class="layui-form-label las">保费</label>
                        <div class="layui-input-block">
                            @Html.TextBoxFor(a => a.premium, new Dictionary<string, object>() { { "class", "layui-input linu" } })
                        </div>
                    </div>






                </fieldset>
            </div>
            <div class="layui-row layui-form-item" style="margin-top:20px;">
                <div class="layui-col-xs10 layui-col-sm10 layui-col-md10" style="text-align:center;">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" type="button" lay-filter="demo1">立即提交</button>
                        <button type="reset" id="butn" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</body>
</html>
<script src="~/Areas/Teachingquality/js/AjaxAddupdate.js"></script>
<script>

    layui.use(['form', 'layedit', 'layer', 'laydate','element'], function () {
        var element = layui.element;
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //月份小于10的前面加个0
        function MoDay(a) {
            if (a < 10) {
                return "0" + a;
            }
            return a;
        }
        ////系统时间

        var curDate = new Date();
        var curYearMonthrDay = curDate.getFullYear() + "-" + MoDay(parseInt(curDate.getMonth()) + 1) + "-" + MoDay(parseInt(curDate.getDate()));

        // 时间选择器初始化 开始时间
        laydate.render({
            elem: '#Startdate',
            format: 'yyyy-MM-dd',
            done: function (value, date, endDate) {

                var startDate = new Date(value).getTime();
                var endTime = new Date($('#Duedate').val()).getTime();

                // console.log(ri);
                if (endTime < startDate) {
                    layer.msg('结束时间不能小于开始时间');
                    $('#Startdate').val($('#Duedate').val());
                }
                if (startDate > curDate.getTime()) {
                    layer.msg('开始时间不能大于当前时间');
                    $('#Startdate').val(curYearMonthrDay);
                }
            }
        })
        // 时间选择器初始化 结束时间
        laydate.render({ //结束时间
            elem: '#Duedate',
            format: 'yyyy-MM-dd',
            done: function (value, date, endDate) {
                var startDate = new Date($('#Startdate').val()).getTime();
                var endTime = new Date(value).getTime();
                if (endTime < startDate) {
                    layer.msg('结束时间不能小于开始时间');
                    $('#Duedate').val($('#Startdate').val());
                }
               
            }
        })
  
        //提交数据
        form.on('submit(demo1)', function (data) {

            var x = data.field;
            console.log(x);
            ajaxprice("/Teachingquality/ClassSchedule/InsuranceAdd", x, function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.GetData();
                parent.layer.close(index);
            })
           
        });

       

        //正则表达式
        form.verify({
            //StuName: function (value, item) { //value：表单的值、item：表单的DOM对象
            //    if (/^[\da-zA-z]{6,10}$/.test(value)) {
            //        return '班级名称由字母或者数字组成,6-10位';
            //    }
            //}
        });
        //ajax
       
   
       


    });


</script>
