
@{
    ViewBag.Title = "ConsultTeacherIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using SiliconValley.InformationSystem.Entity.ViewEntity

@section style{
    <style type="text/css">
        .item
        {
            height: 200px;
            width: 180px;
            display: inline-block;
            margin-left: 20px;
            margin-right: 20px;
        }

        .divMyCss
        {
            width: 1000px;
            margin: 100px auto;
        }

        body .demo-class .layui-layer-title
        {
            background: #ffd800;
            color: #fff;
            border: none;
        }

        .spanCssone
        {
            font-size: 25px;
            font-family: STSong
        }

        .demo-class .layui-layer-btn a
        {
            background: #ffd800;
            color: #fff;
            border: none;
        }

        body .demo-class2 .layui-layer-title
        {
            background: #009688;
            color: #fff;
            border: none;
        }

        li
        {
            text-align: center;
            border-bottom: 1px solid #009688
        }

            li:hover
            {
                cursor: pointer;
            }

        .LableCss1
        {
            text-overflow: ellipsis;
            white-space: nowrap;
            float: left;
            display: block;
            padding: 9px 15px;
            width: 80px;
            font-weight: 400;
            line-height: 20px;
            text-align: right
        }

        .layui-colla-title
        {
            position: relative;
            padding: 0 15px 0 35px;
            color: #333;
            background-color: #f2f2f2;
            cursor: pointer;
            font-size: 14px;
            overflow: hidden;
            height: 15px;
            line-height: 15px;
        }
    </style>
}


<div class="layui-collapse" lay-accordion>
    <div class="layui-colla-item">
        <h2 class="layui-colla-title">简单查询</h2>
        <div class="layui-colla-content">
            <form class="layui-form">
                <div class="layui-row layui-form-item">
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                        <div class="layui-col-sm2">
                            <label class="LableCss1">咨询师:</label>
                            <div class="layui-input-block">
                                <select id="Myinput" name="Myinput" class="layui-select">
                                    <option value="0">--请选择--</option>
                                    @{
                                        foreach (T_ConsultTeacherData item2 in ViewBag.data as List<T_ConsultTeacherData>)
                                        {
                                            <option myid="@item2.Id" value="@item2.Id">@item2.EmpName</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="layui-col-sm2" style="text-align:right">
                            <button id="serchBtn1" type="button" class="layui-btn">查询</button>
                            <input type="hidden" name="Myinput" id="Myinput" />
                        </div>
                    </div>

                </div>
            </form>

        </div>
    </div>
</div>

<div style="margin-top:40px;width:90%;height:90%">
    <div id="show">
        @{
            foreach (T_ConsultTeacherData item in ViewBag.data as List<T_ConsultTeacherData>)
            {
                <div class="layui-col-sm2">
                    <div class="item" myid="@item.Id">
                        @{
                            string imge = item.BrainImage;
                            if (string.IsNullOrEmpty(imge))
                            {
                                imge = "1.jpg";
                            }
                            <img src="~/uploadXLSXfile/EmpImage/@imge" style="height:80%;width:100%" />
                        }

                        <div style="text-align:center"><span> @item.EmpName</span></div>
                    </div>
                </div>

            }
        }
    </div>
</div>




@section script{
    <script>
        $(function () {
            $("#serchBtn1").click(function () {
                //获取Id
                var id = $("#Myinput").val();
                console.log(id);
                if (id == 0) {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg("请选择咨询师!!!", { icon: 2 })
                    });
                } else {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.open({
                            type: 2,
                            content: '/Market/ConsultTeacher/ConsultTeacherDefalut/' + id
                            , area: ['1000px', '700px'],
                            title: '咨询师详情信息'
                            , shade: 0.8
                            , anim: 4
                            , skin: 'demo-class2'
                        });
                    });
                }

            });

            //给imag注册点击事件
            $(".item").click(function (event) {
                var id = event.currentTarget.getAttribute("myid");
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.confirm('是否查看详情？',
                        { icon: 3, title: '系统温馨提示', shade: 0.8 },
                        function (index) {
                            //打开详情页面
                            layer.close(index);//关闭弹出层
                            layer.open({
                                type: 2,
                                content: '/Market/ConsultTeacher/ConsultTeacherDefalut/' + id
                                , area: ['1000px', '700px'],
                                title: '咨询师详情信息'
                                , shade: 0.8
                                , anim: 4
                                , skin: 'demo-class2'
                            });
                        });
                });
            });
        });
        //刷新页面
        function Flush() {
            location.reload([true]);
        }

        layui.use(['form', 'element'], function () {
            var form = layui.form;
            var element = layui.element;
        })
    </script>
}
