 
@{
    Layout = null;
}
@model SiliconValley.InformationSystem.Entity.MyEntity.StudentUnionLeaves
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentunionCheng</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <style>
        .Nation{
            width:400px;
            height:160px;
        }
        .mysql{
            margin-top:15px;
        }
        .linu{
            width:200px;
        }
    </style>
</head>
<body>
    <div>
        <form class="layui-form" action="" id="form">
            <div class="layui-container">
                <fieldset style="height:430px;">

                    <legend>学生会离职数据</legend>

                    <div class="layui-row layui-form-item" style="margin-left:130px;">

                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                            <label class="layui-form-label" id="lab1">学号</label>
                            <div class="layui-input-inline" style="color:blueviolet;margin-top:10px;">
                                @ViewBag.Studentnumber

                            </div>
                        </div>
                        @Html.HiddenFor(a=>a.Union_id)
                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">

                            <label class="layui-form-label">当前部门</label>
                            <div class="layui-input-inline" style="margin-top:10px;">
                              @ViewBag.department

                            </div>

                        </div>
                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                            <label class="layui-form-label">离职原因</label>
                            <div class="layui-input-block">
                                @Html.TextAreaFor(a => a.Reason, new Dictionary<string, object>() { { "lay-verify", "required" }, { "placeholder", "请输入原因" }, { "class", "llayui-textarea Nation" } })
                            </div>
                        </div>
                        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 mysql">
                            <label class="layui-form-label">离职日期</label>
                            <div class="layui-input-block">

                                @Html.TextBoxFor(a => a.Datetimes, new Dictionary<string, object>() { { "lay-verify", "date|required" }, { "autocomplete", "off" }, { "placeholder", "年-月-日" }, { "class", "layui-input linu" } })
                            </div>
                        </div>
                    </div>

                    <div class="layui-row layui-form-item">

                    </div>


                </fieldset>
            </div>
            <div class="layui-row layui-form-item" style="margin-top:20px;">
                <div class="layui-col-xs10 layui-col-sm10 layui-col-md10" style="text-align:center;">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" type="button" lay-filter="demo1">立即提交</button>
                        <button type="reset" id="butn" class="layui-btn layui-btn-primary">重置</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</body>
</html>
<script src="~/Areas/Teachingquality/js/AjaxAddupdate.js"></script>
<script>
    var UnID = '@Html.Raw(ViewBag.Union_id)';
    console.log(UnID);
    $("#Union_id").val(UnID);
    layui.use(['form', 'layedit', 'layer', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        laydate.render({
            elem: '#Datetimes',
            format: 'yyyy-MM-dd',
            done: function (value, date, endDate) {
                var startDate = new Date(value).getTime();
                var mydate = new Date();
                if (startDate > mydate.getTime()) {
                    layer.msg('不能超过当前日期');
                    $('#Datetimes').val(getNowFormatDate(mydate));
                }

            }
        });

        //监听提交
        form.on('submit(demo1)', function (data) {


            var data = data.field;
            ajaxUniom("/Teachingquality/StudentUnion/StudentunionCheng", data);
            console.log(data);

        });


    });
</script>
