
@{
    Layout = null;
}
@using SiliconValley.InformationSystem.Entity.MyEntity;
@model SiliconValley.InformationSystem.Entity.MyEntity.DaysOff
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DaysOffApply</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>

    <style>
        #but1 {
            position: absolute;
            top: 13%;
            left: 35%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 36px;
        }

            #but1:hover {
                background-color: aqua;
            }

        #Nation {
            width: 100px;
        }

        .linu {
            height: 120px;
        }
    </style>
</head>
<body>
    <div>
        <form class="layui-form" action="" lay-filter="formtest" id="myform">
            <div class="layui-container">
                <input type="hidden" name="EmployeeId" id="EmployeeId" value="@ViewBag.eid" />

                <div class="layui-form-item">
                    <label class="layui-form-label">申请人:</label>
                    <div class="layui-input-block">
                        <input type="text" name="EmpName" id="EmpName" readonly style="border:0px;" class="layui-input" />
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">开始时间:</label>
                    <div class="layui-input-block">
                        @Html.TextBoxFor(a => a.StartTime, new Dictionary<string, object>() { { "class", "layui-input " } })
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">结束时间:</label>
                    <div class="layui-input-block">
                        @Html.TextBoxFor(a => a.EndTime, new Dictionary<string, object>() { { "class", "layui-input " } })
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label" style="width:120px;margin-left:-40px;">调休时长(小时):</label>
                    <div class="layui-input-block">
                        @Html.TextBoxFor(a => a.Duration, new Dictionary<string, object>() { { "class", "layui-input " } })
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">调休理由:</label>
                    <div class="layui-input-block">
                        @Html.TextBoxFor(a => a.LeaveReason, new Dictionary<string, object>() { { "class", "layui-input " } })
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">图片:</label>
                    <div class="layui-input-block">
                        <input type="file" id="Image" name="Image" />
                       <div style="border:1px solid #808080;width:400px;height:200px;">
                          <img id="showimg" style="width:400px;height:200px;" />
                       </div>
                    </div>
                </div>

            </div>

            <div class="layui-form-item" style="margin-top:40px;">
                <div class="layui-input-block">
                    <button class="layui-btn layui-btn-warm" lay-submit="" type="button" lay-filter="demo1">立即提交</button>
                    <button class="layui-btn layui-btn-warm" id="btnclose1">关闭</button>
                </div>
            </div>
        </form>
    </div>


    <script>
        //异步读取图片并显示
        document.querySelector("#Image").onchange = function () {
            //1.0获取选择的文件
            var f = this.files[0];
            //创建文件读取器
            var file = new FileReader();
            //读取文件,参数代表要读取的文件
            file.readAsDataURL(f);

            //开始读取文件
            //file.start();
            //注意文件的读取时异步读取的
            //要在file.onload事件中才能获取到文件的内容
            file.onload = function (e) {
                document.querySelector("#showimg").src = e.target.result;
            };

            //最后通过file.result属性返回读取文件的内容
            document.querySelector("#showimg").src = file.result;
        }

        $(function () {
            loademp();// 初始化编辑数据加载
        });
        function loademp() {
            var id = $("#EmployeeId").val();
            console.log(id);
            $.get("/Personnelmatters/ApprovalManagement/GetEmpid/" + id, function (data) {
                layui.use(['layer', 'form', 'table'], function () {
                    var form = layui.form, laydate = layui.laydate;
                    $("#EmpName").val(data.EmpName);
                    form.val("formtest", data);

                });
            })
        }


        layui.use(['form', 'layedit', 'laydate','upload'], function () {
            var form = layui.form
                , layer = layui.layer
                , layedit = layui.layedit
                , laydate = layui.laydate
                , upload = layui.upload;



            //计算两个时间的小时差
            function getInervalHour(startDate, endDate) {

                var date1 = new Date(startDate);
                var date2 = new Date(endDate);
                var day1 = date1.getDate();
                var day2 = date2.getDate();

                if (day2 - day1 == 0) {
                    var hours1 = date1.getHours();
                    var hours2 = date2.getHours();
                    var minuts1 = date1.getMinutes();
                    var minuts2 = date2.getMinutes();
                    var result = hours2 - hours1;
                    if (minuts2 - minuts1 >= 30 && minuts2 - minuts1 < 60) {
                        result = result + 0.5;
                    } else if (minuts1 - minuts2 > 0 && minuts1 - minuts2 <= 30) {
                        result = result - 0.5;
                    } else if (minuts1 - minuts2 > 30 && minuts1 - minuts2 < 60) {
                        result = result - 1;
                    }
                }
                return result;
            }

            //注：结束时间不能小于开始时间，开始时间不能大于结束时间，加班的时间只能每天申请
            var startTime = laydate.render({
                elem: '#StartTime',
                type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss',
                done: function (value, date) {
                    endTime.config.min = {
                        year: date.year,
                        month: date.month - 1,//关键
                        date: date.date,
                        hours: date.hours,
                        minutes: date.minutes,
                        seconds: date.seconds
                    },
                        endTime.config.max = {
                            year: date.year,
                            month: date.month - 1,//关键
                            date: date.date,
                            hours: '23',
                            minutes: '59',
                            seconds: '59'
                        }
                    var myendtime = $("#EndTime").val();;
                    if (myendtime != "") {
                        var time;
                        //var stime = new Date(myendtime);
                        //if (stime.getHours() < 17 || (stime.getHours()== 17 && stime.getMinutes() < 30)) {
                        //    time = 0;
                        //} else if (date.hours > 17 || (date.hours == 17 && date.minutes >= 30)) {
                        //    time = getInervalHour(value,myendtime);
                        //} else {
                        //    var start = new Date(value);
                        //    start.setHours(17);
                        //    start.setMinutes(30);
                        //    time = getInervalHour(start, myendtime);
                        //}
                        time = getInervalHour(value, myendtime);
                        $("#Duration").val(time);
                    }

                }
            });//开始时间
            var endTime = laydate.render({
                elem: '#EndTime',
                type: 'datetime',
                format: 'yyyy-MM-dd HH:mm:ss',
                done: function (value, date) {
                    startTime.config.max = {
                        year: date.year,
                        month: date.month - 1,//关键
                        date: date.date,
                        hours: date.hours,
                        minutes: date.minutes,
                        seconds: date.seconds
                    },
                        startTime.config.min = {
                            year: date.year,
                            month: date.month - 1,//关键
                            date: date.date,
                            hours: '0',
                            minutes: '0',
                            seconds: '0'
                        }
                    var mystarttime = $("#StartTime").val();
                    var time;
                    if (mystarttime != "") {
                        //var stime = new Date(mystarttime);
                        //if (date.hours < 17 || (date.hours == 17 && date.minutes < 30)) {
                        //    time = 0;
                        //} else if (stime.getHours() > 17 || (stime.getHours() == 17 && stime.getMinutes() >= 30)) {
                        //    time = getInervalHour(mystarttime, value);
                        //} else {
                        //    stime.setHours(17);
                        //    stime.setMinutes(30);
                        //    time = getInervalHour(stime, value);
                        //}
                        time = getInervalHour(mystarttime, value);
                        $("#Duration").val(time);
                    }
                }
            });//结束时间

            //添加提交
            form.on('submit(demo1)', function (data) {
                var fd = new FormData();
                var myimg = document.querySelector("#Image").files[0];
                fd.append('Image', myimg);
                for (var item in data.field) {
                    fd.append(item, data.field[item]);
                }
                console.log(fd);

                $.ajax({
                    type: "post",
                    url: "/Personnelmatters/ApprovalManagement/DaysOffApply",
                    data: fd,
                    dataType: "json",

                    //报错请加入以下三行，则ajax提交无问题
                    cache: false,
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        if (data.Success) {
                            layer.alert("申请成功!", { icon: 1 }, function () {
                                var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                                parent.layer.close(index);

                            });
                        } else {
                            layer.alert("申请失败!");
                        }
                    }
                });

            });

            //关闭添加页面
            $("#btnclose1").click(function () {
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });
        });
        function changeDateTimeFormat(cellval) {
            if (cellval != null) {
                var date;
                if (cellval.indexOf("/Date(") >= 0) {
                    date = new Date(parseInt(cellval.replace("/Date(", "").replace(")/", ""), 10));
                }
                else {
                    date = new Date(cellval);
                }

                var month = date.getMonth() + 1 < 10 ? "0" + (date.getMonth() + 1) : date.getMonth() + 1;
                var currentDate = date.getDate() < 10 ? "0" + date.getDate() : date.getDate();
                var hour = date.getHours() < 10 ? "0" + date.getHours() : date.getHours();
                var minute = date.getMinutes() < 10 ? "0" + date.getMinutes() : date.getMinutes();
                var ss = date.getSeconds() < 10 ? "0" + date.getSeconds() : date.getSeconds();

                return date.getFullYear() + "-" + month + "-" + currentDate + " " + hour + ":" + minute + ":" + ss;
            } else {
                return "";
            }
        }


     
    </script>
</body>
</html>
