
@{
    Layout = null;
}

@using SiliconValley.InformationSystem.Entity.MyEntity
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StuAttendance</title>
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>

</head>
<body>
    <input type="text" style="display:none;" value="@ViewBag.InteStu" id="text1" />
    <h2 style="text-align:center;color:dodgerblue;">@ViewBag.Classe 班</h2>
    <div style="margin-left:30px;">
        @{
            int a = 0;
            foreach (var item in Model as List<StudentInformation>)
            {
                a++;
                if (a > 4)
                {
                    a = 0;
                    <br />
                }
              
                    <button type="button" style="width:135px;margin-top:10px;" class="layui-btn stu"  value="@item.StudentNumber"><i class="layui-icon">&#xe770;</i>@item.Name (@item.StudentNumber.Substring(12))</button>
        
              

            }
        }

        <br>
    </div>
  
        <div class="layui-col-xs10 layui-col-sm10 layui-col-md10" style="text-align:center;position:absolute;top:90%;">
            <div class="layui-input-block">
                <button class="layui-btn layui-btn-normal"  id="but1" type="button" >立即提交</button>
             
            </div>
        </div>

 
</body>
</html>
<script>
    var arr = new Array();
    var atrr = new Array();
    var name = "";
    var stuid = "";
    //text1
    var text = $("#text1").val();
    //图标变色
    $(".stu").click(function (e) {
        var a = $(this).val();
        var b = $(this).text();
       
        if (!$(this).is(".layui-btn-danger")) {
            if (text == "2018") {
                $(".stu").removeClass("layui-btn-danger");
                $(this).addClass("layui-btn-danger");
                name = b;
                stuid = a;
            } else {
                $(this).addClass("layui-btn-danger");

                arr.push(a);
                atrr.push(b);
            }
            
           
        } else {
            stuid = "";
            $(this).removeClass("layui-btn-danger");
            for (var i = 0; i < arr.length; i++) {
                if (arr[i] == a) {
                   
                    arr.splice(i, 1);
                   
                }

            }
            for (var i = 0; i < atrr.length; i++) {
                if (atrr[i] == b) {
                    atrr.splice(i,1);
                }
            }
          
        }
     

    });
    //提交数据
    layui.use(['layer'], function () {
        var layer = layui.layer;
        $("#but1").click(function () {
            var x = "";
            var c = "";
            if (text == "2018") {
                var na = name.split('(');
                c = na[0].substring(1);
                x = stuid;
            } else {
                for (var i = 0; i < arr.length; i++) {
                    if (arr[i] != "") {


                        x += arr[i] + ",";

                    }
                }
                for (var i = 0; i < atrr.length; i++) {
                    if (atrr[i] != "") {
                        var Z = atrr[i].split('(')
                        if (i < arr.length - 1) {

                            c += Z[0].substring(1) + ",";
                        } else {
                            c += Z[0].substring(1);
                        }
                    }


                }
            }
            console.log(x);
            if (x != "") {
                layer.confirm('您真的要选择吗?', function (index) {
                    parent.GetPartsItmes(x, c);
                    parent.layer.close(parent.layer.index);
                });
            } else {
                layer.msg('请选择学员');
            }
           
           

        });
    });
  
</script>
