
@{
    ViewBag.Title = "AnpaiNotMarginView";
    Layout = null;
}

<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
<link href="~/Scripts/Tangmin_CssAndJs/com_js/MyOrther_tangmin.css" rel="stylesheet" />
<style>

    .BtnTureCss
    {
        margin-left: 30%;
        margin-top: 10px;
    }

    .layui-unselect
    {
        width: 225px;
    }

    .DivFormCss
    {
        width: 90%;
        height: 95%;
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .DivCss2
    {
        width: 110px;
    }

    .DivCss3
    {
        width: 225px;
    }

    .DivCss4
    {
        width: 100px;
    }

    .SelectCss2
    {
    }
</style>

<div id="system_div" class="DivFormCss">
    <form class="layui-form" id="system_form" lay-filter="NotMargin_form">
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs8 layui-col-sm8 layui-col-md8">
                <label class="LableCss1">阶&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;段:</label>
                <div class="layui-input-block">
                    @Html.DropDownList("ortherGrand", ViewBag.orthergrand as IEnumerable<SelectListItem>, new Dictionary<string, object>() { { "class", "layui-unselect" }, { "lay-filter", "ortherGrand" } })
                </div>
            </div>

            <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
                <label class="LableCss1">班&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级:</label>
                <div class="layui-input-block layui-unselect" id="ortherclass">

                </div>
            </div>
        </div>

        <div class="layui-row layui-form-item">
            <div class="layui-col-xs8 layui-col-sm8 layui-col-md8">
                <label class="LableCss1">排课日期:</label>
                <div class="layui-input-block">
                    <input type="text" id="anpaitime" name="anpaitime" class="layui-input layui-unselect" placeholder="排课日期" lay-verify="required" />
                </div>
            </div>

            <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">
                <label class="LableCss1">上课时间:</label>
                <div id="MYClssTime" class="layui-input-block DivCss3">

                </div>
            </div>
        </div>

        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="LableCss1">课程类型:</label>
                <div class="layui-input-block">
                    <div class="layui-collapse" lay-accordion style="width:96%">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title" style="background-color:rgba(255,255,255,1)">课程类型选择区:</h2>
                            <div class="layui-colla-content ">
                                @{
                                    List<SelectListItem> C_list = ViewBag.select as List<SelectListItem>;
                                    foreach (SelectListItem l in C_list)
                                    {
                                        <input id="currtype" name="currtype" type="radio" value="@l.Value" title="@l.Text" lay-filter="typeradio" />
                                    }
                                }
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="LableCss1">老&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;师:</label>
                <div class="layui-input-block">
                    <div class="layui-collapse" lay-accordion style="width:96%">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title" style="background-color:rgba(255,255,255,1)">上课老师选择区:</h2>
                            <div id="MYteacher" class="layui-colla-content ">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="LableCss1">所属校区:</label>
                <div class="layui-input-block">
                    <div class="layui-collapse" lay-accordion style="width:96%">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title" style="background-color:rgba(255,255,255,1)">上课教室选择区:</h2>
                            <div id="Schooladdress_Div" class="layui-colla-content ">
                                @{
                                    List<SelectListItem> S_list = ViewBag.schoolAddress as List<SelectListItem>;
                                    foreach (SelectListItem l in S_list)
                                    {
                                        <input id="schooladdress" lay-filter="address" name="schooladdress" type="radio" value="@l.Value" title="@l.Text" />
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="LableCss1">教&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;室:</label>
                <div class="layui-input-block">
                    <div class="layui-collapse" lay-accordion style="width:96%">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title" style="background-color:rgba(255,255,255,1)">上课教室选择区:</h2>
                            <div id="classroom_Div" class="layui-colla-content ">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
                <label class="LableCss1">上课星期:</label>
                <div class="layui-input-block">
                    <div class="layui-collapse" lay-accordion style="width:96%">
                        <div class="layui-colla-item">
                            <h2 class="layui-colla-title" style="background-color:rgba(255,255,255,1)">上课星期选择区:</h2>
                            <div class="layui-colla-content ">
                                <input type="radio" name="days" id="days" value="1" title="星期一" />
                                <input type="radio" name="days" id="days" value="2" title="星期二" />
                                <input type="radio" name="days" id="days" value="3" title="星期三" />
                                <input type="radio" name="days" id="days" value="4" title="星期四" />
                                <input type="radio" name="days" id="days" value="5" title="星期五" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row layui-form-item">
            <div class="layui-col-xs8 layui-col-sm8 layui-col-md8">
                <div class="layui-input-block">
                    <div style="width:90%;text-align:right">
                        <input id="Anan" type="submit" class="layui-btn" lay-submit="" lay-filter="Anpinomargin" value="确定排课" />
                        <input type="button" class="layui-btn" onclick="Myclose()" value="取消关闭" />
                    </div>

                </div>
            </div>
        </div>

    </form>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/layui/layui.js"></script>
<script>
    //关闭弹出层
    function Myclose() {
        var layer = layui.layer;
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }
    layui.use(['form', 'laydate', 'element'], function () {
        var form = layui.form;
        var laydate = layui.laydate;
        var layer = layui.layer;
        var element = layui.element;
        laydate.render({
            elem: '#anpaitime'
            , type: 'date'
            , format: 'yyyy-MM-dd'
            , theme: 'grid'
            , trigger: 'click'
        });

        //获取班级
        form.on('select(ortherGrand)', function (data) {
            //清空班级DIV
            $("#ortherclass")[0].innerHTML = "";

            if (data.value != "0") {
                $.ajax({
                    url: '/Educational/Reconcile/GetClassScheduleSelect/' + data.value,
                    success: function (sudata) {
                        //获取班级slect
                        var classselect = $('<select  id="orther_myclass" name="orther_myclass" lay-filter="orther_bianji"><option value="0" selected>--请选择--</select>');
                        for (var i = 0; i < sudata.length; i++) {
                            $('<option value=' + sudata[i].id + '>' + sudata[i].ClassNumber + '<option>').appendTo(classselect);
                        }
                        $("#ortherclass").append(classselect);
                        form.render(); //更新全部
                    }
                });
            }
        });
        //点击班级获取班级上课时间
        form.on('select(orther_bianji)', function (data) {
            if (data.value != "0") {
                $.ajax({
                    url: '/Educational/Reconcile/GetClassTimeName/' + data.value,
                    success: function (sudata) {
                        if (sudata.Success == false) {
                            layer.msg(sudata.Msg, { icon: 2 });
                        } else {
                            $("#MYClssTime")[0].innerHTML = "";
                            if (sudata.Data = "上午") {
                                var str = '<div class="layui-col-sm7 DivCss2"><select name="timename" id="timename" class="layui-select"><option value="下午12节">下午1/2节 </option><option value="下午34节">下午3/4节 </option></select></div>';
                                $("#MYClssTime").append($(str));
                            } else {
                                var str = '<div class="layui-col-sm7 DivCss2"><select name="timename" id="timename"  class="layui-select"><option value="上午12节">上午1/2节 </option><option value="上午34节">上午3/4节 </option></select></div>';
                                $("#MYClssTime").append($(str));
                            }
                            form.render(); //更新全部
                        }
                    }
                });
            }
        });
        //获取教室
        form.on('radio(address)', function (data) {
            $("#classroom_Div")[0].innerHTML = "";
            var new_data = { "address": data.value };
            $.ajax({
                url: '/Educational/Reconcile/EmptyClassRoom',
                data: new_data,
                type: 'POST',
                success: function (suc) {
                    if (suc.length > 0) {
                        for (var i = 0; i < suc.length; i++) {

                            $('<input id="Classroom_input" name="Classroom_input" type="radio" value="' + suc[i].Value + '" title="' + suc[i].Text + '"/>').appendTo($("#classroom_Div"));

                        }
                        form.render();
                    }
                }
            });
        });
        //监听提交
        form.on('submit(Anpinomargin)', function (data) {
            var selecvalue = data.field.currtype;
            if (data.field.ortherGran == "0") {
                layer.msg('请选择阶段！', { icon: 2 });
            } else if (data.field.orther_myclass == "0") {
                layer.msg('请选择班级！', { icon: 2 });
            }
            else if (selecvalue == "0") {
                layer.msg('请选择课程类型！', { icon: 2 });
            } else if (data.field.teacher_id == "" || data.field.teacher_id == null) {
                layer.msg('请选择老师！', { icon: 2 });
            } else if (data.field.Classroom_input == null || data.field.Classroom_input.length <= 0) {
                layer.msg('请选择教室！', { icon: 2 });
            } else if (data.field.days == null || data.field.days <= 0) {
                layer.msg('请选择上课星期！', { icon: 2 });
            } else {
               // console.log(data.field);
                var loadindex = layer.load(1);
                $.ajax({
                    url: '/Educational/Reconcile/AnpaiNotMarginFunction',
                    data: data.field,
                    type: 'POST',
                    success: function (sucdata) {
                        if (sucdata.Success == false) {
                            layer.close(loadindex);
                            layer.msg('系统错误，请重试!!!', { icon: 2 });
                        } else {
                            layer.close(loadindex);
                            layer.msg('操作成功！', { icon: 1, shade: 0.8 }, function () {
                                //当你在iframe页面关闭自身时
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                            });
                        }
                    }
                });
            }

            return false;
        });

        //获取老师
        form.on('radio(typeradio)', function (data) {
            $("#MYteacher")[0].innerHTML = "";
            var new_data = { "Type": $(data.elem).attr("title")};
            $.ajax({
                url: '/Educational/Reconcile/GetMasterAlldata',
                data: new_data,
                type: 'POST',
                success: function (suc) {
                    if (suc.length > 0) {
                        for (var i = 0; i < suc.length; i++) {
                            $('<input id="teacher_id" name="teacher_id" type="radio" value="' + suc[i].Value + '" title="' + suc[i].Text + '" />').appendTo($("#MYteacher"));
                        }
                        form.render();
                    }
                }
            });

        });
        laydate.render();
    });

</script>

